﻿@page "/"
@namespace OFWClientPanel.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using Ofwpro.Core
@using Microsoft.AspNetCore.Components

@inject NavigationManager navigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@{
    Layout = null;
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OFWPro</title>
    <base href="~/" />

    <link rel="stylesheet" type="text/css" href="~/theme/css/custom-css/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="main" rel="stylesheet" type="text/css" href="~/theme/css/custom-css/style.css">
    <link rel="stylesheet" type="text/css" href="~/theme/css/icons.css">
    <link rel="stylesheet" type="text/css" href="~/theme/css/custom-css/owl.css">
    <link rel="stylesheet" type="text/css" href="~/theme/css/custom-css/prettyPhoto.css">
    <link href="~/theme/css/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/theme/css/fonts/NeueHaasGrotesk/stylesheet_font.css" rel="stylesheet" type="text/css">
    <link href="~/theme/css/custom-css/animate.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="~/theme/assets/images/favico-.png" />
    <link rel="stylesheet" type="text/css" href="~/theme/css/style.css">
    <link href="~/theme/css/animate.css" rel="stylesheet" />
    <link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />

    <link href="~/theme/assets/select2/select2.min.css" rel="stylesheet" />
    <link href="~/js/FileAPI/jcrop/jquery.Jcrop.min.css" rel="stylesheet" />
</head>
<body>
   
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.Server))
    </app>


    @*<div id="blazor-error-ui">
            <environment include="Staging,Production">
                An error has occurred. This application may no longer respond until reloaded.
            </environment>
            <environment include="Development">
                An unhandled exception has occurred. See browser dev tools for details.
            </environment>
            <a href="" class="reload">Reload</a>
            <a class="dismiss">🗙</a>
        </div>*@


    @*<script src="~/theme/js/jquery-1.11.1.min.js"></script>
        <script src="~/theme/js/smoothWheel.js"></script>
        <script src="~/theme/js/bootstrap.min.js"></script>
        <script src="~/theme/js/owl.carousel.js"></script>
        <script src="~/theme/js/jquery.prettyPhoto.js"></script>
        <script src="~/theme/js/images-loaded.js"></script>
        <script src="~/theme/js/jquery.count.js"></script>
        <script src="~/theme/js/knobify.js"></script>
        <script src="~/theme/js/isotope.js"></script>
        <script src="~/theme/js/main.js"></script>*@


    <script src="_framework/blazor.server.js"></script>
    <script src="_content/BlazorInputFile/inputfile.js"></script>
    <script src="_content/CurrieTechnologies.Razor.SweetAlert2/sweetAlert2.min.js"></script>

    @*<script src="_content/BlazorInputFile/inputfile.js"></script>
        <script src="_framework/blazor.server.js"></script>
        <script src="_content/CurrieTechnologies.Razor.SweetAlert2/sweetAlert2.min.js"></script>*@
    @*<script src="js/fileUpload.js"></script>*@

</body>
</html>
