﻿@page "/aboutUs"

@using System.Web
@inject Ofwpro.Services.Interfaces.IWebSettingsService webSettingsService

    <header class="inner_banner"> </header>
<section>
    <div class="content" style="padding:0px">
        <div class="container">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin:0px; padding:0px">
                <h1>About Us</h1>
            </div>
        </div>
    </div>
    @if (!isLoaded)
    {
        <div class="text-center" style="margin-top:40px"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
    }
    else
    {
        <div class="content" style="padding-top:0px">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="text-align:left">
                        @((MarkupString)aboutUs)
                    </div>
                </div>
            </div>
        </div>
    }

</section>


@code{
    private string aboutUs = "";
    bool isLoaded = false;

    protected override async Task OnInitializedAsync()
    {
        var webSettingsObj = await webSettingsService.GetAll();

        if (webSettingsObj.Any())
        {
            var aboutUsObj = webSettingsObj.LastOrDefault();

            if (aboutUsObj != null && aboutUsObj.AboutHtml != null) aboutUs = aboutUsObj.AboutHtml;
        }
            isLoaded = true;
    }
}

@*<header class="inner_banner"> </header>
    <section>
        <div class="container about_w ">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>About Us</h3>
                </div>
                <div class="col-md-12  text-center">
                    <p class="black">
                        OFWPro is the leading job website in Philippines with over 1 million unique visitors every month.<br>
                        OFWPro connects job seekers and employers by giving them an access to open vacancies and thousands of CVs.
                    </p>
                </div>
            </div>
            <div class="row mt-50">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-4 text-center">
                        <h3>250M</h3>
                        <p>unique monthly visitors</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <h3>150M</h3>
                        <p>CVs</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <h3>10</h3>
                        <p>jobs added per second globally</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 statistic">
                    <div class="left-column">
                        <input class="dial" value="94" data-readonly="true" data-fgColor="#22c0e8" data-linecap="round" data-width="60" data-inputcolor="#2f2f2f">
                    </div>
                    <div class="right-column">
                        <h5>Highest Employment Rate</h5>
                        <p>94% of OFWPro members get successfully employed within 1 month from joining date.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 statistic">
                    <div class="left-column">
                        <input class="dial" value="82" data-readonly="true" data-fgColor="#65be3e" data-linecap="round" data-width="60" data-inputcolor="#2f2f2f">
                    </div>
                    <div class="right-column">
                        <h5>Instant Feedback</h5>
                        <p>82% of OFWPro members get feedback within 2 days from applying to open vacancy.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 statistic">
                    <div class="left-column">
                        <input class="dial" value="85" data-readonly="true" data-fgColor="#ec6be1" data-linecap="round" data-width="60" data-inputcolor="#2f2f2f">
                    </div>
                    <div class="right-column">
                        <h5>Proven Performance</h5>
                        <p>85% of leading Filipino companies prefer OFWPro over other job websites.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 statistic">
                    <div class="left-column">
                        <input class="dial" value="98" data-readonly="true" data-fgColor="#770038" data-linecap="round" data-width="60" data-inputcolor="#2f2f2f">
                    </div>
                    <div class="right-column">
                        <h5>Best Talents</h5>
                        <p>98% of employers hire their best talents on OFWPro.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 statistic">
                    <div class="left-column">
                        <input class="dial" value="91" data-readonly="true" data-fgColor="#3fccc7" data-linecap="round" data-width="60" data-inputcolor="#2f2f2f">
                    </div>
                    <div class="right-column">
                        <h5>Accuracy</h5>
                        <p>91% of posted CVs match employers' needs.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 statistic">
                    <div class="left-column">
                        <input class="dial" value="98" data-readonly="true" data-fgColor="#faba20" data-linecap="round" data-width="60" data-inputcolor="#2f2f2f">
                    </div>
                    <div class="right-column">
                        <h5>Devotion</h5>
                        <p>98% of OFWPro members are fully satisfied with the service.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-alt1 no-margin">
        <div class="container">
            <div class="row owl-clients">
                <div class="item text-center"> <img src="/theme/assets/images/clients/1.png" class="client" alt=""> </div>
                <div class="item text-center"> <img src="/theme/assets/images/clients/2.png" class="client" alt=""> </div>
                <div class="item text-center"> <img src="/theme/assets/images/clients/3.png" class="client" alt=""> </div>
                <div class="item text-center"> <img src="/theme/assets/images/clients/4.png" class="client" alt=""> </div>
                <div class="item text-center"> <img src="/theme/assets/images/clients/1.png" class="client" alt=""> </div>
                <div class="item text-center"> <img src="/theme/assets/images/clients/2.png" class="client" alt=""> </div>
                <div class="item text-center"> <img src="/theme/assets/images/clients/3.png" class="client" alt=""> </div>
                <div class="item text-center"> <img src="/theme/assets/images/clients/4.png" class="client" alt=""> </div>
            </div>
        </div>
    </section>*@