﻿@page "/en/home/about_us"

@inject Ofwpro.Services.Interfaces.IPagesService pagesService

    <section>
        <div class="content" style="padding:0px">
            <div class="container">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin:0px; padding:0p">
                    <h1> About Us</h1>
                </div>
            </div>
        </div>



        <div class="content" style="padding-top:0px">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="text-align:left">
                        @AboutUs
                    </div>
                </div>
            </div>
        </div>
    </section>


@code{
    private string AboutUs = "";

    protected override async Task OnInitializedAsync()
    {
        var pagesObj = await pagesService.GetAll();

        if (pagesObj.Any())
        {
            var aboutUsPage = pagesObj.Where(x => x.AboutUs.Trim().ToLower().Equals("about us")).LastOrDefault();

            if (aboutUsPage != null) AboutUs = aboutUsPage.ContactUs;
        }
    }
}
