﻿@page "/activate/{activateUserKey}"


@using OFWClientPanel.Services
@using  System.Globalization

@inject Ofwpro.Services.Interfaces.IJobSeekerService jobSeekerService
@inject Ofwpro.Services.Interfaces.IRecruiterService recruiterService
@inject Ofwpro.Services.Interfaces.IRecruiterCompanyService recruiterCompanyService


<section>
    @if (!isLoaded)
    {
        <div class="text-center" style="margin-top:40px"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
    }
    else
    {
        <div class="content" style="padding-top:0px">
            <div class="container">
                <div class="row">
                    <div class="container">
                        <div class="alert alert-primary" role="alert">
                            @activationMessage <a href="#" class="alert-link">Click here</a> to login.
                        </div>
                    </div>
                    @*<h2>@activationMessage</h2>*@
                </div>
            </div>
        </div>
    }

</section>
@code {

    [Parameter] public string activateUserKey { get; set; }


    private bool isLoaded = false;
    private string activationMessage = "";



    protected override async Task OnInitializedAsync()
    {
        try
        {
            var jobSeeker = await jobSeekerService.GetByActivationToken(activateUserKey);

            if (jobSeeker != null)
            {
                //var isActivated = jobSeekerService.Activate(jobSeeker.JobSeekerId, true);

                jobSeeker.IsActive = true;
                jobSeeker.AccActivationToken = "";
                long savedId = jobSeekerService.Save(jobSeeker);

                if (savedId > 0)
                {
                    activationMessage = "Your account has been successfully activated.";
                }
                else
                {
                    activationMessage = "We are unable to activate your account. Please try after some time.";
                }

                isLoaded = true;
            }
            else
            {
                var recruiter = await recruiterService.GetByActivationToken(activateUserKey);

                if (recruiter != null)
                {
                    //var isActivated = recruiterService.Activate(recruiter.RecruiterId, true);

                    recruiter.IsActive = true;
                    recruiter.AccActivationToken = "";
                    long savedId = recruiterService.Save(recruiter);

                    if (savedId > 0)
                    {

                        var recruiterCompany = await recruiterCompanyService.GetByRecruiterId(recruiter.RecruiterId);

                        if (recruiterCompany != null)
                        {
                            bool isActivated = recruiterCompanyService.Activate(recruiterCompany.RecruiterCompanyId,true);

                            if (isActivated)
                            {
                                activationMessage = "Your account has been successfully activated.";
                            }
                            else
                            {
                                activationMessage = "We are unable to activate your account. Please try after some time.";
                            }
                        }
                        else
                        {
                            activationMessage = "We are unable to activate your account. Please try after some time.";
                        }
                    }
                    else
                    {
                        activationMessage = "We are unable to activate your account. Please try after some time.";
                    }

                    isLoaded = true;
                }
            }

            if (activationMessage == "")
            {
                isLoaded = true;
                activationMessage = "We can not find this account. Please contact administrator.";
            }
        }
        catch (Exception ex)
        {

        }

    }
}
