﻿@page "/jobSeekerDashboard/jobDescription"

@using OFWClientPanel.Data.Models.Recruiter
@using Ofwpro.Services.Interfaces
@using Ofwpro.Core

@inject IModalService ModalService
@inject IRecruiterPostedJobsAndApplicantsService recruiterPostedJobsAndApplicantsService
@inject Ofwpro.Services.Interfaces.ISalaryRangeService salaryRangeService
@inject Ofwpro.Services.Interfaces.ICountryDetailsService countryDetailsService
@inject Ofwpro.Services.Interfaces.IRecruiterPostedJobsService recruiterPostedJobsService
@inject Ofwpro.Services.Interfaces.IRecruiterCompanyService recruiterCompanyService
@inject Ofwpro.Services.Interfaces.IEmployeeTypeService employeeTypeService
@inject Ofwpro.Services.Interfaces.IJobSeekerService jobSeekerService
@inject Ofwpro.Services.Interfaces.ICompanyTypeService companyTypeService
@inject Ofwpro.Services.Interfaces.IEmployeeTypeService employeeTypeService
@inject Ofwpro.Services.Interfaces.IExperienceLevelService experienceLevelService
@inject Ofwpro.Services.Interfaces.IRecruiterAttachmentService recruitmentAttachmentService

@inject Microsoft.Extensions.Configuration.IConfiguration config;
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject SweetAlertService Swal
@inject IJSRuntime JSRuntime
@inject NavigationManager navigationManager



<div class="worker-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 pro_det">
                <img src="@postJob.CompanyLogoURL" class="com_log_pic" alt="">
                <h3>@postJob.Title</h3>
                <h5>@postJob.CompanyName</h5>
                <p class="m_0">@postJob.City, @postJob.Country</p>

                <div class="row">
                    <AuthorizeView>
                        <Authorized>
                            @if (UserType == "Job Seeker")
                            {

                                @if (isApplied)
                                {
                                    <div class="col-md-12">
                                        <button type="button" class="btn red ml_0 mb_10 wd_150">Applied Already</button>
                                    </div>
                                    <div class="col-md-12">
                                        @* <a href="javascript:void(0);" class="btn gray ml_0 mb_10 wd_150" @onclick="@(()=>ShowMessageModal(UserType, Convert.ToInt64(postJob.JobSeekerId), Convert.ToInt64(postJob.RecruiterId)))">Send Message</a>*@
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-12">
                                        <button type="button" class="btn blue ml_0 mb_10 wd_150" @onclick="@(() => ApplyJob(postJob))">Apply</button>
                                    </div>
                                }
                            }

                        </Authorized>
                        <NotAuthorized>
                            <div class="col-md-12">
                                <button type="button" class="btn black ml_0 mb_10 wd_150" @onclick="@(() => GoToLogin())">Login To Apply</button>
                            </div>
                        </NotAuthorized>
                    </AuthorizeView>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-1">
                <div class="table-responsive">
                    <div class="col-md-12 description">
                        <h4 class="mt-0">Summary</h4>
                        <p>@((MarkupString)postJob.Description)</p>
                    </div>
                    <div class="col-md-12 description">
                        <h4 class="mt-60">About Company</h4>
                        <p>@((MarkupString)postJob.CompanyDescription)</p>
                    </div>
                    <div class="col-md-12 description">
                        <h4 class="mt-60">Job Details</h4>
                    </div>
                    <div class="col-md-12 detail_fields">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Employment Type</label>
                                <input disabled type="text" class="form-control" @bind="postJob.EmploymentType">
                            </div>
                            <div class="col-md-6">
                                <label>Company Type</label>
                                <input disabled type="text" class="form-control" @bind="postJob.CompanyType">
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-6">
                                <label>Salary Range</label>
                                <input disabled type="text" class="form-control" @bind="postJob.SalaryRange">
                            </div>
                            <div class="col-md-6">
                                <label>Preferred Experience</label>
                                <input disabled type="text" class="form-control" @bind="postJob.ExperienceLevel">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code{
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter] public string PostedJobId { get; set; }

    PostJob postJob = new PostJob();

    private Ofwpro.Core.JobSeeker UserDetails;
    private Ofwpro.Core.RecruiterPostedJobsAndApplicants recruiterPostedJobsAndApplicants;

    //private dynamic CountryDetails { get; set; } = null;
    //private dynamic SalaryRanges { get; set; } = null;

    private string UserType = "";

    private bool isApplied = false;

    protected override async Task OnInitializedAsync()
    {
        UserType = await localStorage.GetItemAsync<string>("UserType");

        if (UserType == null) UserType = "";

        RecruiterPostedJobs postedJobsObj = new RecruiterPostedJobs();
        UserDetails = new Ofwpro.Core.JobSeeker();

        UserDetails = await localStorage.GetItemAsync<Ofwpro.Core.JobSeeker>("JobSeekerDetails");

        string hostUrl = config["Utility:ClientBaseURL"].ToString();
        string uploadFolderName = config["UploadFolders:UploadFolder"];

        var CountryDetails = await countryDetailsService.GetAll();
        var SalaryRangesData = await salaryRangeService.GetAll(0, 99999);
        var SalaryRanges = SalaryRangesData.Item1;
        postedJobsObj = await recruiterPostedJobsService.GetById(Convert.ToInt64(PostedJobId));

        if (postedJobsObj != null)
        {
            var recruiterCompany = (await recruiterCompanyService.GetByRecruiterId(postedJobsObj.RecruiterId));
            var recruiterAttachment = (await recruitmentAttachmentService.GetByDocumentType(postedJobsObj.RecruiterId, "company_logo"));

            string UploadedFrom = "";
            if (recruiterAttachment != null && recruiterAttachment.UploadedFrom != null) UploadedFrom = recruiterAttachment.UploadedFrom;

            if (UploadedFrom == "Client") hostUrl = config["Utility:ClientBaseURL"].ToString();
            else if (UploadedFrom == "Admin") hostUrl = config["Utility:APIBaseURL"].ToString();

            var country = CountryDetails.Where(c => c.Id == postedJobsObj.CountryId).LastOrDefault();
            var salaryRange = SalaryRanges.Where(c => c.Id == postedJobsObj.SalaryRangeId).LastOrDefault();

            postJob.PostedJobId = postedJobsObj.RecruiterPostedJobsId.ToString();
            postJob.JobSeekerId = UserDetails != null ? UserDetails.JobSeekerId.ToString() : "0";
            postJob.RecruiterId = postedJobsObj.RecruiterId.ToString();
            postJob.ReferenceNo = postedJobsObj.ReferenceNo;
            postJob.Title = postedJobsObj.Title;
            postJob.Description = postedJobsObj.Description;
            postJob.CountryId = postedJobsObj.CountryId.ToString();
            postJob.City = postedJobsObj.City;
            //postJob.EmploymentType = postedJobsObj.EmploymentType;
            postJob.CompanyType = postedJobsObj.CompanyType.ToString();
            postJob.ExperienceLevel = postedJobsObj.ExperienceLevel.ToString();
            postJob.RolesJobId = postedJobsObj.RolesJobId.ToString();
            postJob.Country = country.Name;
            if (salaryRange != null) postJob.SalaryRange = salaryRange.Name;
            if (country != null) postJob.Country = country.Name;
            postJob.CreatedOn = postedJobsObj.CreatedOn;

            postJob.CompanyName = recruiterCompany.CompanyName;
            if (recruiterAttachment != null) postJob.CompanyLogoURL = hostUrl + uploadFolderName + "/" + recruiterAttachment.FileNameUpdated;
            postJob.CompanyDescription = recruiterCompany.AboutCompany;

            if (postedJobsObj.CompanyType > 0)
            {
                var companyType = companyTypeService.GetById(postedJobsObj.CompanyType);

                if (companyType != null)
                {
                    postJob.CompanyType = companyType.Name;
                }
            }
            if (postedJobsObj.EmploymentType > 0)
            {
                var employmentType = employeeTypeService.GetById(Convert.ToInt32(postedJobsObj.EmploymentType));

                if (employmentType != null)
                {
                    postJob.EmploymentType = employmentType.Name;
                }
            }
            if (postedJobsObj.ExperienceLevel > 0)
            {
                var experienceLevel = experienceLevelService.GetById(Convert.ToInt32(postedJobsObj.ExperienceLevel));

                if (experienceLevel != null)
                {
                    postJob.ExperienceLevel = experienceLevel.Name;
                }
            }


            if (UserType == "Job Seeker")
            {
                var jobSeekerCVs = await jobSeekerService.GetByPostedJob(postedJobsObj.RecruiterPostedJobsId);

                isApplied = jobSeekerCVs.Any(x => x.JobSeekerId == UserDetails.JobSeekerId);
            }
        }
    }

    private async Task ApplyJob(PostJob postJob)
    {
        try
        {
            if (postJob != null)
            {
                recruiterPostedJobsAndApplicants = new RecruiterPostedJobsAndApplicants()
                {
                    JobSeekerId = Convert.ToInt64(postJob.JobSeekerId),
                    RecruiterPostedJobsId = Convert.ToInt64(postJob.PostedJobId)
                };

                long savedId = recruiterPostedJobsAndApplicantsService.Save(recruiterPostedJobsAndApplicants);

                if (savedId > 0)
                {
                    await Swal.FireAsync("Job Applied Successfully!");
                    navigationManager.NavigateTo("/jobSeekerDashboard", true);
                }
                else
                {
                    //ErrorMessage = "Failed while saving.";
                    await Swal.FireAsync("Failed while applying.");
                }
            }
        }
        catch (Exception ex) { }
    }

    private void GoToLogin()
    {
        navigationManager.NavigateTo("/Login", true);
    }

    private void ShowMessageModal(string UserType, long JobSeekerId, long RecruiterId)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(OFWClientPanel.Pages.MessagesModal.JobSeekerId), JobSeekerId);
        parameters.Add(nameof(OFWClientPanel.Pages.MessagesModal.RecruiterId), RecruiterId);
        parameters.Add(nameof(OFWClientPanel.Pages.MessagesModal.UserType), UserType);

        ModalService.Show<OFWClientPanel.Pages.MessagesModal>("", parameters);

    }
}