﻿@page "/contacts"

@using OFWClientPanel.Data.Models

@inject Ofwpro.Services.Interfaces.IContactUsService contactUsService
@inject SweetAlertService Swal
@inject NavigationManager navigationManager

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <EditForm Model="@contactUs" class="contact-form" OnValidSubmit="SendMessage">
                    <h4>Contact Us</h4>
                    <DataAnnotationsValidator />

                    <div class="row">
                        <div class="col-md-4">
                            <InputText name="Name" class="form-control normal" placeholder="Your Name" @bind-Value="contactUs.Name"></InputText>
                            <span class="text-danger font-weight-bold">
                                <ValidationMessage For="@(() => contactUs.Name)" class="text-danger font-weight-bold" />
                            </span>
                        </div>
                        <div class="col-md-4">
                            <InputText name="Email" class="form-control normal" placeholder="Your Email" @bind-Value="contactUs.Email"></InputText>
                            <span class="text-danger font-weight-bold">
                                <ValidationMessage For="@(() => contactUs.Email)" class="text-danger font-weight-bold" />
                            </span>
                        </div>
                        <div class="col-md-4">
                            <InputText name="Subject" class="form-control normal" placeholder="Your Subject" @bind-Value="contactUs.Subject"></InputText>
                            <span class="text-danger font-weight-bold">
                                <ValidationMessage For="@(() => contactUs.Subject)" class="text-danger font-weight-bold" />
                            </span>
                        </div>
                        <div class="col-md-12">
                            <InputTextArea class="form-control normal" name="Message" placeholder="Message" rows="10" @bind-Value="contactUs.Message"></InputTextArea>
                            <span class="text-danger font-weight-bold">
                                <ValidationMessage For="@(() => contactUs.Message)" class="text-danger font-weight-bold" />
                            </span>
                        </div>
                        <button type="submit" class="btn blue pull-right">Send Message <i class="fa fa-chevron-right"></i></button>
                    </div>
                </EditForm>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <div id="map"></div>
                <h4>Contact Info</h4>
                <p><i class="fa fa-envelope blue-color"></i> &nbsp; <span class="dark-gray-color">Email: </span> <a href="mailTo:info@ofw.com" target="_blank">info@ofw.com</a></p>
                @*<p><i class="fa fa-phone blue-color"></i> &nbsp; <span class="dark-gray-color">Phone: </span> +639567322201</p>
                <p><i class="fa fa-map-marker blue-color"></i> &nbsp; <span class="dark-gray-color">Location: </span> Manila, Philippines</p>*@
            </div>
        </div>
    </div>
</section>

@code {
    private ContactUs contactUs { get; set; }

    protected override void OnInitialized()
    {
        contactUs = new ContactUs();
    }
    private async Task SendMessage()
    {
        try
        {
            if (contactUs != null)
            {
                Ofwpro.Core.ContactUs contactUsObj = new Ofwpro.Core.ContactUs()
                {
                    ContactUsId = 0,
                    FullName = contactUs.Name,
                    Email = contactUs.Email,
                    Subject = contactUs.Subject,
                    Message = contactUs.Message,
                    IsActive = true,
                    IsDeleted = false
                };

                long savedId = contactUsService.Save(contactUsObj);

                if (savedId > 0)
                {
                    await Swal.FireAsync("Contact submitted Successfully.");
                    await ClearForm();
                }
            }
        }
        catch (Exception ex) { }
    }

    private async Task ClearForm()
    {
        contactUs.Name = "";
        contactUs.Email = "";
        contactUs.Subject = "";
        contactUs.Message = "";
        contactUs.ContactUsId = 0;
    }
}