﻿@page "/en/home/contact_us"

@inject Ofwpro.Services.Interfaces.IPagesService pagesService

    <section>
        <div class="content" style="padding:0px">
            <div class="container">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin:0px; padding:0px">
                    <h1>Contact Us</h1>
                </div>
            </div>
        </div>



        <div class="content" style="padding-top:0px">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="text-align:left">
                        @ContactUs
                    </div>
                </div>
            </div>
        </div>
    </section>


@code{
    private string ContactUs = "";

    protected override async Task OnInitializedAsync()
    {
        var pagesObj = await pagesService.GetAll();

        if (pagesObj.Any())
        {
            var contactUsPage = pagesObj.Where(x => x.ContactUs.Trim().ToLower().Equals("contact us")).LastOrDefault();

            if (contactUsPage != null) ContactUs = contactUsPage.ContactUs;
        }
    }
}
