﻿@page "/cvSearch"

@using OFWClientPanel.Data.Models.JobSeeker


@inject Ofwpro.Services.Interfaces.IExperienceLevelService experienceLevelService;
@inject Ofwpro.Services.Interfaces.IJobSeekerService jobSeekerService
@inject Ofwpro.Services.Interfaces.IJobSeekerAttachmentService jobSeekerAttachmentService
@inject Ofwpro.Services.Interfaces.IJobSeekerWorkExperienceService  jobSeekerWorkExperienceService
@inject Ofwpro.Services.Interfaces.ICountryDetailsService  countryDetailsService

@inject Microsoft.Extensions.Configuration.IConfiguration config;
@inject IModalService Modal
@inject IJSRuntime jsRuntime
@inject NavigationManager NavManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@*<AuthorizeView>
        <Authorized>

        </Authorized>
    </AuthorizeView>*@

<section>
    <div class="container">
        <div class="row text-left">
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Search by title, skill, or company" @bind="SearchTitle">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Location" @bind="SearchLocation">
            </div>
            <div class="col-md-2"> <button type="button" @onclick="@(() => SearchCV())" class="btn_n btn red submit">Search CVs <i class="fa fa-chevron-right"></i></button> </div>
            <div class="col-md-2"> <button type="button" @onclick="@(() => ClearFilter())" class="btn_n btn red submit">Clear <i class="fa fa-chevron-right"></i></button> </div>
        </div>
        @*<div class="row">
                <div class="col-md-12 checks">
                    <input type="checkbox" id="checkbox1" class="css-checkbox" @onchange="(e) => filterEmployementType(FullTimeEmployee, e)" />
                    <label for="checkbox1">Full Time</label>
                    <input type="checkbox" id="checkbox2" class="css-checkbox" @onchange="(e) => filterEmployementType(PartTimeEmployee, e)" />
                    <label for="checkbox2">Part Time</label>

                </div>
            </div>*@

        <div class="row">
            <div class="col-md-12">
                <label>Experience Level</label>
                <select class="form-control" placeholder="Nationality" @onchange="@((e)=>experieanceLevelChanged(e))">
                    <option value="">All</option>
                    @if (experienceLevels != null)
                    {
                        foreach (var experienceLevel in experienceLevels)
                        {
                            <option value="@experienceLevel.Name">@experienceLevel.Name</option>
                        }
                    }
                </select>
            </div>
        </div>


        @if (!isLoaded)
        {
            @*<div class="spinner"></div>*@
            <div class="lds-ripple-spinner"><div class="lds-ripple"><div></div><div></div></div></div>
        }
        else
        {
            <div class="row">
                <div class="col-md-12">
                    <div id="container">
                        <h4 class="blue-color">@TotalCVs CVs Found</h4>
                        <div class="row">
                            <div class="seekers_list">
                                @foreach (var jobApplicant in postCVs)
                                {
                                    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 jobs_cards">
                                        <div class="text-center">
                                            <a class="" href="javascript:void(0);">@jobApplicant.AppliedDate.ToShortDateString()</a> <!--<i class="fa fa-calendar-o"></i>-->
                                            <h4>@jobApplicant.JobTitle</h4>
                                            <p class="name">@jobApplicant.FirstName @jobApplicant.LastName</p>

                                            @if (!string.IsNullOrEmpty(jobApplicant.Country))
                                            {
                                                <p class="alt">@jobApplicant.Country</p>
                                            }
                                            else
                                            {
                                                <p class="alt" style="color:transparent;">&nbsp;</p>
                                            }
                                            <div class="image-div">
                                                @if (!String.IsNullOrEmpty(jobApplicant.ProfilePictureURL))
                                                {<img class="profile-pic" src="@jobApplicant.ProfilePictureURL" /> }
                                                else
                                                {
                                                    <img class="profile-pic" src="/theme/assets/images/place_holder.png" />
                                                }
                                            </div>
                                            <div style="text-align:center; width:100%; margin:10px 0px;">
                                                <AuthorizeView>
                                                    <Authorized>
                                                        <a href="javascript:;" class="btn btn-success button_view" @onclick="@(()=>ShowJobSeekerProfile(Convert.ToInt64(jobApplicant.JobseekerId)))">View Profile</a>
                                                    </Authorized>
                                                    <NotAuthorized>
                                                        <a href="javascript:;" class="btn btn-success button_view" @onclick="@(() => GoToLogin())">Sign in to View</a>
                                                    </NotAuthorized>
                                                </AuthorizeView>
                                            </div>

                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>


                    @if (TotalCVs > 0)
                    {
                        <nav class="text-center">
                            <ul class="pagination text-center">
                                @if (CurrentPage > 1)
                                {
                                    <li> <a href="javascript:void(0);" @onclick="@(() => GoToPage(CurrentPage - 1))" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
                                }
                                @for (int i = 1; i <= TotalPage; i++)
                                {
                                    int pageNo = i;
                                    string active = CurrentPage == i ? "active" : "";
                                    <li class="@active"><a href="javascript:void(0);" @onclick="@(() => GoToPage(pageNo))">@i</a></li>
                                }
                                @if (CurrentPage < TotalPage)
                                {
                                    <li> <a href="javascript:void(0);" @onclick="@(() => GoToPage(CurrentPage + 1))" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
                                }

                            </ul>
                        </nav>
                    }
                </div>
            </div>
        }

    </div>
</section>
@*<section class="section-alt1 no-margin">
        <div class="container">
            <div class="row owl-clients">
                <div class="item text-center"> <img src="/theme/assets/images/clients/1.png" class="client" alt=""> </div>
                <div class="item text-center"> <img src="/theme/assets/images/clients/2.png" class="client" alt=""> </div>
                <div class="item text-center"> <img src="/theme/assets/images/clients/3.png" class="client" alt=""> </div>
                <div class="item text-center"> <img src="/theme/assets/images/clients/4.png" class="client" alt=""> </div>
                <div class="item text-center"> <img src="/theme/assets/images/clients/1.png" class="client" alt=""> </div>
                <div class="item text-center"> <img src="/theme/assets/images/clients/2.png" class="client" alt=""> </div>
                <div class="item text-center"> <img src="/theme/assets/images/clients/3.png" class="client" alt=""> </div>
                <div class="item text-center"> <img src="/theme/assets/images/clients/4.png" class="client" alt=""> </div>
            </div>
        </div>
    </section>*@

@code {

    private IEnumerable<Ofwpro.Core.ExperienceLevel> experienceLevels = null;

    private List<Profile> postCVs;

    private List<Profile> filteredPostedJobs;

    private int TotalCVs = 0;
    private int CurrentPage = 1;
    private int TotalPage = 0;
    private int PageSize = 12;
    private string SearchTitle = "";
    private string SearchLocation = "";
    private string experienceLevel = "";


    private dynamic CountryDetails { get; set; } = null;
    private dynamic EmployeeTypes { get; set; } = null;

    private string FullTimeEmployee = "full_time";
    private string PartTimeEmployee = "part_time";

    private bool isLoaded = false;

    protected override async Task OnInitializedAsync()
    {
        postCVs = new List<Profile>();
        experienceLevels = (await experienceLevelService.GetAll()).OrderBy(x => x.Id).ToList();

        string hostUrl = config["Utility:ClientBaseURL"].ToString();
        string uploadFolderName = config["UploadFolders:UploadFolder"];

        //CountryDetails = await countryDetailsService.GetAll();

        await SearchCV();
        isLoaded = true;
    }

    private async Task SearchCV()
    {
        isLoaded = false;
        await SearchCV(SearchTitle, SearchLocation, experienceLevel, CurrentPage, PageSize);
    }

    private async Task experieanceLevelChanged(ChangeEventArgs e)
    {
        isLoaded = false;
        experienceLevel = e.Value.ToString();
        experienceLevel = experienceLevel == "All" ? "" : experienceLevel;

        await SearchCV();
    }

    private async Task GoToPage(int pageNo)
    {
        isLoaded = false;
        CurrentPage = pageNo;
        await SearchCV(SearchTitle, SearchLocation, experienceLevel, CurrentPage, PageSize);
    }

    private async Task SearchCV(string searchText, string searchLocation, string experienceLevel, int pageNo, int pageSize)
    {
        string hostUrl = config["Utility:ClientBaseURL"].ToString();
        string uploadFolderName = config["UploadFolders:UploadFolder"];

        var jobSeekerCVs = await jobSeekerService.Filter(searchText.Trim().ToLower(), searchLocation.Trim().ToLower(), experienceLevel);

        int skip = (pageNo - 1) * pageSize;
        int take = pageSize;

        TotalCVs = jobSeekerCVs.Count();
        TotalPage = TotalCVs / pageSize;
        long modulus = TotalCVs % pageSize;
        TotalPage = modulus > 0 ? TotalPage + 1 : TotalPage;

        CurrentPage = pageNo;

        if (TotalPage < 1) TotalPage = 1;

        postCVs = new List<Profile>();

        var countries = await countryDetailsService.GetAll();

        if (jobSeekerCVs.Any())
        {
            jobSeekerCVs = jobSeekerCVs.Skip(skip).Take(take).ToList();

            foreach (var job in jobSeekerCVs)
            {
                Profile jobSeeker = new Profile();

                var jobSeekerProfilePicture = (await jobSeekerAttachmentService.GetByJobSeekerAndDocumentType(job.JobSeekerId, "picture"));
                string UploadedFrom = "";
                if (jobSeekerProfilePicture != null && jobSeekerProfilePicture.UploadedFrom != null) UploadedFrom = jobSeekerProfilePicture.UploadedFrom;

                if (UploadedFrom == "Client") hostUrl = config["Utility:ClientBaseURL"].ToString();
                else if (UploadedFrom == "Admin") hostUrl = config["Utility:APIBaseURL"].ToString();

                var jobSeekerCountry = countries.Where(x => x.Code == job.CountryCode).LastOrDefault();

                var jobSeekerExperience = await jobSeekerWorkExperienceService.GetByJobSeekerId(job.JobSeekerId);

                jobSeeker.JobseekerId = job.JobSeekerId;
                jobSeeker.FirstName = job.FirstName;
                jobSeeker.LastName = job.LastName;
                jobSeeker.Email = job.Email;
                jobSeeker.JobTitle = job.Title;

                jobSeeker.AppliedDate = (job.UpdatedOn.Date > job.CreatedOn.Date ? job.UpdatedOn : job.CreatedOn);

                if (job.IsPictureApproved && jobSeekerProfilePicture != null) jobSeeker.ProfilePictureURL = hostUrl + uploadFolderName + "/" + jobSeekerProfilePicture.FileNameUpdated;
                if (jobSeekerCountry != null) jobSeeker.Country = jobSeekerCountry.Name;
                if (jobSeekerExperience != null) jobSeeker.TotalExperience = jobSeekerExperience.ExperienceLevel;


                jobSeeker.LastUpdated = job.UpdatedOn != null && job.UpdatedOn > job.CreatedOn ? job.UpdatedOn : job.CreatedOn;

                if (jobSeekerExperience != null)
                {
                    if (jobSeeker.LastUpdated < jobSeekerExperience.CreatedOn)
                    {
                        jobSeeker.LastUpdated = jobSeekerExperience.CreatedOn;
                    }
                }

                postCVs.Add(jobSeeker);
            }

            //postCVs = postCVs.OrderByDescending(x => x.LastUpdated).Skip(skip).Take(take).ToList();
        }

        isLoaded = true;

        await localStorage.SetItemAsync("SeenNoOfCVs", TotalCVs);
    }

    private void ShowJobSeekerProfile(long JobSeekerId)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(OFWClientPanel.Pages.JobSeekerProfile.JobSeekerId), JobSeekerId);

        Modal.Show<OFWClientPanel.Pages.JobSeekerProfile>("", parameters);
    }

    private void ClearFilter()
    {
        SearchTitle = "";
        SearchLocation = "";
        NavManager.NavigateTo("/cvSearch", true);
    }


    private void GoToLogin()
    {
        NavManager.NavigateTo("/Login", true);
    }
}