﻿@page "/faq"

@using Ofwpro.Core
@using Ofwpro.Services.Interfaces

@inject IFaqService faqService

<section>
    <div class="container">
        @if (!isLoaded)
        {
            <div class="text-center" style="margin-top:40px"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
        }
        else
        {
            <div class="row title text-center">
                <h3>FAQ</h3>
            </div>


            @if (faqs.Any())
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="row no-margin blog-post">
                            @foreach (var faq in faqs)
                            {
                                <h4>Q. @faq.Question </h4>

                                <div class="info">
                                    <p class="main">A. @faq.Answer</p>
                                </div>
                            }

                        </div>
                    </div>

                </div>
            }
        }
    </div>
</section>

@code{
    List<Faq> faqs { get; set; }

    bool isLoaded = false;

    protected override async Task OnInitializedAsync()
    {
        faqs = new List<Faq>();

        var faqsObj = await faqService.GetAll();

        if (faqsObj.Any())
        {
            foreach(var faq in faqsObj)
            {
                Faq faqObj = new Faq();

                faqObj.FaqId = faq.FaqId;
                faqObj.Question = faq.Question;
                faqObj.Answer = faq.Answer;
                faqObj.UpdatedOn = faq.UpdatedOn > faq.CreatedOn ? faq.UpdatedOn : faq.CreatedOn;

                faqs.Add(faqObj);
            }
        }
        isLoaded = true;
    }
}