﻿@page "/forgotpassword"

@using MimeKit;
@using MailKit.Net.Smtp;
@using Microsoft.Extensions.Configuration;
@using System.Text;
@using OFWClientPanel.Data.Models


@inject Ofwpro.Services.Interfaces.IRecruiterService recruiterService
@inject Ofwpro.Services.Interfaces.IJobSeekerService jobSeekerService
@inject Ofwpro.Services.Interfaces.IForgotPasswordService forgotPasswordService
@inject IConfiguration config
@inject Microsoft.Extensions.Hosting.IHostEnvironment environment
@inject SweetAlertService Swal
@inject NavigationManager navigationManager

<section>
    <div class="content" style="padding:0px">
        <div class="container">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin:0px; padding:0px">
                <h1>Recover Password</h1>
            </div>
        </div>
    </div>
    @if (!isLoaded)
    {
        <div class="text-center" style="margin-top:40px"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
    }
    else
    {
        <div class="content" style="padding-top:0px">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <EditForm Model="@forgotPasswordModel" OnValidSubmit="SendEmail">
                            <DataAnnotationsValidator />
                            <div class="form-group">
                                <label for="email">Email *</label>
                                <InputText id="email" @bind-Value="@forgotPasswordModel.Email" type="email" class="form-control" placeholder="Email Address" />
                                <span class="text-danger">
                                    <ValidationMessage For="@(() => forgotPasswordModel.Email)" class="text-danger" />
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="userType">I am a *</label>
                                <InputSelect id="userType" class="form-control" placeholder="Gender" @bind-Value="forgotPasswordModel.UserType">
                                    <option value="jobseeker">Job Seeker</option>
                                    <option value="recruiter">Recruiter</option>
                                </InputSelect>
                                <span class="text-danger">
                                    <ValidationMessage For="@(() => forgotPasswordModel.UserType)" />
                                </span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn red submit"><i class="fa fa-mail-forward"></i> @SendButtonText</button>
                            </div>

                            @*@if (!string.IsNullOrEmpty(message))
        {
            <div class="alert alert-primary" role="alert">
                @message <a href="#" class="alert-link">Click here</a> to login.
            </div>
        }*@
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    }

</section>


@code {

    bool isLoaded = true;
    bool isSent = false;
    string message = "";
    string SendButtonText = "Send Me";

    public ForgotPasswordModel forgotPasswordModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        isLoaded = true;
        isSent = false;
        message = "";

        forgotPasswordModel = new ForgotPasswordModel()
        {
            UserType= "jobseeker"
        };
    }

    private async void SendEmail()
    {
        if (!string.IsNullOrEmpty(forgotPasswordModel.Email))
        {
            try
            {
                SendButtonText = "Sending..";
                if (forgotPasswordModel.UserType == "jobseeker")
                {
                    var jobSeeker = await jobSeekerService.GetByEmail(forgotPasswordModel.Email);

                    if (jobSeeker != null)
                    {
                        string resetToken = OFWClientPanel.Helpers.UtilityHelper.RandomAlphaNumericString(50);

                        var forgotPassword = new Ofwpro.Core.ForgotPassword()
                        {
                            UserType = forgotPasswordModel.UserType,
                            UserId = jobSeeker.JobSeekerId,
                            ForgotPasswordToken = resetToken,
                            TokenGenerationDate = DateTime.Now,
                            IsActive = true
                        };

                        long savedId = forgotPasswordService.Save(forgotPassword);

                        if (savedId > 0)
                        {
                            // Email Code Goes Here
                            string hostUrl = config["Utility:ClientBaseURL"];

                            string activationLink = hostUrl + "resetpassword/" + resetToken;

                            var pathToFile = environment.ContentRootPath + Path.DirectorySeparatorChar.ToString()
                                    + "wwwroot"
                                    + Path.DirectorySeparatorChar.ToString()
                                    + "template"
                                    + Path.DirectorySeparatorChar.ToString()
                                    + "email"
                                    + Path.DirectorySeparatorChar.ToString()
                                    + "forgot-password.html";

                            var builder = new StringBuilder();
                            using (var reader = System.IO.File.OpenText(pathToFile))
                            {
                                builder.Append(reader.ReadToEnd());
                            }

                            builder.Replace("#ActivationLink", activationLink);
                            builder.Replace("http://ofwpro.com", hostUrl);
                            builder.Replace("#UserName", jobSeeker.FirstName + " " + jobSeeker.LastName);


                            string projectName = config["Utility:ProjectName"];
                            string emailText = builder.ToString();
                            string emailSubject = "Recover Password at " + projectName;

                            string emailFromName = config["EmailConfig:EmailFromName"];
                            string emailFromEmail = config["EmailConfig:EmailFromEmail"];
                            string emailFromPassword = config["EmailConfig:EmailFromPassword"];
                            string emailToName = jobSeeker.FirstName + " " + jobSeeker.LastName;
                            string emailToEmail = jobSeeker.Email;


                            int port = Convert.ToInt32(config["EmailConfig:EmailPort"]);
                            bool EmailEnableSSL = Convert.ToBoolean(config["EmailConfig:EmailEnableSSL"]);
                            string SMTP = config["EmailConfig:EmailSMTP"];

                            MimeMessage emilMessage = new MimeKit.MimeMessage();
                            MailboxAddress from = new MailboxAddress(emailFromEmail, emailFromEmail);
                            emilMessage.From.Add(from);
                            MailboxAddress to = null;
                            to = new MailboxAddress(emailToName, emailToEmail);
                            emilMessage.To.Add(to);
                            emilMessage.Subject = emailSubject;

                            BodyBuilder bodyBuilder = new BodyBuilder();

                            bodyBuilder.HtmlBody = emailText;

                            emilMessage.Body = bodyBuilder.ToMessageBody();

                            SmtpClient client = new SmtpClient();
                            client.Connect(SMTP, port, EmailEnableSSL);

                            client.Authenticate(emailFromEmail, emailFromPassword);
                            client.Send(emilMessage);
                            client.Disconnect(true);
                            client.Dispose();



                            isSent = true;

                            message = "We have sent a reset link to your email.";

                            SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
                            {
                                Title = "Recover Password",
                                Text = "We have sent a reset link to your email.",
                                Icon = SweetAlertIcon.Success,
                                ConfirmButtonText = "Ok!"
                            });

                            navigationManager.NavigateTo("/", true);

                        }
                        else
                        {
                            message = "Failed to generate token. Please try after some time.";

                            SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
                            {
                                Title = "Recover Password",
                                Text = message,
                                Icon = SweetAlertIcon.Warning,
                                ConfirmButtonText = "Ok!"
                            });
                        }
                    }
                    else
                    {
                        message = "We can not find account linked with this email.";
                        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
                        {
                            Title = "Recover Password",
                            Text = message,
                            Icon = SweetAlertIcon.Warning,
                            ConfirmButtonText = "Ok!"
                        });
                    }
                }
                else if (forgotPasswordModel.UserType == "recruiter")
                {
                    var recruiter = await recruiterService.GetByEmail(forgotPasswordModel.Email);

                    if (recruiter != null)
                    {
                        string resetToken = OFWClientPanel.Helpers.UtilityHelper.RandomAlphaNumericString(50);

                        var forgotPassword = new Ofwpro.Core.ForgotPassword()
                        {
                            UserType = forgotPasswordModel.UserType,
                            UserId = recruiter.RecruiterId,
                            ForgotPasswordToken = resetToken,
                            TokenGenerationDate = DateTime.Now,
                            IsActive = true
                        };

                        long savedId = forgotPasswordService.Save(forgotPassword);

                        if (savedId > 0)
                        {
                            // Email Code Goes Here
                            string hostUrl = config["Utility:ClientBaseURL"];

                            string activationLink = hostUrl + "resetpassword/" + resetToken;

                            var pathToFile = environment.ContentRootPath + Path.DirectorySeparatorChar.ToString()
                                    + "wwwroot"
                                    + Path.DirectorySeparatorChar.ToString()
                                    + "template"
                                    + Path.DirectorySeparatorChar.ToString()
                                    + "email"
                                    + Path.DirectorySeparatorChar.ToString()
                                    + "forgot-password.html";

                            var builder = new StringBuilder();
                            using (var reader = System.IO.File.OpenText(pathToFile))
                            {
                                builder.Append(reader.ReadToEnd());
                            }

                            builder.Replace("#ActivationLink", activationLink);
                            builder.Replace("http://ofwpro.com", hostUrl);
                            builder.Replace("#UserName", recruiter.FirstName + " " + recruiter.LastName);


                            string projectName = config["Utility:ProjectName"];
                            string emailText = builder.ToString();
                            string emailSubject = "Recover Password at " + projectName;

                            string emailFromName = config["EmailConfig:EmailFromName"];
                            string emailFromEmail = config["EmailConfig:EmailFromEmail"];
                            string emailFromPassword = config["EmailConfig:EmailFromPassword"];
                            string emailToName = recruiter.FirstName + " " + recruiter.LastName;
                            string emailToEmail = recruiter.Email;


                            int port = Convert.ToInt32(config["EmailConfig:EmailPort"]);
                            bool EmailEnableSSL = Convert.ToBoolean(config["EmailConfig:EmailEnableSSL"]);
                            string SMTP = config["EmailConfig:EmailSMTP"];

                            MimeMessage emilMessage = new MimeKit.MimeMessage();
                            MailboxAddress from = new MailboxAddress(emailFromEmail, emailFromEmail);
                            emilMessage.From.Add(from);
                            MailboxAddress to = null;
                            to = new MailboxAddress(emailToName, emailToEmail);
                            emilMessage.To.Add(to);
                            emilMessage.Subject = emailSubject;

                            BodyBuilder bodyBuilder = new BodyBuilder();

                            bodyBuilder.HtmlBody = emailText;

                            emilMessage.Body = bodyBuilder.ToMessageBody();

                            SmtpClient client = new SmtpClient();
                            client.Connect(SMTP, port, EmailEnableSSL);

                            client.Authenticate(emailFromEmail, emailFromPassword);
                            client.Send(emilMessage);
                            client.Disconnect(true);
                            client.Dispose();


                            isLoaded = true;
                            isSent = true;

                            message = "We have sent a reset link to your email.";

                SendButtonText = "Send Me";
                            SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
                            {
                                Title = "Recover Password",
                                Text = "We have sent a reset link to your email.",
                                Icon = SweetAlertIcon.Success,
                                ConfirmButtonText = "Ok!"
                            });

                            navigationManager.NavigateTo("/", true);
                        }
                        else
                        {
                SendButtonText = "Send Me";
                            message = "Failed to generate token. Please try after some time.";
                            SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
                            {
                                Title = "Recover Password",
                                Text = message,
                                Icon = SweetAlertIcon.Warning,
                                ConfirmButtonText = "Ok!"
                            });
                        }
                    }
                    else
                    {
                SendButtonText = "Send Me";
                        message = "We can not find account linked with this email.";
                        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
                        {
                            Title = "Recover Password",
                            Text = message,
                            Icon = SweetAlertIcon.Warning,
                            ConfirmButtonText = "Ok!"
                        });
                    }
                }
                else
                {
                SendButtonText = "Send Me";
                    message = "We can not find account linked with this email.";
                    SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
                    {
                        Title = "Recover Password",
                        Text = message,
                        Icon = SweetAlertIcon.Warning,
                        ConfirmButtonText = "Ok!"
                    });
                }

            }
            catch (Exception ex)
            {
 SendButtonText = "Send Me";
                SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
                {
                    Title = "Recover Password",
                    Text = "Failed",
                    Icon = SweetAlertIcon.Warning,
                    ConfirmButtonText = "Ok!"
                });
            }
        }
        else
        {
            isSent = false;
        }
    }

}
}
