﻿@page "/"

@using Ofwpro.Core
@using OFWClientPanel.Data.Models
@using OFWClientPanel.Data.Models.Recruiter

@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject Ofwpro.Services.Interfaces.IJobSeekerService jobSeekerService
@inject Ofwpro.Services.Interfaces.IRecruiterService recruiterService
@inject Ofwpro.Services.Interfaces.IJobSeekerAttachmentService jobSeekerAttachmentService
@inject Ofwpro.Services.Interfaces.IRecruiterPostedJobsService recruiterPostedJobsService
@inject Ofwpro.Services.Interfaces.IRecruiterCompanyService recruiterCompanyService
@inject Ofwpro.Services.Interfaces.IRecruiterAttachmentService recruitmentAttachmentService
@inject Ofwpro.Services.Interfaces.ICountryDetailsService countryDetailsService
@inject Ofwpro.Services.Interfaces.IEmployeeTypeService employeeTypeService
@inject Ofwpro.Services.Interfaces.IRecruiterPostedJobsService recruiterPostedJobsService
@inject Ofwpro.Services.Interfaces.ITestimonialService testimonialService
@inject Ofwpro.Services.Interfaces.ISalaryRangeService salaryRangeService

@inject IConfiguration config
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@inject IModalService Modal



@if (isLoaded)
{
    
    <header style="@showHideJavascriptDependedHTMLTag">
        <form class="col-md-3 col-md-offset-3 col-sm-6 col-xs-12 job-form cust_mar" method="get" action="/jobSearch">
            <h3>Find the job you need</h3>
            <p>Discover our job listings</p>
            <input type="text" class="form-control white" placeholder="Keyword" name="keyword">
            <input type="text" class="form-control white" placeholder="Location" name="location">
            <button type="submit" class="btn blue"> Search for a job <i class="fa fa-chevron-right"></i> </button>
        </form>
        <div class="owl-carousel owl-header" style="background: #6f0d3b; height: 437px !important;">
            <div class="item" data-background="/theme/assets/images/header.jpg"></div>
            <div class="item" data-background="/theme/assets/images/header2.jpg"></div>
            <div class="item" data-background="/theme/assets/images/header3.jpg"></div>
        </div>
    </header>
    <div class="clearfix"></div>
    
    <section class="facts">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-3 col-sm-6 fact"> <span class="number">@NoOfCVs</span> Registered Members </div>
                <div class="col-md-3 col-sm-6 fact"> <span class="number">@NoOfJobs</span> Jobs Found </div>
                <div class="col-md-3 col-sm-6 fact"> <span class="number">@NoOfCompanies</span> Awesome Companies </div>
                <div class="col-md-3 col-sm-6">
                    <NavLink href="login" class="btn red no-margin">Login <i class="fa fa-chevron-right"></i></NavLink>
                    <NavLink class="btn red no-margin nav-link dropdown-toggle" @onclick="() => expandSubNavSettings = !expandSubNavSettings" id="navbarDropdown">
                        <span class="oi oi-list-rich" aria-hidden="true"></span>Sign up <i class="fa fa-chevron-right"></i>
                    </NavLink>
                    @if (expandSubNavSettings)
                    {
                        <ul>
                            <li class="dropdown-menu show" aria-labelledby="navbarDropdown" @onclick="() => expandSubNavSettings = !expandSubNavSettings">
                            <li class="nav-item">
                                <NavLink class="nav-link text-dark" href="jobSeekerRegistration">
                                    <span class="oi oi-fork" aria-hidden="true"></span> Job Seeker
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link text-dark" href="recruiterRegistration">
                                    <span class="oi oi-command" aria-hidden="true"></span> Recruiter
                                </NavLink>
                            </li>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </div>
    </section>
    <section class="job_seker">
        <div class="container">
            <div class="row title text-center">
                <h3>Recently Joined Job Seekers</h3>
            </div>
            <div class="row">
                <div class="seekers_list">
                    @foreach (var jobApplicant in jobApplicants)
                    {
                        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 jobs_cards">
                            <div class="text-center">
                                <a class="" href="javascript:void(0);">@jobApplicant.AppliedDate.ToShortDateString()</a> <!--<i class="fa fa-calendar-o"></i>-->
                                <h4>@jobApplicant.JobTitle</h4>
                                <p class="name">@jobApplicant.FirstName @jobApplicant.LastName</p>
                                @if (!string.IsNullOrEmpty(jobApplicant.Country))
                                {
                                    <p class="alt">@jobApplicant.Country</p>
                                }
                                else
                                {
                                    <p class="alt" style="color:transparent;">&nbsp;</p>
                                }

                                <div class="image-div">
                                    @if (!String.IsNullOrEmpty(jobApplicant.ProfilePictureURL))
                                    {<img class="profile-pic" src="@jobApplicant.ProfilePictureURL" /> }
                                    else
                                    {
                                        <img class="profile-pic" src="/theme/assets/images/place_holder.png" />
                                    }
                                </div>
                                <div style="text-align:center; width:100%; margin:10px 0px;">
                                    <AuthorizeView>
                                        <Authorized>
                                            <a href="javascript:;" class="btn btn-success button_view" @onclick="@(()=>ShowJobSeekerProfile(Convert.ToInt64(jobApplicant.JobSeekerId)))">View Profile</a>
                                        </Authorized>
                                        <NotAuthorized>
                                            <a href="javascript:;" class="btn btn-success button_view" @onclick="@(() => GoToLogin())">Sign in to View</a>
                                        </NotAuthorized>
                                    </AuthorizeView>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                @if (jobApplicants.Count() > 0)
                {
                    <div class="col-md-12 text-right font-weight"> <NavLink href="javascript:void(0);" @onclick="FindCvs"> View All </NavLink> </div>
                }
            </div>
        </div>
        <div class="container">
            <div class="row title text-center">
                <h3>Recently Posted Jobs</h3>
            </div>

            <div class="row job-seekers">
                @foreach (var postJob in postJobs)
                {
                    <div class="col-xs-6 col-lg-4 mix web ui  animate__animated animate__fadeIn" data-bound="" style="display: inline-block;">
                        <div class="job-item">
                            <div class="container-fluid no-padding">
                                <div class="col-sm-3">
                                    @if (!String.IsNullOrEmpty(postJob.CompanyLogoURL))
                                    {<img src="@postJob.CompanyLogoURL" alt="Job" /> }
                                    else
                                    {
                                        <img src="/theme/assets/images/default-company-logo.png" alt="Job" />
                                    }
                                </div>
                                <div class="col-sm-9">

                                    <div class="job-inner align-items-center">
                                        <div class="job-inner-left">
                                            <h4 title="@postJob.Title">@postJob.Title</h4>

                                            @if (!string.IsNullOrEmpty(postJob.CompanyName))
                                            {
                                                <span href="#">@postJob.CompanyName</span>
                                            }
                                            else
                                            {
                                                <span style="background: none !important;">nbsp</span>
                                            }
                                            <ul>
                                                <li>
                                                    <i class="fa fa-dollar"></i>
                                                    @postJob.SalaryRange
                                                </li>
                                                <li>
                                                    <i class="fa fa-map-marker"></i>
                                                    @postJob.Country
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="job-inner-right">
                                            <ul>
                                                <li>
                                                    @if (!string.IsNullOrEmpty(postJob.EmploymentType))
                                                    {
                                                        <span>@postJob.EmploymentType</span>
                                                    }
                                                    else
                                                    {
                                                        <span style="color:transparent">Not defined</span>
                                                    }
                                                </li>
                                                <li>
                                                    <a href="javascript:;" @onclick="@(() => GoToLogin())">Apply</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                }
            </div>

            <div class="row">
                @if (postJobs.Count() > 0)
                {
                    <div class="col-md-12 text-right font-weight">  <NavLink href="javascript:void(0);" @onclick="FindJobs"> View All </NavLink> </div>
                }
            </div>
        </div>
    </section>
    <section class="section-alt mg_0"  style="@showHideJavascriptDependedHTMLTag">
        <div class="container">
            <div class="row text-center">
                <h3>Testimonials</h3>
            </div>
                <div class="row">
                    <div class="owl-testimonials" id="owltestimonial">
                        @foreach (var testimonial in testimonials)
                        {
                            <div class="text-center">
                                <div class="testimonial-box">
                                    <p>“@testimonial.TestimonialText”</p>
                                    <h4>@testimonial.FullName</h4>
                                    <h5 class="alt">@testimonial.Designation</h5>
                                </div>
                                @*<img src="/theme/assets/images/people/img_test_1.png" class="testimonial-client img-circle" alt="">*@
                            </div>
                        }
                    </div>
                </div>
            
        </div>
    </section>
    <section class="bg_graey app_download mb_0">
        <div class="container-fluid download_app">
            <div class="row">
                <div class="col-md-6 no-padding"> <img src="/theme/assets/images/macbook_empty.png" class="fullscreen-pic" alt=""> </div>
                <div class="col-md-4 mr_t">
                    <h3>Access OFWPro just with a few taps from your phone!</h3>
                    <p>Download the app now and get an access to unlimited opportunities.</p>
                    <a href="@IOSAppLink" target="_blank" class="btn no-margin"><img src="/theme/assets/images/app_icons_mac.gif" alt="App Store"></a>
                    <a href="@AndroidAppLink" target="_blank" class="btn no-margin"><img src="/theme/assets/images/app_icons_android.gif" alt="Play Store"></a>
                </div>
            </div>
        </div>
    </section>
    @*<section class="section-alt1 no-margin">
            <div class="container">
                <div class="row owl-clients">
                    <div class="item text-center"> <img src="/theme/assets/images/clients/1.png" class="client" alt=""> </div>
                    <div class="item text-center"> <img src="/theme/assets/images/clients/2.png" class="client" alt=""> </div>
                    <div class="item text-center"> <img src="/theme/assets/images/clients/3.png" class="client" alt=""> </div>
                    <div class="item text-center"> <img src="/theme/assets/images/clients/4.png" class="client" alt=""> </div>
                    <div class="item text-center"> <img src="/theme/assets/images/clients/1.png" class="client" alt=""> </div>
                    <div class="item text-center"> <img src="/theme/assets/images/clients/2.png" class="client" alt=""> </div>
                    <div class="item text-center"> <img src="/theme/assets/images/clients/3.png" class="client" alt=""> </div>
                    <div class="item text-center"> <img src="/theme/assets/images/clients/4.png" class="client" alt=""> </div>
                </div>
            </div>
        </section>*@
    @*<section>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 statistic">
                        <div class="left-column">
                            <input class="dial" value="94" data-readonly="true" data-fgColor="#22c0e8" data-linecap="round" data-width="60" data-inputcolor="#2f2f2f">
                        </div>
                        <div class="right-column">
                            <h5>Highest Employment Rate</h5>
                            <p>94% of OFWPro members get successfully employed within 1 month from joining date.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 statistic">
                        <div class="left-column">
                            <input class="dial" value="82" data-readonly="true" data-fgColor="#65be3e" data-linecap="round" data-width="60" data-inputcolor="#2f2f2f">
                        </div>
                        <div class="right-column">
                            <h5>Instant Feedback</h5>
                            <p>82% of OFWPro members get feedback within 2 days from applying to open vacancy.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 statistic">
                        <div class="left-column">
                            <input class="dial" value="85" data-readonly="true" data-fgColor="#ec6be1" data-linecap="round" data-width="60" data-inputcolor="#2f2f2f">
                        </div>
                        <div class="right-column">
                            <h5>Proven Performance</h5>
                            <p>85% of leading Filipino companies prefer OFWPro over other job websites.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 statistic">
                        <div class="left-column">
                            <input class="dial" value="98" data-readonly="true" data-fgColor="#770038" data-linecap="round" data-width="60" data-inputcolor="#2f2f2f">
                        </div>
                        <div class="right-column">
                            <h5>Best Talents</h5>
                            <p>98% of employers hire their best talents on OFWPro.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 statistic">
                        <div class="left-column">
                            <input class="dial" value="91" data-readonly="true" data-fgColor="#3fccc7" data-linecap="round" data-width="60" data-inputcolor="#2f2f2f">
                        </div>
                        <div class="right-column">
                            <h5>Accuracy</h5>
                            <p>91% of posted CVs match employers' needs.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 statistic">
                        <div class="left-column">
                            <input class="dial" value="98" data-readonly="true" data-fgColor="#faba20" data-linecap="round" data-width="60" data-inputcolor="#2f2f2f">
                        </div>
                        <div class="right-column">
                            <h5>Devotion</h5>
                            <p>98% of OFWPro members are fully satisfied with the service.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
}
else
{
<div class="text-center">
    <h5>Fetching from server..</h5>
    <div class="text-center" style="margin-top:40px"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
</div>
}



@code {

    private JobSeeker jobSeeker { get; set; }
    private Recruiter recruiter { get; set; }
    private List<OFWClientPanel.Data.Models.Testimonial> testimonials { get; set; }

    private List<JobApplications> jobApplicants;
    private JobApplications jobApplicant { get; set; }

    private List<PostJob> postJobs;

    private bool isLoaded = false;
    private string showHideJavascriptDependedHTMLTag = "visibility: hidden";

    private dynamic CountryDetails { get; set; } = null;
    private dynamic EmployeeTypes { get; set; } = null;
    private dynamic SalaryRanges { get; set; } = null;

    private long NoOfCVs = 0;
    private long NoOfJobs = 0;
    private long NoOfCompanies = 0;

    private string IOSAppLink = "";
    private string AndroidAppLink = "";

    protected override async Task OnInitializedAsync()
    {
        jobSeeker = new JobSeeker();
        jobApplicants = new List<JobApplications>();

        recruiter = new Recruiter();
        postJobs = new List<PostJob>();

        jobApplicant = new JobApplications();

        testimonials = new List<OFWClientPanel.Data.Models.Testimonial>();

        CountryDetails = await countryDetailsService.GetAll();
        EmployeeTypes = (await employeeTypeService.GetAll(0, 9999)).Item1;
        SalaryRanges = (await salaryRangeService.GetAll(0, 9999)).Item1;

        var jobSeekersObj = await jobSeekerService.GetTopEightLatestJobSeekers();

        List<long> employmentType = new List<long>();
        var recruiterPostedJobs = await recruiterPostedJobsService.GetTopEightLatestPostedJobs();

        var testimonialsObj = await testimonialService.GetAll();
        testimonialsObj = testimonialsObj.OrderByDescending(x => (x.UpdatedOn.Date > x.CreatedOn.Date ? x.UpdatedOn : x.CreatedOn));


        string hostUrl = config["Utility:ClientBaseURL"].ToString();
        string uploadFolderName = config["UploadFolders:UploadFolder"];

        if (jobSeekersObj.Any())
        {
            foreach (var jobSeeker in jobSeekersObj)
            {
                JobApplications jobApplicant = new JobApplications();

                var jobSeekerPicture = await jobSeekerAttachmentService.GetByJobSeekerAndDocumentType(jobSeeker.JobSeekerId, "picture");
                string UploadedFrom = "";
                if (jobSeekerPicture != null && jobSeekerPicture.UploadedFrom != null) UploadedFrom = jobSeekerPicture.UploadedFrom;

                if (UploadedFrom == "Client") hostUrl = config["Utility:ClientBaseURL"].ToString();
                else if (UploadedFrom == "Admin") hostUrl = config["Utility:APIBaseURL"].ToString();

                jobApplicant.FirstName = jobSeeker.FirstName;
                jobApplicant.LastName = jobSeeker.LastName;
                jobApplicant.JobTitle = jobSeeker.Title;
                jobApplicant.Country = ((List<Ofwpro.Core.CountryDetails>)CountryDetails).Where(c => c.Code == jobSeeker.CountryCode)?.LastOrDefault()?.Name;
                jobApplicant.AppliedDate = (jobSeeker.UpdatedOn.Date > jobSeeker.CreatedOn.Date ? jobSeeker.UpdatedOn : jobSeeker.CreatedOn);

                if (jobSeeker.IsPictureApproved && jobSeekerPicture != null)
                {
                    jobApplicant.ProfilePictureURL = hostUrl + uploadFolderName + "/" + jobSeekerPicture.FileNameUpdated;
                }

                jobApplicants.Add(jobApplicant);
            }
        }

        if (recruiterPostedJobs.Any())
        {
            foreach (var job in recruiterPostedJobs)
            {
                PostJob postJob = new PostJob();

                var recruiterCompany = (await recruiterCompanyService.GetByRecruiterId(job.RecruiterId));
                var recruiterAttachment = (await recruitmentAttachmentService.GetByDocumentType(job.RecruiterId, "company_logo"));
                string UploadedFrom = "";
                if (recruiterAttachment != null && recruiterAttachment.UploadedFrom != null) UploadedFrom = recruiterAttachment.UploadedFrom;

                if (UploadedFrom == "Client") hostUrl = config["Utility:ClientBaseURL"].ToString();
                else if (UploadedFrom == "Admin") hostUrl = config["Utility:APIBaseURL"].ToString();

                var EmployeeType = ((List<Ofwpro.Core.EmployeeType>)EmployeeTypes).Where(c => c.Id == job.EmploymentType).LastOrDefault();
                var Country = ((List<Ofwpro.Core.CountryDetails>)CountryDetails).Where(c => c.Id == job.CountryId).LastOrDefault();
                var SalaryRange = ((List<Ofwpro.Core.SalaryRange>)SalaryRanges).Where(c => c.Id == job.SalaryRangeId).LastOrDefault();

                postJob.PostedJobId = job.RecruiterPostedJobsId.ToString();
                postJob.Title = job.Title;

                postJob.CompanyName = recruiterCompany.CompanyName;
                postJob.CompanyLogoURL = hostUrl + (recruiterAttachment?.FileNameUpdated != null ? uploadFolderName + "/" + recruiterAttachment.FileNameUpdated : @"/theme/assets/images/default-company-logo.png");
                postJob.SalaryRange = SalaryRange != null ? SalaryRange.Name : "";

                postJob.EmploymentType = EmployeeType == null ? "" : EmployeeType.Name;
                postJob.CreatedOn = job.CreatedOn;
                postJob.Country = Country == null ? "" : Country.Name; ;
                postJob.UpdatedOn = (job.UpdatedOn.Date > job.CreatedOn.Date ? job.UpdatedOn : job.CreatedOn);

                postJobs.Add(postJob);
            }
        }

        if (testimonialsObj.Any())
        {
            foreach (var testimonialObj in testimonialsObj)
            {
                Data.Models.Testimonial testimonial = new Data.Models.Testimonial();

                testimonial.FullName = testimonialObj.FullName;
                testimonial.Designation = testimonialObj.Designation;
                testimonial.TestimonialText = testimonialObj.TestimonialText;

                testimonials.Add(testimonial);
            }

            //await jsRuntime.InvokeAsync<string>("refreshOwlTestimonial", "owl-testimonials");
        }

        await localStorage.RemoveItemAsync("JobSeekerDetails");
        await localStorage.RemoveItemAsync("EmailAddress");
        await localStorage.RemoveItemAsync("UserType");
        await localStorage.RemoveItemAsync("ProfilePictureURL");
        await localStorage.RemoveItemAsync("RecruiterDetails");
        await localStorage.RemoveItemAsync("CompanyName");
        await localStorage.RemoveItemAsync("CompanyPhoneNumber");
        await localStorage.RemoveItemAsync("CompanyLogoURL");

        await LoadNavCounts();
        isLoaded = true;


        IOSAppLink = config["Utility:IOSAppLink"].ToString();
        AndroidAppLink = config["Utility:AndroidAppLink"].ToString();


        refreshJS();
    }

    bool collapseNavMenu = true;

    private bool expandSubNavSettings;


    string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";

    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    void ToggleNavMenu()
    {
        if (!expandSubNavSettings)
        {
            collapseNavMenu = !collapseNavMenu;
        }
    }

    private async Task LoadNavCounts()
    {
        NoOfCVs = jobSeekerService.NoOfCVs();
        NoOfJobs = recruiterPostedJobsService.NoOfJobs();
        NoOfCompanies = recruiterService.NoOfCompanies();

        await localStorage.SetItemAsync("NoOfCVs", NoOfCVs);
        await localStorage.SetItemAsync("NoOfJobs", NoOfJobs);
    }

    private void GoToLogin()
    {
        navigationManager.NavigateTo("/Login", true);
    }

    private void FindCvs()
    {
        navigationManager.NavigateTo("/cvSearch", true);
    }
    private void FindJobs()
    {
        navigationManager.NavigateTo("/jobSearch", true);
    }

    protected async void refreshJS()
    {
        var result =await OFWClientPanel.Helpers.JsInteropHelper.RefreshJSResult(jsRuntime);

        if (result)
        {
            showHideJavascriptDependedHTMLTag = "visibility:visible";
            StateHasChanged();
        }
    }


    private void ShowJobSeekerProfile(long JobSeekerId)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(OFWClientPanel.Pages.JobSeekerProfile.JobSeekerId), JobSeekerId);

        Modal.Show<OFWClientPanel.Pages.JobSeekerProfile>
            ("", parameters);
    }
}
