﻿@page "/jobSeekerDashboard/jobDetails"

@using OFWClientPanel.Data.Models
@using Ofwpro.Services.Interfaces
@using Ofwpro.Core

@inject IModalService ModalService
@inject IRecruiterPostedJobsService recruiterPostedJobsService
@inject Ofwpro.Services.Interfaces.ISalaryRangeService salaryRangeService
@inject Ofwpro.Services.Interfaces.ICountryDetailsService countryDetailsService
@inject Ofwpro.Services.Interfaces.ICompanyTypeService companyTypeService
@inject Ofwpro.Services.Interfaces.IEmployeeTypeService employeeTypeService
@inject Ofwpro.Services.Interfaces.IExperienceLevelService experienceLevelService
@inject Ofwpro.Services.Interfaces.IRecruiterAttachmentService recruitmentAttachmentService

@inject Microsoft.Extensions.Configuration.IConfiguration config;

<div class="worker-header">
    <div class="container">
        <div class="row">

            <div class="col-sm-3 pro_det">
                @if (!String.IsNullOrEmpty(jobApplication.CompanyLogoURL))
                {<img src="@jobApplication.CompanyLogoURL" class="com_log_pic" alt="Company Logo" /> }
                else
                {
                    <img src="/theme/assets/images/default-company-logo.png" class="com_log_pic" alt="Company Logo" />
                }
                <h3>@jobApplication.JobTitle</h3>
                <h5>@jobApplication.CompanyName</h5>
                <p class="m_0">@jobApplication.City, @jobApplication.Country</p>

                <div class="row">
                    <div class="col-md-12"> <a href="javascript:;" class="btn blue ml_0 mb_10 wd_150">Already Applied</a></div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="table-responsive">


                    <div class="col-md-12 description">
                        <h4 class="mt-0">Summary</h4>
                        <p>@((MarkupString)jobApplication.JobDescription)</p>
                    </div>
                    <div class="col-md-12">
                        <h4>Job Details</h4>
                    </div>
                    <div class="col-md-12 detail_fields">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Employment Type</label>
                                <input disabled type="text" class="form-control" @bind="jobApplication.EmploymentTypeName">
                            </div>
                            <div class="col-md-6">
                                <label>Company Type</label>
                                <input disabled type="text" class="form-control" @bind="jobApplication.CompanyTypeName">
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-6">
                                <label>Salary Range</label>
                                <input disabled type="text" class="form-control" @bind="jobApplication.SalaryRange">
                            </div>
                            <div class="col-md-6">
                                <label>Preferred Experience</label>
                                <input disabled type="text" class="form-control" @bind="jobApplication.ExperienceLevelName">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code{
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter] public string PostedJobId { get; set; }

    JobApplications jobApplication = new JobApplications();

    private dynamic CountryDetails { get; set; } = null;
    private dynamic SalaryRanges { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        string hostUrl = config["Utility:ClientBaseURL"].ToString();
        string uploadFolderName = config["UploadFolders:UploadFolder"];

        RecruiterPostedJobs postedJobsObj = new RecruiterPostedJobs();

        var CountryDetails = await countryDetailsService.GetAll();
        var SalaryRangesData = await salaryRangeService.GetAll(0, 9999);
        var SalaryRanges = SalaryRangesData.Item1;
        postedJobsObj = await recruiterPostedJobsService.GetById(Convert.ToInt64(PostedJobId));

        if (postedJobsObj != null)
        {
            var recruiterAttachment = (await recruitmentAttachmentService.GetByDocumentType(postedJobsObj.RecruiterId, "company_logo"));
            string UploadedFrom = "";
            if (recruiterAttachment != null && recruiterAttachment.UploadedFrom != null) UploadedFrom = recruiterAttachment.UploadedFrom;

            if (UploadedFrom == "Client") hostUrl = config["Utility:ClientBaseURL"].ToString();
            else if (UploadedFrom == "Admin") hostUrl = config["Utility:APIBaseURL"].ToString();

            var country = CountryDetails.Where(c => c.Id == postedJobsObj.CountryId).LastOrDefault();
            var salaryRange = SalaryRanges.Where(c => c.Id == postedJobsObj.SalaryRangeId).LastOrDefault();

            jobApplication.JobTitle = postedJobsObj.Title;
            jobApplication.JobDescription = postedJobsObj.Description;
            jobApplication.CountryId = postedJobsObj.CountryId;
            jobApplication.City = postedJobsObj.City;
            jobApplication.EmploymentType = postedJobsObj.EmploymentType;
            jobApplication.CompanyType = postedJobsObj.CompanyType;
            jobApplication.ExperienceLevel = postedJobsObj.ExperienceLevel;
            if (country != null) jobApplication.Country = country.Name;
            if (salaryRange != null) jobApplication.SalaryRange = salaryRange.Name;
            if (recruiterAttachment != null) jobApplication.CompanyLogoURL = hostUrl + uploadFolderName + "/" + recruiterAttachment.FileNameUpdated;

            if (postedJobsObj.CompanyType > 0)
            {
                var companyType = companyTypeService.GetById(postedJobsObj.CompanyType);

                if (companyType != null)
                {
                    jobApplication.CompanyTypeName = companyType.Name;
                }
            }
            if (postedJobsObj.EmploymentType > 0)
            {
                var employmentType = employeeTypeService.GetById(Convert.ToInt32(postedJobsObj.EmploymentType));

                if (employmentType != null)
                {
                    jobApplication.EmploymentTypeName = employmentType.Name;
                }
            }
            if (postedJobsObj.ExperienceLevel > 0)
            {
                var experienceLevel = experienceLevelService.GetById(Convert.ToInt32(postedJobsObj.ExperienceLevel));

                if (experienceLevel != null)
                {
                    jobApplication.ExperienceLevelName = experienceLevel.Name;
                }
            }
        }
    }
}