﻿@page "/jobSeekerDashboard/profile"

@using Syncfusion.Pdf;
@using Syncfusion.HtmlConverter;
@using System.IO;
@using OFWClientPanel.Helpers

@using OFWClientPanel.Data.Models.JobSeeker
@using  System.Globalization

@inject Ofwpro.Services.Interfaces.IJobSeekerService jobSeekerService
@inject Ofwpro.Services.Interfaces.IJobSeekerPersonalInformationService jobSeekerPersonalInformationService
@inject Ofwpro.Services.Interfaces.IJobSeekerQualificationService jobSeekerQualificationService
@inject Ofwpro.Services.Interfaces.IJobSeekerWorkExperienceService jobSeekerWorkExperienceService
@inject Ofwpro.Services.Interfaces.IEducationLevelService educationLevelService
@inject Ofwpro.Services.Interfaces.ISpecializationService specializationService
@inject Ofwpro.Services.Interfaces.IExperienceLevelService experienceLevelService
@inject Ofwpro.Services.Interfaces.IJobSeekerAttachmentService jobSeekerAttachmentService
@inject Ofwpro.Services.Interfaces.ICountryDetailsService countryDetailsService

@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IModalService ModalService
@inject IConfiguration config
@inject IJSRuntime JSRuntime
@inject NavigationManager navigationManager

<div class="worker-header">
    <div class="container">
        @if (isLoaded)
        {
            if (profile != null)
            {
        <div class="row">
            <div class="col-sm-2">
                @if (!String.IsNullOrEmpty(profile.ProfilePictureURL))
                        {<img src="@profile.ProfilePictureURL" class="worker-mid-pic" alt="" /> }
                        else
                        {
                <img src="/theme/assets/images/place_holder.png" class="worker-mid-pic" alt="" />
                        }
                <h3>@profile.FirstName @profile.LastName</h3>
                <h5>@profile.JobTitle</h5>
                <p class="m_0">@profile.Country</p>
                <p class="m_0 black">@profile.Email</p>
                <br>
                @if (profile.Designations.Count() > 0)
                        {
                            string desginations = string.Join(", ", profile.Designations.ToArray());

                            desginations = desginations.Substring(0, desginations.Length - 2);

                <text>@desginations</text>
                        }
                <div class="row">
                    <AuthorizeView>
                        <Authorized>
                            <div class="col-md-12">
                                @if (UserType == "Recruiter")
                                        {
                                <div class="col-md-12"> <a href="javascript:void(0);" class="btn gray ml_0 mb_10 wd_150" @onclick="@(()=>ShowMessageModal(UserType, Convert.ToInt64(profile.JobseekerId)))">Send Message</a> </div>
                                @*<div class="col-md-12"> <a href="javascript:void(0);" class="btn gray ml_0 mb_10 wd_150">Send Message</a> </div>*@
                                        }

                                @if (!string.IsNullOrEmpty(CVURL))
                                        {
                                <div class="col-md-12"> <a href="@CVURL" target="_blank" class="btn bg-primary ml_0 mb_10 wd_150">Download CV</a> </div>
                                        }

                                @if (!string.IsNullOrEmpty(VideoCVURL))
                                        {
                                <div class="col-md-12"> <a href="@VideoCVURL" target="_blank" class="btn bg-primary ml_0 mb_10 wd_150">Video CV</a> </div>
                                        }



                            </div>
                        </Authorized>
                        <NotAuthorized>
                            <div class="col-md-12">
                                <button type="button" class="btn black ml_0 mb_10 wd_150" @onclick="@(() => GoToLogin())">Login</button>
                            </div>
                        </NotAuthorized>
                    </AuthorizeView>
                </div>
                <div class="row">

                </div>
            </div>
            <div class="col-md-8 col-md-offset-1">
                @*<div class="col-md-12 description">
                        <h4>Summary</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper ultricies massa, sit amet interdum ligula rutrum quis. Integer ligula nulla, tempus eget fringilla at, porta in leo. Donec luctus lacus sed turpis consequat, vel auctor lorem ultricies. Sed erat dui, interdum nec lectus sed, blandit tristique urna. Fusce molestie rhoncus velit a pulvinar. Proin lacinia imperdiet libero, vel condimentum justo pharetra vel. Cras porttitor hendrerit placerat. Etiam eros eros, rutrum at lacus nec, malesuada imperdiet dolor.</p>
                    </div>*@
                <div class="col-md-12 description">
                    <div class="tab-content tab-holder">
                        <div class="tab mt-60">
                            <h4>Work Experience</h4>
                            @if (profile.WorkExperience != null)
                                    {
                            <div class="table-responsive">
                                <table class="table table-striped employee_list">
                                    <tbody>
                                        @if (!string.IsNullOrEmpty(profile.WorkExperience.JobTitle1))
                                                    {
                                        <tr>
                                            <td>
                                                <span class="title_n">@profile.WorkExperience.JobTitle1</span>
                                                <p><i class="fa fa-briefcase "></i>@profile.WorkExperience.Company1 <i class="fa fa-map-marker ml_10"></i>@profile.WorkExperience.City1 </p>
                                            </td>
                                            <td class="text-right">
                                                @*<span class="pill medium blue">@profile.WorkExperience.ExperienceLevel1 Years</span>*@
                                                <p><i class="fa fa-calendar"></i> @profile.WorkExperience.TimePeriodFrom1.Value.ToString("dd MMM, yyyy") - @profile.WorkExperience.TimePeriodTo1.Value.ToString("dd MMM, yyyy")</p>
                                            </td>
                                        </tr>
                                                    }


                                        @if (!string.IsNullOrEmpty(profile.WorkExperience.JobTitle2))
                                                    {
                                        <tr>
                                            <td>
                                                <span class="title_n">@profile.WorkExperience.JobTitle2</span>
                                                <p><i class="fa fa-briefcase "></i>@profile.WorkExperience.Company2 <i class="fa fa-map-marker ml_10"></i>@profile.WorkExperience.City2 </p>
                                            </td>
                                            <td class="text-right">
                                                @*<span class="pill medium blue">@profile.WorkExperience.ExperienceLevel2 Years</span>*@
                                                <p><i class="fa fa-calendar"></i> @profile.WorkExperience.TimePeriodFrom2.Value.ToString("dd MMM, yyyy") - @profile.WorkExperience.TimePeriodTo2.Value.ToString("dd MMM, yyyy")</p>
                                            </td>
                                        </tr>
                                                    }


                                        @if (!string.IsNullOrEmpty(profile.WorkExperience.JobTitle3))
                                                    {
                                        <tr>
                                            <td>
                                                <span class="title_n">@profile.WorkExperience.JobTitle3</span>
                                                <p><i class="fa fa-briefcase "></i>@profile.WorkExperience.Company3 <i class="fa fa-map-marker ml_10"></i>@profile.WorkExperience.City3 </p>
                                            </td>
                                            <td class="text-right">
                                                @*<span class="pill medium blue">@profile.WorkExperience.ExperienceLevel3 Years</span>*@
                                                <p><i class="fa fa-calendar"></i> @profile.WorkExperience.TimePeriodFrom3.Value.ToString("dd MMM, yyyy") - @profile.WorkExperience.TimePeriodTo3.Value.ToString("dd MMM, yyyy")</p>
                                            </td>
                                        </tr>
                                                    }

                                    </tbody>
                                </table>
                            </div>
                                    }
                                    else
                                    {
                            <div class="col-md-12 text-center">
                                <p class="text-danger">Experience not added.</p>
                            </div>
                                    }
                        </div>
                        <div class="tab tab-pane fade in active mt-100">
                            <h4>Education</h4>
                            @if (profile.Education != null && !string.IsNullOrEmpty(profile.Education.EducationLevel))
                                    {
                            <div class="table-responsive">
                                <table class="table table-striped employee_list">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="title_n">@profile.Education.NameOfDegree</span>
                                                <p><i class="fa fa-map-marker"></i>@profile.Education.SchoolOrUniversity </p>
                                            </td>
                                            <td class="text-right"><p class="mt-50"><i class="fa fa-calendar"></i> @profile.Education.GraduationDate.ToString("dd MMM, yyyy")</p></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                                    }
                                    else
                                    {
                            <div class="col-md-12 text-center">
                                <p class="text-danger">Education not added.</p>
                            </div>
                                    }
                        </div>
                    </div>
                </div>
            </div>
        </div>
            }
            else
            {
        <div class="row">
            <div class="col-md-12 text-center">
                <h5 class="text-danger">Profile not found.</h5>
            </div>
        </div>
            }
        }
        else
        {
        @*<div class="row">
                <div class="col-md-12 text-center">
                    <h5 class="text-danger">Profile not found.</h5>
                </div>
            </div>*@
        <div class="lds-ripple-spinner"><div class="lds-ripple"><div></div><div></div></div></div>
        }
    </div>
</div>

@code{
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter] public long JobSeekerId { get; set; }

    private Profile profile { get; set; }

    private dynamic CountryDetails { get; set; } = null;

    private string UserType = "";

    private string CVURL = "";
    private string VideoCVURL = "";

    private bool isLoaded = false;
    private long RecruiterId = 0;

    protected override async Task OnInitializedAsync()
    {
        string hostUrl = config["Utility:ClientBaseURL"].ToString();
        string uploadFolderName = config["UploadFolders:UploadFolder"];

        UserType = await localStorage.GetItemAsync<string>("UserType");

        if (UserType == null) UserType = "";

        profile = new Profile();
        profile.JobseekerId = JobSeekerId;
        profile.WorkExperience = new WorkExperience();
        profile.Education = new Qualification();
        profile.Designations = new List<string>();

        CountryDetails = await countryDetailsService.GetAll();

        var jobSeekerObj = await jobSeekerService.GetById(JobSeekerId);
        if (jobSeekerObj != null)
        {
            var jobSeekerQualification = await jobSeekerQualificationService.GetByJobSeekerId(jobSeekerObj.JobSeekerId);
            var jobSeekerWorkExperience = await jobSeekerWorkExperienceService.GetByJobSeekerId(jobSeekerObj.JobSeekerId);
            var jobSeekerAttachment = await jobSeekerAttachmentService.GetByJobSeekerAndDocumentType(jobSeekerObj.JobSeekerId, "picture");
            string UploadedFrom = "";
            if(jobSeekerAttachment != null && jobSeekerAttachment.UploadedFrom != null) UploadedFrom = jobSeekerAttachment.UploadedFrom;

            if(UploadedFrom == "Client") hostUrl = config["Utility:ClientBaseURL"].ToString();
            else if(UploadedFrom == "Admin")  hostUrl = config["Utility:APIBaseURL"].ToString();

            var jobSeekerResume = await jobSeekerAttachmentService.GetByJobSeekerAndDocumentType(jobSeekerObj.JobSeekerId, "resume");
            var jobSeekerVideoResume = await jobSeekerAttachmentService.GetByJobSeekerAndDocumentType(jobSeekerObj.JobSeekerId, "video_resume");

            profile.FirstName = jobSeekerObj.FirstName;
            profile.LastName = jobSeekerObj.LastName;
            profile.JobTitle = jobSeekerObj.Title;
            profile.Email = jobSeekerObj.Email;

            var country = ((List<Ofwpro.Core.CountryDetails>)CountryDetails).Where(c => c.Code.ToLower() == jobSeekerObj.CountryCode.ToLower()).LastOrDefault();

            if (country != null)
            {
                profile.Country = country.Name;
            }

            if (jobSeekerWorkExperience != null)
            {
                try
                {
                    profile.WorkExperience = new WorkExperience()
                    {
                        JobTitle1 = jobSeekerWorkExperience.JobTitle1,
                        Company1 = jobSeekerWorkExperience.Company1,
                        City1 = jobSeekerWorkExperience.City1,
                        TimePeriodFrom1 = DateTime.ParseExact(jobSeekerWorkExperience.TimePeriodFrom1, @"MM/dd/yyyy", CultureInfo.InvariantCulture),
                        TimePeriodTo1 = DateTime.ParseExact(jobSeekerWorkExperience.TimePeriodTo1, @"MM/dd/yyyy", CultureInfo.InvariantCulture),
                        //ExperienceLevel1 = (((DateTime.ParseExact(jobSeekerWorkExperience.TimePeriodTo1, @"MM/dd/yyyy", CultureInfo.InvariantCulture) -
                        //DateTime.ParseExact(jobSeekerWorkExperience.TimePeriodFrom1, @"MM/dd/yyyy", CultureInfo.InvariantCulture)).Days) / 365.25).ToString(),

                        JobTitle2 = (!String.IsNullOrEmpty(jobSeekerWorkExperience.JobTitle2) ? jobSeekerWorkExperience.JobTitle2 : ""),
                        Company2 = (!String.IsNullOrEmpty(jobSeekerWorkExperience.Company2) ? jobSeekerWorkExperience.Company2 : ""),
                        City2 = (!String.IsNullOrEmpty(jobSeekerWorkExperience.City2) ? jobSeekerWorkExperience.City2 : ""),
                        TimePeriodFrom2 = DateTime.ParseExact(jobSeekerWorkExperience.TimePeriodFrom2, @"MM/dd/yyyy", CultureInfo.InvariantCulture),
                        TimePeriodTo2 = DateTime.ParseExact(jobSeekerWorkExperience.TimePeriodTo2, @"MM/dd/yyyy", CultureInfo.InvariantCulture),
                        //ExperienceLevel2 = (((DateTime.ParseExact(jobSeekerWorkExperience.TimePeriodTo2, @"MM/dd/yyyy", CultureInfo.InvariantCulture) -
                        //DateTime.ParseExact(jobSeekerWorkExperience.TimePeriodFrom2, @"MM/dd/yyyy", CultureInfo.InvariantCulture)).Days) / 365.25).ToString(),

                        JobTitle3 = (!String.IsNullOrEmpty(jobSeekerWorkExperience.JobTitle3) ? jobSeekerWorkExperience.JobTitle3 : ""),
                        Company3 = (!String.IsNullOrEmpty(jobSeekerWorkExperience.Company3) ? jobSeekerWorkExperience.Company3 : ""),
                        City3 = (!String.IsNullOrEmpty(jobSeekerWorkExperience.City3) ? jobSeekerWorkExperience.City3 : ""),
                        TimePeriodFrom3 = DateTime.ParseExact(jobSeekerWorkExperience.TimePeriodFrom3, @"MM/dd/yyyy", CultureInfo.InvariantCulture),
                        TimePeriodTo3 = DateTime.ParseExact(jobSeekerWorkExperience.TimePeriodTo3, @"MM/dd/yyyy", CultureInfo.InvariantCulture),
                        //ExperienceLevel3 = (((DateTime.ParseExact(jobSeekerWorkExperience.TimePeriodTo3, @"MM/dd/yyyy", CultureInfo.InvariantCulture) -
                        //DateTime.ParseExact(jobSeekerWorkExperience.TimePeriodFrom3, @"MM/dd/yyyy", CultureInfo.InvariantCulture)).Days) / 365.25).ToString()
                    };
                }
                catch(Exception ex)
                {

                }

                profile.Designations.Add(profile.WorkExperience.JobTitle1);
                profile.Designations.Add(profile.WorkExperience.JobTitle2);
                profile.Designations.Add(profile.WorkExperience.JobTitle3);
            }

            if (jobSeekerQualification != null)
            {
                var educationalDegrees = educationLevelService.GetById(jobSeekerQualification.EducationLevelId);
                var specializations = await specializationService.GetById(Convert.ToInt64(jobSeekerQualification.SpecializationId));

                profile.Education = new Qualification()
                {
                    SchoolOrUniversity = jobSeekerQualification.SchoolUniversity,
NameOfDegree = jobSeekerQualification.NameOfDegree,
                    EducationLevel = educationalDegrees?.Name??"",
                    Specialization = specializations?.SpecializationNameEn??"",
                    GraduationDate = jobSeekerQualification.GraduationDate
                };
            }

            if (jobSeekerObj.IsPictureApproved && jobSeekerAttachment != null)
            {
                profile.ProfilePictureURL = hostUrl + uploadFolderName + "/" + jobSeekerAttachment.FileNameUpdated;
            }

            if (jobSeekerResume != null)
            {
                CVURL = hostUrl + uploadFolderName + "/" + jobSeekerResume.FileNameUpdated;
            }

            if (jobSeekerVideoResume != null)
            {
                VideoCVURL = hostUrl + uploadFolderName + "/" + jobSeekerVideoResume.FileNameUpdated;
            }
        }

        isLoaded = true;
    }
    private void GoToLogin()
    {
        navigationManager.NavigateTo("/Login", true);
    }

    private void ShowMessageModal(string UserType, long JobSeekerId)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(OFWClientPanel.Pages.MessagesModal.JobSeekerId), JobSeekerId);
        parameters.Add(nameof(OFWClientPanel.Pages.MessagesModal.RecruiterId), RecruiterId);
        parameters.Add(nameof(OFWClientPanel.Pages.MessagesModal.UserType), UserType);

        ModalService.Show<OFWClientPanel.Pages.MessagesModal>("", parameters);
    }

}