﻿@page "/jobSeekerRegistration"


@using System;
@using System.Text;
@using Microsoft.AspNetCore.Components;

@using MimeKit;
@using MailKit.Net.Smtp;
@using Microsoft.Extensions.Configuration;

@using Ofwpro.Core
@using OFWClientPanel.Data.Models
@using OFWClientPanel.Data.Models.JobSeeker
@using OFWClientPanel.Helpers
@using OFWClientPanel.Services

@inject Ofwpro.Services.Interfaces.IJobSeekerService jobSeekerService
@inject Ofwpro.Services.Interfaces.ICountryDetailsService countryDetailsService
@inject Ofwpro.Services.Interfaces.IJobSeekerAttachmentService jobSeekerAttachmentService
@inject Ofwpro.Services.Interfaces.IUserService userService
@inject NavigationManager navigationManager
@inject IJSRuntime JSRuntime
@inject IFileUpload fileUpload
@inject IConfiguration config
@inject SweetAlertService Swal
@inject Microsoft.Extensions.Hosting.IHostEnvironment environment



@if (isLoading)
{
    <div class="loader-body">
        <div class="loader"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
    </div>
}

<section>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-10  col-sm-offset-1">
                <h3 class="small-margin">Job Seeker Registration</h3>
            </div>
        </div>


        <div class="row">
            <div class="col-md-8 col-sm-offset-2 login_wrap">
                <EditForm Model="@registration" OnValidSubmit="RegisterUser">
                    <DataAnnotationsValidator />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="jobTitle">Job Title *</label>
                                <InputText id="jobTitle" @bind-Value="@registration.Title" class="form-control" placeholder="Title" />
                                <span class="text-danger">
                                    <ValidationMessage For="@(() => registration.Title)" class="text-danger" />
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="firstName">First Name *</label>
                                <InputText id="firstName" class="form-control" placeholder="First Name" @bind-Value="@registration.FirstName" />
                                <span class="text-danger">
                                    <ValidationMessage For="@(() => registration.FirstName)" />
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastName">Last Name *</label>
                                <InputText id="lastName" class="form-control" placeholder="Last Name" @bind-Value="@registration.LastName"></InputText>
                                <span class="text-danger">
                                    <ValidationMessage For="@(() => registration.LastName)" />
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Date of Birth *</label>
                                <InputDate id="dob" class="form-control" placeholder="Date of Birth" style="line-height: 10px; padding: 14px 20px;" @bind-Value="registration.Dob"></InputDate>
                                <span class="text-danger">
                                    <ValidationMessage For="@(() => registration.Dob)" />
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Mobile No *</label>
                                <InputText id="mobileNo" class="form-control" placeholder="Mobile No" @bind-Value="registration.Mobile"></InputText>
                                <span class="text-danger">
                                    <ValidationMessage For="@(() => registration.Mobile)" />
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nationality</label>
                                <InputSelect id="nationality" class="form-control" placeholder="Nationality" @bind-Value="registration.CountryCode">
                                    <option value="">Select Country..</option>
                                    @if (CountryDetails != null)
                                    {
                                        foreach (var country in CountryDetails)
                                        {
                                            <option value="@country.Code">@country.Name</option>
                                        }
                                    }
                                </InputSelect>
                                <span class="text-danger">
                                    <ValidationMessage For="@(() => registration.CountryCode)" />
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Gender *</label>
                                <InputSelect id="gender" class="form-control" placeholder="Gender" @bind-Value="registration.Gender">
                                    <option value="">Select Gender..</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </InputSelect>

                                <span class="text-danger">
                                    <ValidationMessage For="@(() => registration.Gender)" />
                                </span>
                            </div>
                        </div>
                        <hr>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Email *</label>
                                <InputText id="email" class="form-control" placeholder="Email" @bind-Value="registration.Email"></InputText>
                                <span class="text-danger">
                                    <ValidationMessage For="@(() => registration.Email)" />
                                    <span style="@(IsDuplicateEmail ? "display:block" : "display:none")">@Message</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Password *</label>
                                <InputText type="password" id="password" class="form-control" placeholder="Password" @bind-Value="registration.Password"></InputText>
                                <span class="text-danger">
                                    <ValidationMessage For="@(() => registration.Password)" />
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Confirm Password *</label>
                                <InputText type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" @bind-Value="registration.ConfirmPassword"></InputText>
                                <span class="text-danger">
                                    <ValidationMessage For="@(() => registration.ConfirmPassword)" />
                                </span>
                            </div>
                        </div>

                        @*<hr>
                        <div class="col-md-12 brws_btn">
                            <label>Profile Picture (
                            
                            @if (isPictureUploaded)
                            {
                                <span class="text-success"> Uploaded </span>
                            }
                            else
                            {
                            <span class="text-danger"> Not Uploaded </span>
                            }
                            )

                            </label> 


                            <div id="userpic" class="userpic">
                                <div class="js-preview userpic__preview"></div>
                                <div class="btn btn-success js-fileapi-wrapper">
                                    <div class="js-browse">
                                        <span class="btn-txt">Choose</span>
                                        <input type="file" name="filedata">
                                    </div>
                                    <div class="js-upload" style="display: none;">
                                        <div class="progress progress-success"><div class="js-progress bar"></div></div>
                                        <span class="btn-txt">Uploading</span>
                                    </div>
                                </div>

                            </div>

                            <div class="hidden">
                                <InputFile class="hidden" id="uploadPicture" OnChange="UploadPicture"> </InputFile>
                            </div>

                        </div>*@
                        

                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="submit" class="btn red submit">Submit<i class="fa fa-chevron-right"></i></button>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" @onclick="GoToHome" class="btn red submit">Cancel<i class="fa fa-chevron-right"></i></button>
                                </div>
                            </div>
                        </div>
                        <ValidationSummary />
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</section>
<section class="section-alt1 no-margin" style="@showHideJavascriptDependedHTMLTag">
    <div class="container">
        <div class="row owl-clients">
            <div class="item text-center"> <img src="/theme/assets/images/clients/1.png" class="client" alt=""> </div>
            <div class="item text-center"> <img src="/theme/assets/images/clients/2.png" class="client" alt=""> </div>
            <div class="item text-center"> <img src="/theme/assets/images/clients/3.png" class="client" alt=""> </div>
            <div class="item text-center"> <img src="/theme/assets/images/clients/4.png" class="client" alt=""> </div>
            <div class="item text-center"> <img src="/theme/assets/images/clients/1.png" class="client" alt=""> </div>
            <div class="item text-center"> <img src="/theme/assets/images/clients/2.png" class="client" alt=""> </div>
            <div class="item text-center"> <img src="/theme/assets/images/clients/3.png" class="client" alt=""> </div>
            <div class="item text-center"> <img src="/theme/assets/images/clients/4.png" class="client" alt=""> </div>
        </div>
    </div>
</section>

<div id="popup" class="popup" style="display: none;">
    <div class="popup__body"><div class="js-img"></div></div>
    <div style="margin: 0 0 5px; text-align: center;">
        <div class="js-upload btn btn_browse btn_browse_small">Upload</div>
    </div>
</div>


@code{

    bool isPictureUploaded = false;

    public UserRegistration registration { get; set; }
    Ofwpro.Core.JobSeeker jobSeeker;
    ApplicationUser applicationUser;
    private Attachments attachments { get; set; }

    private string showHideJavascriptDependedHTMLTag = "visibility: hidden";

    bool IsSuccess = false;
    string Message = "";
    bool IsDuplicateEmail = false;
    bool IsNotPicture = false;

    bool isLoading = false;

    private dynamic CountryDetails { get; set; }

    protected override async Task OnInitializedAsync()
    {
        registration = new UserRegistration();
        registration.Dob = new DateTime(DateTime.Today.Year - 18, 01, 01);
        attachments = new Attachments();

        CountryDetails = await countryDetailsService.GetAll();

        var countries = CountryDetails;
    }

    private async Task HandleSelected(ChangeEventArgs e)
    {
        //var imageFiles = e.GetMultipleFiles();

    }

    private async Task RegisterUser()
    {
        isLoading = true;
        try
        {
            if (registration != null)
            {

                string Password = "";

                if (!String.IsNullOrEmpty(registration.Password.ToString())) Password = UtilityHelper.Encrypt(registration.Password);
                if (!String.IsNullOrEmpty(registration.Email.ToString())) IsDuplicateEmail = jobSeekerService.IsExist(registration.Email, 0);


                if (!IsDuplicateEmail)
                {

                    string accActivationToken = UtilityHelper.RandomAlphaNumericString(49);

                    jobSeeker = new Ofwpro.Core.JobSeeker()
                    {
                        //NationalNumber = registration.NationalNumber,
                        Title = registration.Title,
                        FirstName = registration.FirstName,
                        LastName = registration.LastName,
                        Dob = registration.Dob,
                        //FatherName = registration.FatherName,
                        //MotherName = registration.MotherName,
                        Mobile = registration.Mobile,
                        Gender = registration.Gender,
                        CountryCode = registration.CountryCode,
                        Email = registration.Email,
                        AccActivationToken = accActivationToken,
                        Password = Password,
                        IsActive = false,
                        IsDeleted = false
                    };

                    long savedId = jobSeekerService.Save(jobSeeker);

                    if (savedId > 0)
                    {
                        if (!string.IsNullOrWhiteSpace(registration.UploadedFileId))
                        {
                            long uploadedFileId = Convert.ToInt32(registration.UploadedFileId);

                            var uploadedFile = await jobSeekerAttachmentService.GetById(uploadedFileId);
                            if (uploadedFile != null)
                            {
                                Ofwpro.Core.JobSeekerAttachment obItem = new Ofwpro.Core.JobSeekerAttachment
                                {
                                    JobSeekerAttachmentId = uploadedFile.JobSeekerAttachmentId,
                                    JobSeekerId = savedId,
                                    DocumentType = uploadedFile.DocumentType,
                                    FileNameUpdated = uploadedFile.FileNameUpdated,
                                    FileNameOriginal = uploadedFile.FileNameOriginal,
                                    FileSize = uploadedFile.FileSize.ToString(),
                                    FileType = uploadedFile.FileType,
                                    IsActive = true,
                                    IsDeleted = false,
                                    CreatedOn = DateTime.Now,
                                    CreatedBy = savedId.ToString(),
                                    UploadedFrom = "Client"
                                };

                                long newItemId = jobSeekerAttachmentService.Save(obItem);
                            }
                        }
                        //Email Code Goes Here
                        string hostUrl = config["Utility:ClientBaseURL"];

                        string activationLink = hostUrl + "activate/" + accActivationToken;

                        var pathToFile = environment.ContentRootPath + Path.DirectorySeparatorChar.ToString()
                                + "wwwroot"
                                + Path.DirectorySeparatorChar.ToString()
                                + "template"
                                + Path.DirectorySeparatorChar.ToString()
                                + "email"
                                + Path.DirectorySeparatorChar.ToString()
                                + "registration.html";

                        var builder = new StringBuilder();
                        using (var reader = System.IO.File.OpenText(pathToFile))
                        {
                            builder.Append(reader.ReadToEnd());
                        }

                        builder.Replace("#ActivationLink", activationLink);
                        builder.Replace("http://ofwpro.com", hostUrl);


                        string projectName = config["Utility:ProjectName"];
                        string emailText = builder.ToString();
                        string emailSubject = "Activate Account at " + projectName;

                        string emailFromName = config["EmailConfig:EmailFromName"];
                        string emailFromEmail = config["EmailConfig:EmailFromEmail"];
                        string emailFromPassword = config["EmailConfig:EmailFromPassword"];
                        string emailToName = jobSeeker.FirstName + " " + jobSeeker.LastName;
                        string emailToEmail = jobSeeker.Email;


                        int port = Convert.ToInt32(config["EmailConfig:EmailPort"]);
                        bool EmailEnableSSL = Convert.ToBoolean(config["EmailConfig:EmailEnableSSL"]);
                        string SMTP = config["EmailConfig:EmailSMTP"];


                        try
                        {

                            MimeMessage message = new MimeKit.MimeMessage();
                            MailboxAddress from = new MailboxAddress(emailFromEmail, emailFromEmail);
                            message.From.Add(from);
                            MailboxAddress to = null;
                            to = new MailboxAddress(emailToName, emailToEmail);
                            message.To.Add(to);
                            message.Subject = emailSubject;

                            BodyBuilder bodyBuilder = new BodyBuilder();

                            bodyBuilder.HtmlBody = emailText;

                            message.Body = bodyBuilder.ToMessageBody();


                            SmtpClient client = new SmtpClient();
                            client.Connect(SMTP, port, EmailEnableSSL);

                            client.Authenticate(emailFromEmail, emailFromPassword);
                            client.Send(message);
                            client.Disconnect(true);

                            isLoading = false;
                            client.Dispose();


                            //await Swal.FireAsync("User registered successfully. Please activate your account by following the link in your email.");
                            SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
                            {
                                Title = "Registration succeeded",
                                Text = "Please activate your account by following the link in your email.",
                                Icon = SweetAlertIcon.Success,
                                ConfirmButtonText = "Ok!",
                            });


                            navigationManager.NavigateTo("/", true);
                        }
                        catch (Exception ex)
                        {
                            isLoading = false;
                            SweetAlertResult failedResult = await Swal.FireAsync(new SweetAlertOptions
                            {
                                Title = "Failed sending email.",
                                Text = "Please contact administration to activate your account.",
                                Icon = SweetAlertIcon.Warning,
                                ConfirmButtonText = "Ok!"
                            });
                        }

                    }
                    else
                    {
                        isLoading = false;
                        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
                        {
                            Title = "Registration Failed",
                            Text = "Please try after some time.",
                            Icon = SweetAlertIcon.Warning,
                            ConfirmButtonText = "Ok!"
                        });
                    }
                }
                else
                {
                    isLoading = false;
                    SweetAlertResult failedResult = await Swal.FireAsync(new SweetAlertOptions
                    {
                        Title = "Email already Registered",
                        Text = "Email already taken, Please use different email.",
                        Icon = SweetAlertIcon.Warning,
                        ConfirmButtonText = "Ok!"
                    });
                    Message = "Email already taken, Please use different email";
                }

            }
        }
        catch (Exception ex)
        {
            isLoading = false;
            SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Registration Failed",
                Text = "Please try after some time.",
                Icon = SweetAlertIcon.Warning,
                ConfirmButtonText = "Ok!"
            });
        }
        isLoading = false;
    }

    public async void OnPictureButtonClick()
    {
        await JSRuntime.InvokeAsync<string>("wrapInput", "picture");
    }

    [JSInvokable]
    public async void OnPictureUploaded()
    {
        await JSRuntime.InvokeAsync<string>("OnChange", "uploadPicture");
    }

    [JSInvokableAttribute("UploadPicture2")]
    public async Task UploadPicture2()
    {
        string word = "Hello";
    }


    public async Task UploadPicture(IFileListEntry[] files)
    {
        isPictureUploaded = false;

        isLoading = true;
        try
        {

            string hostUrl = config["Utility:ClientBaseURL"].ToString();
            string uploadFolderName = config["UploadFolders:UploadFolder"];

            IsNotPicture = false;

            IFileListEntry file = files.FirstOrDefault();
            if (file != null)
            {
                string fileType = file.Type.Split('/')[0].ToString();
                if (fileType != "image")
                {
                    IsNotPicture = true;
                    Message = "Please Upload only image file";
                }
                if (!IsNotPicture)
                {
                    long result = await fileUpload.UploadPicture(file, "Job Seeker", "picture", 0);

                    if (result > 0)
                    {
                        registration.UploadedFileId = result.ToString();

                        var uploadedFile = await jobSeekerAttachmentService.GetById(result);

                        if (uploadedFile != null)
                        {
                            if (fileType == "document") attachments.PictureURL = string.Empty;
                            else attachments.PictureURL = hostUrl + uploadFolderName + "/" + uploadedFile.FileNameUpdated;

                            isPictureUploaded = true;
                        }
                    }
                    else
                    {
                        SweetAlertResult rresult = await Swal.FireAsync(new SweetAlertOptions
                        {
                            Title = "File not saved.",
                            Text = "",
                            Icon = SweetAlertIcon.Warning,
                            ConfirmButtonText = "Ok!"
                        });
                    }
                }
            }
            else
            {
                SweetAlertResult rresult = await Swal.FireAsync(new SweetAlertOptions
                {
                    Title = "File not found.",
                    Text = "",
                    Icon = SweetAlertIcon.Warning,
                    ConfirmButtonText = "Ok!"
                });
            }
        }
        catch (Exception Ex)
        {
            SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Uploading Failed",
                Text = Ex.ToString(),
                Icon = SweetAlertIcon.Success,
                ConfirmButtonText = "Ok!"
            });
        }

        isLoading = false;
    }

    private void GoToHome()
    {
        navigationManager.NavigateTo("/", true);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                var lDotNetReference = DotNetObjectReference.Create(this);
                await JSRuntime.InvokeVoidAsync("GLOBAL.SetDotnetReference", lDotNetReference);

                refreshJS();
            }
            catch(Exception ex)
            {
                GoToHome();
            }
        }
    }

    protected async void refreshJS()
    {
        var result = await OFWClientPanel.Helpers.JsInteropHelper.RefreshJSResult(JSRuntime);

        if (result)
        {
            showHideJavascriptDependedHTMLTag = "visibility:visible";
            StateHasChanged();
        }
    }
}
