﻿@page  "/JobSeekerResume/{encryptedJobSeekerId}"

@using OFWClientPanel.Data.Models
@using OFWClientPanel.Data.Models.JobSeeker
@using OFWClientPanel.Helpers
@using  System.Globalization
@using OFWClientPanel.Services

@inject Ofwpro.Services.Interfaces.IJobSeekerService jobSeekerService
@inject Ofwpro.Services.Interfaces.ICountryDetailsService countryDetailsService
@inject Ofwpro.Services.Interfaces.IJobSeekerPersonalInformationService jobSeekerPersonalInformationService
@inject Ofwpro.Services.Interfaces.IJobSeekerQualificationService jobSeekerQualificationService
@inject Ofwpro.Services.Interfaces.IJobSeekerWorkExperienceService jobSeekerWorkExperienceService
@inject Ofwpro.Services.Interfaces.IEducationLevelService educationLevelService
@inject Ofwpro.Services.Interfaces.ISpecializationService specializationService
@inject Ofwpro.Services.Interfaces.IExperienceLevelService experienceLevelService
@inject Ofwpro.Services.Interfaces.IJobSeekerAttachmentService jobSeekerAttachmentService
@inject Ofwpro.Services.Interfaces.IMaritalStatusService maritalStatusService
@inject IJobSeekerDashboardService dashboardService
@inject IConfiguration config

@inject Blazored.LocalStorage.ILocalStorageService localStorage


<head>
    <link id="theme-style" rel="stylesheet" href="/theme/css/resume-css/pillar-1.css">
    <link href="~/theme/css/font-awesome-4.1.0/css/font-awesome.css" rel="stylesheet" />
    <title>@pageTitle</title>
</head>
<style>

    body {
        padding: 0px;
    }

    .navbar {
        display: none;
    }

    footer .container, footer .bottom {
        display: none;
    }
    /*footer {
         padding: 0px !important;
         padding-bottom: 0;
         background: none !important;
    }*/
    footer small {
        font-size: 12px !important;
    }

    .resume-footer {
        text-align: center;
        background: #f4f4f4 !important;
    }

        .resume-footer a {
            color: #61002E !important;
        }

    .resume-header {
        background: #61002E !important;
    }

        .resume-header .title-text {
            color: #fff !important
        }

        .resume-header .title {
            color: #fff !important
        }

    .resume-timeline {
        padding-left: 32px;
    }

    .resume-section table img {
        width: 20px !important;
        height: 20px !important;
    }

    .resume-header .primary-info {
        padding: 25px !important;
    }

    table td {
        line-height: 0px !important;
    }

    .resume-section table td + td, .resume-section table td:nth-child(2) {
        font-size: 12px;
        font-weight: bold;
    }

    .resume-section-title {
        font-size: 20px !important;
    }

    .resume-position-title {
        font-size: 18px !important;
    }

    .resume-company-name, .resume-degree-org {
        font-size: 12px !important;
    }

    .resume-section-content article p {
        font-size: 13px !important;
    }

    .resume-degree {
        font-size: 15px !important;
    }

    .resume-section-title {
        font-size: 1.25rem;
        position: relative;
        color: #61002E !important;
    }

        .resume-section-title:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1.5px;
            background: #61002E;
        }

    section {
        padding: 10px 0 !important;
        margin: 10px 0 !important;
    }
</style>

<div class="row">
    <div class="container text-center">
        <a href="http://ofwpro.com"><img src="/theme/assets/images/logo.png" /></a>
    </div>
</div>

<article class="resume-wrapper text-center position-relative">
    <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
        @if (!isLoaded)
        {
            <div class="lds-ripple-spinner"><div class="lds-ripple"><div></div><div></div></div></div>
        }
        else
        {
            <header class="resume-header pt-4 pt-md-0">

                <div class="media flex-column flex-md-row">
                    @if (!String.IsNullOrEmpty(jobSeekerProfile.ProfilePictureURL))
                    {<img src="@jobSeekerProfile.ProfilePictureURL" class="mr-3 img-fluid picture mx-auto" alt="" /> }
                    else
                    {
                        <img src="/theme/assets/images/place_holder.png" class="mr-3 img-fluid picture mx-auto" alt="" />
                    }
                    <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
                        <div class="primary-info">
                            <h1 class="name mt-0 mb-1 title-text text-uppercase text-uppercase">@jobSeekerProfile.FirstName @jobSeekerProfile.LastName</h1>
                            <div class="title mb-3">@jobSeekerProfile.JobTitle</div>
                            <ul class="list-unstyled">
                                <li class="mb-2"><a href="mailto:@jobSeekerProfile.Email"><i class="fa fa-envelope fa-2x fa-fw mr-2" data-fa-transform="grow-3"></i>@jobSeekerProfile.Email</a></li>
                                <li><a href="tel:@jobSeekerProfile.Mobile"><i class="fa fa-mobile fa-2x fa-fw mr-2" data-fa-transform="grow-6"></i>@jobSeekerProfile.Mobile</a></li>
                            </ul>
                        </div>
                    </div><!--//media-body-->
                </div><!--//media-->
            </header>
            <div class="resume-body p-5">
                @*<section class="resume-section summary-section mb-5">
                        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Career Summary</h2>
                        <div class="resume-section-content">
                            <p class="mb-0">Summarise your career here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. You can download this free resume/CV template here. Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget.</p>
                        </div>
                    </section>*@<!--//summary-section-->

                <div class="row">
                    <div class="col-lg-9">
                        <section class="resume-section experience-section mb-5">
                            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Work Experience</h2>
                            @if (jobSeekerProfile.WorkExperience != null)
                            {
                                <div class="resume-section-content">
                                    <div class="resume-timeline position-relative">
                                        @if (!string.IsNullOrEmpty(jobSeekerProfile.WorkExperience.JobTitle1))
                                        {
                                            <article class="resume-timeline-item position-relative pb-5">

                                                <div class="resume-timeline-item-header mb-2">
                                                    <div class="d-flex flex-column flex-md-row">
                                                        <h3 class="resume-position-title font-weight-bold mb-1">@jobSeekerProfile.WorkExperience.JobTitle1</h3>
                                                        <div class="resume-company-name ml-auto">@jobSeekerProfile.WorkExperience.Company1</div>
                                                    </div><!--//row-->
                                                    <div class="resume-position-time">@jobSeekerProfile.WorkExperience.TimePeriodFrom1.Value.Year - @jobSeekerProfile.WorkExperience.TimePeriodTo1.Value.Year</div>
                                                </div><!--//resume-timeline-item-header-->
                                                <div class="resume-timeline-item-desc">
                                                    <p> @((MarkupString)jobSeekerProfile.WorkExperience.RolesAndResponsibilities1)</p>

                                                </div><!--//resume-timeline-item-desc-->

                                            </article><!--//resume-timeline-item-->
                                        }
                                        @if (!string.IsNullOrEmpty(jobSeekerProfile.WorkExperience.JobTitle2))
                                        {
                                            <article class="resume-timeline-item position-relative pb-5">

                                                <div class="resume-timeline-item-header mb-2">
                                                    <div class="d-flex flex-column flex-md-row">
                                                        <h3 class="resume-position-title font-weight-bold mb-1">@jobSeekerProfile.WorkExperience.JobTitle2</h3>
                                                        <div class="resume-company-name ml-auto">@jobSeekerProfile.WorkExperience.Company2</div>
                                                    </div><!--//row-->
                                                    <div class="resume-position-time">@jobSeekerProfile.WorkExperience.TimePeriodFrom2.Value.Year - @jobSeekerProfile.WorkExperience.TimePeriodTo2.Value.Year</div>
                                                </div><!--//resume-timeline-item-header-->
                                                <div class="resume-timeline-item-desc">
                                                    <p> @((MarkupString)jobSeekerProfile.WorkExperience.RolesAndResponsibilities2)</p>

                                                </div><!--//resume-timeline-item-desc-->

                                            </article><!--//resume-timeline-item-->
                                        }
                                        @if (!string.IsNullOrEmpty(jobSeekerProfile.WorkExperience.JobTitle3))
                                        {
                                            <article class="resume-timeline-item position-relative pb-5">

                                                <div class="resume-timeline-item-header mb-2">
                                                    <div class="d-flex flex-column flex-md-row">
                                                        <h3 class="resume-position-title font-weight-bold mb-1">@jobSeekerProfile.WorkExperience.JobTitle3</h3>
                                                        <div class="resume-company-name ml-auto">@jobSeekerProfile.WorkExperience.Company3</div>
                                                    </div><!--//row-->
                                                    <div class="resume-position-time">@jobSeekerProfile.WorkExperience.TimePeriodFrom3.Value.Year - @jobSeekerProfile.WorkExperience.TimePeriodTo3.Value.Year</div>
                                                </div><!--//resume-timeline-item-header-->
                                                <div class="resume-timeline-item-desc">
                                                    <p> @((MarkupString)jobSeekerProfile.WorkExperience.RolesAndResponsibilities3)</p>

                                                </div><!--//resume-timeline-item-desc-->

                                            </article><!--//resume-timeline-item-->
                                        }
                                    </div><!--//resume-timeline-->
                                </div>
                            }
                        </section><!--//experience-section-->
                    </div>
                    <div class="col-lg-3">
                        <section class="resume-section education-section mb-5">
                            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Education</h2>
                            @if (jobSeekerProfile.Education != null && !string.IsNullOrEmpty(jobSeekerProfile.Education.EducationLevel))
                            {
                                <div class="resume-section-content">
                                    <ul class="list-unstyled">
                                        <li class="mb-2">
                                            <div class="resume-degree font-weight-bold">@jobSeekerProfile.Education.NameOfDegree</div>
                                            <div class="resume-degree-org">@jobSeekerProfile.Education.SchoolOrUniversity</div>
                                            <div class="resume-degree-time">@jobSeekerProfile.Education.GraduationDate.ToString("dd MMM, yyyy") - 2011</div>
                                        </li>
                                    </ul>
                                </div>
                            }

                        </section><!--//education-section-->

                    </div>
                </div><!--//row-->

                <div class="row">
                    <div class="col-lg-6">
                        <section class="resume-section experience-section mb-5">
                            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Personal Information</h2>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td width="20" height="35" align="center" valign="middle"><img class="icon" src="/theme/assets/images/nationality.png"></td>
                                        <td align="left" valign="middle" class="title">Nationality</td>
                                        <td align="left" valign="middle">@jobSeekerProfile.Country</td>
                                    </tr>
                                    <tr>
                                        <td width="20" height="35" align="center" valign="middle"><img class="icon" src="/theme/assets/images/gender.png"></td>
                                        <td align="left" valign="middle" class="title">Gender</td>
                                        <td align="left" valign="middle">@jobSeekerProfile.Gender</td>
                                    </tr>
                                    <tr>
                                        <td width="20" height="35" align="center" valign="middle"><img class="icon" src="/theme/assets/images/driving.png"></td>
                                        <td align="left" valign="middle" class="title">Driving License</td>
                                        <td align="left" valign="middle">@jobSeekerProfile.DrivingLicense</td>
                                    </tr>
                                    <tr>
                                        <td width="20" height="35" align="center" valign="middle"><img class="icon" src="/theme/assets/images/location.png"></td>
                                        <td align="left" valign="middle" class="title">Current Location</td>
                                        <td align="left" valign="middle">@jobSeekerProfile.CurrentCountry</td>
                                    </tr>
                                    <tr>
                                        <td width="20" height="35" align="center" valign="middle"><img class="icon" src="/theme/assets/images/marital.png"></td>
                                        <td align="left" valign="middle" class="title">Social Status</td>
                                        <td align="left" valign="middle">@jobSeekerProfile.SocialStatus</td>
                                    </tr>
                                    <tr>
                                        <td width="20" height="35" align="center" valign="middle"><img class="icon" src="/theme/assets/images/d.o.b.png"></td>
                                        <td align="left" valign="middle" class="title">DOB</td>
                                        <td align="left" valign="middle">@jobSeekerProfile.DOB.ToString("MMM dd, yyyy")</td>
                                    </tr>
                                    <tr>
                                        <td width="20" height="35" align="center" valign="middle">&nbsp;</td>
                                        <td align="left" valign="middle" class="title">&nbsp;</td>
                                        <td align="left" valign="middle">&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </div>
                </div>
            </div><!--//resume-body-->

            <footer class="resume-footer pt-4 pt-md-0">
                <div class="row">
                    <div class="col-lg-12">
                        <small class="copyright"><a href="http://ofwpro.com" target="_blank">www.ofwpro.com</a></small>
                    </div>
                </div>
            </footer>
        }

    </div>
</article>

@code{
    [Parameter]
    public string EncryptedJobSeekerId { get; set; }

    public long JobSeekerId { get; set; }

    private string pageTitle = "OFWPro";

    private Profile jobSeekerProfile { get; set; }

    private bool isLoaded = false;

    protected override async Task OnInitializedAsync()
    {
        if (!String.IsNullOrEmpty(EncryptedJobSeekerId))
        {
            JobSeekerId = UtilityHelper.HashDecode(EncryptedJobSeekerId);
            try
            {
                if (JobSeekerId > 0)
                {
                    string hostUrl = config["Utility:ClientBaseURL"].ToString();
                    string uploadFolderName = config["UploadFolders:UploadFolder"];

                    var CountryDetails = await countryDetailsService.GetAll();
                    var MaritalStatus = await maritalStatusService.GetAll();

                    var jobSeekerObj = await jobSeekerService.GetById(JobSeekerId);

                    if (jobSeekerObj != null)
                    {
                        jobSeekerProfile = new Profile();

                        var jobSeekerPersonalInformation = await jobSeekerPersonalInformationService.GetByJobSeekerId(jobSeekerObj.JobSeekerId);
                        var jobSeekerQualification = await jobSeekerQualificationService.GetByJobSeekerId(jobSeekerObj.JobSeekerId);
                        var jobSeekerWorkExperience = await jobSeekerWorkExperienceService.GetByJobSeekerId(jobSeekerObj.JobSeekerId);
                        var jobSeekerProfilePicture = await jobSeekerAttachmentService.GetByJobSeekerAndDocumentType(jobSeekerObj.JobSeekerId, "picture");
                        string UploadedFrom = "";
                        if (jobSeekerProfilePicture != null && jobSeekerProfilePicture.UploadedFrom != null) UploadedFrom = jobSeekerProfilePicture.UploadedFrom;

                        if (UploadedFrom == "Client") hostUrl = config["Utility:ClientBaseURL"].ToString();
                        else if (UploadedFrom == "Admin") hostUrl = config["Utility:APIBaseURL"].ToString();

                        var jobSeekerCountry = CountryDetails.Where(x => x.Code == jobSeekerObj.CountryCode).LastOrDefault();
                        jobSeekerProfile.FirstName = jobSeekerObj.FirstName;
                        jobSeekerProfile.LastName = jobSeekerObj.LastName;
                        jobSeekerProfile.JobTitle = jobSeekerObj.Title;
                        jobSeekerProfile.DOB = jobSeekerObj.Dob;
                        jobSeekerProfile.Gender = !string.IsNullOrEmpty(jobSeekerObj.Gender) ? (jobSeekerObj.Gender.Trim().ToLower() == "male" ? "Male" : "Female") : "";
                        jobSeekerProfile.Email = jobSeekerObj.Email;
                        if (string.IsNullOrEmpty(jobSeekerObj.CountryNo))
                        {
                            jobSeekerProfile.Mobile = jobSeekerObj.Mobile;
                        }
                        else
                            jobSeekerProfile.Mobile = "(+" + jobSeekerObj.CountryNo + ")" + jobSeekerObj.Mobile;

                        pageTitle = jobSeekerProfile.FirstName + " " + jobSeekerProfile.LastName + "'s Prfile - OFWPro";

                        if (jobSeekerCountry != null) jobSeekerProfile.Country = jobSeekerCountry.Name;

                        if (jobSeekerPersonalInformation != null)
                        {
                            var jobSeekerMaritalStatus = MaritalStatus.Where(x => x.Id == jobSeekerPersonalInformation.MaritalStatusId).LastOrDefault();
                            var jobSeekerCurrentCountry = CountryDetails.Where(x => x.Id == jobSeekerPersonalInformation.CurrentCountryId).LastOrDefault();

                            if (jobSeekerCurrentCountry == null) jobSeekerCurrentCountry = CountryDetails.Where(x => x.Id == jobSeekerPersonalInformation.CountryId).LastOrDefault();

                            if (jobSeekerMaritalStatus != null) jobSeekerProfile.SocialStatus = jobSeekerMaritalStatus.Name;
                            if (jobSeekerCurrentCountry != null) jobSeekerProfile.CurrentCountry = jobSeekerCurrentCountry.Name;


                            jobSeekerProfile.DrivingLicense = jobSeekerPersonalInformation.IsDrivingLicense;
                            jobSeekerProfile.DrivingLicense = (jobSeekerProfile.DrivingLicense.Trim().ToLower() == "y" || jobSeekerProfile.DrivingLicense.Trim().ToLower() == "yes") ? "Yes" : "No";
                        }
                        if (jobSeekerObj.IsPictureApproved && jobSeekerProfilePicture != null) jobSeekerProfile.ProfilePictureURL = hostUrl + uploadFolderName + "/" + jobSeekerProfilePicture.FileNameUpdated;
                        if (jobSeekerWorkExperience != null)
                        {
                            jobSeekerProfile.WorkExperience = new WorkExperience()
                            {
                                JobTitle1 = jobSeekerWorkExperience.JobTitle1,
                                Company1 = jobSeekerWorkExperience.Company1,
                                City1 = jobSeekerWorkExperience.City1,
                                RolesAndResponsibilities1 = jobSeekerWorkExperience.ReasonForLeaving1,
                                TimePeriodFrom1 = string.IsNullOrEmpty(jobSeekerWorkExperience.TimePeriodFrom1) ? new DateTime(01, 01, 01) : DateTime.ParseExact(jobSeekerWorkExperience.TimePeriodFrom1, @"MM/dd/yyyy", CultureInfo.InvariantCulture),
                                TimePeriodTo1 = string.IsNullOrEmpty(jobSeekerWorkExperience.TimePeriodTo1) ? new DateTime(01, 01, 01) : DateTime.ParseExact(jobSeekerWorkExperience.TimePeriodTo1, @"MM/dd/yyyy", CultureInfo.InvariantCulture),

                                JobTitle2 = (!String.IsNullOrEmpty(jobSeekerWorkExperience.JobTitle2) ? jobSeekerWorkExperience.JobTitle2 : ""),
                                Company2 = (!String.IsNullOrEmpty(jobSeekerWorkExperience.Company2) ? jobSeekerWorkExperience.Company2 : ""),
                                City2 = (!String.IsNullOrEmpty(jobSeekerWorkExperience.City2) ? jobSeekerWorkExperience.City2 : ""),
                                RolesAndResponsibilities2 = jobSeekerWorkExperience.ReasonForLeaving2,
                                TimePeriodFrom2 = string.IsNullOrEmpty(jobSeekerWorkExperience.TimePeriodFrom2) ? new DateTime(01, 01, 01) : DateTime.ParseExact(jobSeekerWorkExperience.TimePeriodFrom2, @"MM/dd/yyyy", CultureInfo.InvariantCulture),
                                TimePeriodTo2 = string.IsNullOrEmpty(jobSeekerWorkExperience.TimePeriodTo2) ? new DateTime(01, 01, 01) : DateTime.ParseExact(jobSeekerWorkExperience.TimePeriodTo2, @"MM/dd/yyyy", CultureInfo.InvariantCulture),

                                JobTitle3 = (!String.IsNullOrEmpty(jobSeekerWorkExperience.JobTitle3) ? jobSeekerWorkExperience.JobTitle3 : ""),
                                Company3 = (!String.IsNullOrEmpty(jobSeekerWorkExperience.Company3) ? jobSeekerWorkExperience.Company3 : ""),
                                City3 = (!String.IsNullOrEmpty(jobSeekerWorkExperience.City3) ? jobSeekerWorkExperience.City3 : ""),
                                RolesAndResponsibilities3 = jobSeekerWorkExperience.ReasonForLeaving3,
                                TimePeriodFrom3 = string.IsNullOrEmpty(jobSeekerWorkExperience.TimePeriodFrom3) ? new DateTime(01, 01, 01) : DateTime.ParseExact(jobSeekerWorkExperience.TimePeriodFrom3, @"MM/dd/yyyy", CultureInfo.InvariantCulture),
                                TimePeriodTo3 = string.IsNullOrEmpty(jobSeekerWorkExperience.TimePeriodTo3) ? new DateTime(01, 01, 01) : DateTime.ParseExact(jobSeekerWorkExperience.TimePeriodTo3, @"MM/dd/yyyy", CultureInfo.InvariantCulture),
                            };
                        }
                        if (jobSeekerQualification != null)
                        {
                            var educationalDegrees = educationLevelService.GetById(jobSeekerQualification.EducationLevelId);
                            var specializations = await specializationService.GetById(Convert.ToInt64(jobSeekerQualification.SpecializationId));

                            string EducationLevel = "", Specialization = "";

                            if (educationalDegrees != null) EducationLevel = educationalDegrees.Name;
                            if (specializations != null) Specialization = specializations.SpecializationNameEn;

                            jobSeekerProfile.Education = new Qualification()
                            {
                                SchoolOrUniversity = jobSeekerQualification.SchoolUniversity,
                                NameOfDegree = jobSeekerQualification.NameOfDegree,
                                EducationLevel = EducationLevel,
                                Specialization = Specialization,
                                GraduationDate = jobSeekerQualification.GraduationDate
                            };
                        }
                    }
                }
            }
            catch (Exception ex)
            {
                throw ex;
            }

            isLoaded = true;
        }
    }
}
