﻿@page "/jobSearch"

@using OFWClientPanel.Data.Models.Recruiter

@inject Ofwpro.Services.Interfaces.IRecruiterPostedJobsService recruiterPostedJobsService
@inject Ofwpro.Services.Interfaces.IRecruiterCompanyService recruiterCompanyService
@inject Ofwpro.Services.Interfaces.IRecruiterAttachmentService recruitmentAttachmentService
@inject Ofwpro.Services.Interfaces.ICountryDetailsService countryDetailsService
@inject Ofwpro.Services.Interfaces.IEmployeeTypeService employeeTypeService

@inject Ofwpro.Services.Interfaces.ISalaryRangeService salaryRangeService

@inject Blazored.LocalStorage.ILocalStorageService localStorage

@inject Microsoft.Extensions.Configuration.IConfiguration config;
@inject IModalService Modal
@inject NavigationManager NavManager
@using Microsoft.AspNetCore.WebUtilities @*for QueryHelpers*@
@inject IJSRuntime jsRuntime
@*<AuthorizeView>
        <Authorized>

        </Authorized>
    </AuthorizeView>*@

<section>
    <div class="container">
        <div class="row text-left">
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Search by title, skill, or company" @bind="SearchTitle">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Location" @bind="SearchLocation">
            </div>
            <div class="col-md-2"> <button type="button" @onclick="@(() => SearchJob())" class="btn_n btn red submit">Search for a job <i class="fa fa-chevron-right"></i></button> </div>
            <div class="col-md-2"> <button type="button" @onclick="@(() => ClearFilter())" class="btn_n btn red submit">Clear <i class="fa fa-chevron-right"></i></button> </div>
        </div>
        @if (isEmploymentTypeLoaded)
        {
            <div class="row">
                <div class="col-md-12 checks">
                    @foreach (var employeeType in (List<Ofwpro.Core.EmployeeType>)EmployeeTypes)
                    {
                        <input type="checkbox" id="chk_@employeeType.Id" class="css-checkbox" @onchange="(e) => filterEmployementType(employeeType.Name, e)" />
                        <label for="chk_@employeeType.Id">@employeeType.Name</label>
                    }
                </div>
            </div>
        }

        @if (!isLoaded)
        {
            <div class="lds-ripple-spinner"><div class="lds-ripple"><div></div><div></div></div></div>
        }
        else
        {

            <div class="row">
                <div class="container">
                    <div id="container">
                        <h4 class="blue-color">@TotalJobs Jobs Found</h4>
                        <div class="row">
                            @foreach (var postJob in postJobs)
                            {
                                <div class="col-xs-6 col-lg-4 mix web ui  animate__animated animate__fadeIn" data-bound="" style="display: inline-block;">
                                    <div class="job-item">
                                        <div class="container-fluid no-padding">
                                            <div class="col-sm-3">
                                                @if (!String.IsNullOrEmpty(postJob.CompanyLogoURL))
                                                {<img src="@postJob.CompanyLogoURL" alt="Job" /> }
                                                else
                                                {
                                                    <img src="/theme/assets/images/default-company-logo.png" alt="Job" />
                                                }
                                            </div>
                                            <div class="col-sm-9">

                                                <div class="job-inner align-items-center">
                                                    <div class="job-inner-left">
                                                        <h4 title="@postJob.Title">@postJob.Title</h4>

                                                        @if (!string.IsNullOrEmpty(postJob.CompanyName))
                                                        {
                                                            <span href="#">@postJob.CompanyName</span>
                                                        }
                                                        else
                                                        {
                                                            <span style="background: none !important;">nbsp</span>
                                                        }
                                                        <ul>
                                                            <li>
                                                                <i class="fa fa-dollar"></i>
                                                                @postJob.SalaryRange
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-map-marker"></i>
                                                                @postJob.Country
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="job-inner-right">
                                                        <ul>
                                                            <li>
                                                                @if (!string.IsNullOrEmpty(postJob.EmploymentType))
                                                                {
                                                                    <span>@postJob.EmploymentType</span>
                                                                }
                                                                else
                                                                {
                                                                    <span style="color:transparent">Not defined</span>
                                                                }
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;" @onclick="@(() => ShowJobDetails(postJob.PostedJobId))">Apply</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    @if (TotalJobs > 0)
                    {
                        <nav class="text-center">
                            <ul class="pagination text-center">
                                @if (CurrentPage > 1)
                                {
                                    <li> <a href="javascript:void(0);" @onclick="@(() => GoToPage(CurrentPage - 1))" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
                                }
                                @for (int i = 1; i <= TotalPage; i++)
                                {
                                    int pageNo = i;
                                    string active = CurrentPage == i ? "active" : "";
                                    <li class="@active"><a href="javascript:void(0);" @onclick="@(() => GoToPage(pageNo))">@i</a></li>
                                }
                                @if (CurrentPage < TotalPage)
                                {
                                    <li> <a href="javascript:void(0);" @onclick="@(() => GoToPage(CurrentPage + 1))" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
                                }

                            </ul>
                        </nav>
                    }
                </div>
            </div>
        }
    </div>
</section>

@code {
    private PostJob postJob;
    private List<PostJob> postJobs;

    private List<PostJob> filteredPostedJobs;

    private int TotalJobs = 0;
    private int CurrentPage = 1;
    private int TotalPage = 0;
    private int PageSize = 12;
    private string SearchTitle = "";
    private string SearchLocation = "";
    private List<string> employmentType = new List<string>();


    private dynamic CountryDetails { get; set; } = null;
    private dynamic EmployeeTypes { get; set; } = null;
    private dynamic SalaryRanges { get; set; } = null;

    private string FullTimeEmployee = "full_time";
    private string PartTimeEmployee = "part_time";


    private bool isLoaded = false;
    private bool isEmploymentTypeLoaded = false;


    protected override async Task OnInitializedAsync()
    {
        EmployeeTypes = (await employeeTypeService.GetAll(0, 9999)).Item1;
        CountryDetails = await countryDetailsService.GetAll();
        SalaryRanges = (await salaryRangeService.GetAll(0, 9999)).Item1;
        isEmploymentTypeLoaded = true;

        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("keyword", out var _keyword))
        {
            SearchTitle = _keyword.ToString();
        }
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("location", out var _location))
        {
            SearchLocation = _location.ToString();
        }

        postJob = new PostJob();
        postJobs = new List<PostJob>();

        string hostUrl = config["Utility:ClientBaseURL"].ToString();
        string uploadFolderName = config["UploadFolders:UploadFolder"];

        //CountryDetails = await countryDetailsService.GetAll();
        //EmployeeTypes = (List<Ofwpro.Core.EmployeeType>)await employeeTypeService.GetAll();

        await SearchJob();
        isLoaded = true;
    }

    private async Task SearchJob()
    {
        isLoaded = false;
        await SearchJob(SearchTitle, SearchLocation, employmentType, CurrentPage, PageSize);
    }
    private void ClearFilter()
    {
        SearchTitle = "";
        SearchLocation = "";
        NavManager.NavigateTo("/jobSearch", true);
    }
    private async Task filterEmployementType(string employementTypeCheckbox, ChangeEventArgs e)
    {
        isLoaded = false;

        if (Convert.ToBoolean(e.Value) == true) employmentType.Add(employementTypeCheckbox);
        else employmentType.Remove(employementTypeCheckbox);

        await SearchJob();
    }

    private async Task GoToPage(int pageNo)
    {
        isLoaded = false;
        CurrentPage = pageNo;
        await SearchJob(SearchTitle, SearchLocation, employmentType, CurrentPage, PageSize);
    }

    private async Task SearchJob(string searchText, string searchLocation, List<string> employmentType, int pageNo, int pageSize)
    {


        string hostUrl = config["Utility:ClientBaseURL"].ToString();
        string uploadFolderName = config["UploadFolders:UploadFolder"];

        var recruiterPostedJobs = await recruiterPostedJobsService.Filter(searchText.Trim().ToLower(), searchLocation.Trim().ToLower(), employmentType);

        int skip = (pageNo - 1) * pageSize;
        int take = pageSize;

        TotalJobs = recruiterPostedJobs.Count();
        TotalPage = TotalJobs / pageSize;
        long modulus = TotalJobs % pageSize;
        TotalPage = modulus > 0 ? TotalPage + 1 : TotalPage;

        CurrentPage = pageNo;

        if (TotalPage < 1) TotalPage = 1;

        postJobs = new List<PostJob>();

        if (recruiterPostedJobs.Any())
        {
            var employeeTypes = ((List<Ofwpro.Core.EmployeeType>)EmployeeTypes);
            var countries = ((List<Ofwpro.Core.CountryDetails>)CountryDetails);
            var salaryRanges = ((List<Ofwpro.Core.SalaryRange>)SalaryRanges);

            TotalJobs = recruiterPostedJobs.Count();

            foreach (var job in recruiterPostedJobs)
            {
                PostJob postJob = new PostJob();

                var recruiterCompany = (await recruiterCompanyService.GetByRecruiterId(job.RecruiterId));
                var recruiterAttachment = (await recruitmentAttachmentService.GetByDocumentType(job.RecruiterId, "company_logo"));
                string UploadedFrom = "";
                if (recruiterAttachment != null && recruiterAttachment.UploadedFrom != null) UploadedFrom = recruiterAttachment.UploadedFrom;

                if (UploadedFrom == "Client") hostUrl = config["Utility:ClientBaseURL"].ToString();
                else if (UploadedFrom == "Admin") hostUrl = config["Utility:APIBaseURL"].ToString();

                var employeeType = employeeTypes.Where(c => c.Id == job.EmploymentType).LastOrDefault();
                var country = countries.Where(c => c.Id == job.CountryId).LastOrDefault();
                var SalaryRange = salaryRanges.Where(c => c.Id == job.SalaryRangeId).LastOrDefault();

                postJob.PostedJobId = job.RecruiterPostedJobsId.ToString();
                postJob.Title = job.Title;
                postJob.CompanyName = recruiterCompany.CompanyName;
                if (recruiterAttachment != null) postJob.CompanyLogoURL = hostUrl + uploadFolderName + "/" + recruiterAttachment.FileNameUpdated;
                if (employeeType != null) postJob.EmploymentType = employeeType.Name;
                postJob.SalaryRange = SalaryRange != null ? SalaryRange.Name : "";
                postJob.CreatedOn = job.CreatedOn;
                postJob.Country = country.Name;

                postJobs.Add(postJob);
            }

            postJobs = postJobs.OrderByDescending(x => x.PostedJobId).Skip(skip).Take(take).ToList();
        }

        isLoaded = true;

        await localStorage.SetItemAsync("SeenNoOfJobs", TotalJobs);
    }


    private void ShowJobDetails(string PostedJobId)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(RecruiterDetails.PostedJobId), PostedJobId);

        Modal.Show<ApplyForJob>("", parameters);
    }
}