﻿@page "/login"

@using OFWClientPanel.Data.Models
@using OFWClientPanel.Data
@using OFWClientPanel.Helpers
@using Ofwpro.Core

@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject Ofwpro.Services.Interfaces.IJobSeekerService jobSeekerService
@inject Ofwpro.Services.Interfaces.IJobSeekerAttachmentService jobSeekerAttachmentService
@inject Ofwpro.Services.Interfaces.IRecruiterService recruiterService
@inject Ofwpro.Services.Interfaces.IRecruiterCompanyService recruiterCompanyService
@inject Ofwpro.Services.Interfaces.IRecruiterAttachmentService recruitmentAttachmentService
@inject Ofwpro.Services.Interfaces.IUserService userService
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

@inject SweetAlertService Swal

<section>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-5  col-sm-offset-3">
                <h3 class="small-margin">Sign In to Your Account</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-sm-offset-3 login_wrap">
                <div class="tabs-container">
                    <div class="tab-nav">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="@currentPage#tab1">For Job Seeker</a></li>
                            <li><a data-toggle="tab" href="@currentPage#tab2">For Companies</a></li>
                        </ul>
                    </div>
                    <div class="tab-holder tab-content">
                        <div class="tab tab-pane fade in active" id="tab1">
                            <EditForm Model="@jobSeekerLogin" OnValidSubmit="LoginJobSeeker">
                                <p>
                                    Browse 100's of recruiters and reviews. <br />
                                    We don't post anything without your permission.
                                </p>
                                <DataAnnotationsValidator />
                                <div class="row container">
                                    <div class="col-md-5">
                                        <div class="row text-left">
                                            <div class="col-md-12">
                                                <InputText id="email" class="form-control" placeholder="Email" @bind-Value="jobSeekerLogin.Email" />
                                                <span class="text-danger">
                                                    <ValidationMessage For="@(() => jobSeekerLogin.Email)" class="text-danger" />
                                                </span>
                                            </div>
                                            <div class="col-md-12">
                                                <InputText id="password" type="password" class="form-control" placeholder="Password" @bind-Value="jobSeekerLogin.Password" />
                                                <span class="text-danger">
                                                    <ValidationMessage For="@(() => jobSeekerLogin.Password)" class="text-danger" />
                                                </span>
                                            </div>
                                            <div class="col-md-12">
                                                <button type="submit" class="btn red submit">
                                                    Login
                                                    @if (!isClicked)
                                                    {<i class="fa fa-chevron-right"></i> }
                                                    else
                                                    { <i class="fa fa-spinner" aria-hidden="true"></i>}
                                                </button>
                                            </div>
                                            <div class="col-md-12"> Don't have an account? <NavLink href="jobSeekerRegistration">Sign Up</NavLink> as a job seeker</div>
                                            <div class="col-md-12"><NavLink href="forgotPassword">Forgot Password!</NavLink></div>
                                        </div>
                                    </div>
                                </div>
                            </EditForm>
                        </div>
                        <div class="tab tab-pane fade" id="tab2">
                            <EditForm Model="@recruiterLogin" OnValidSubmit="LoginRecruiter">
                                <p>
                                    Browse 100's of recruiters and reviews. <br />
                                    We don't post anything without your permission.
                                </p>
                                <DataAnnotationsValidator />
                                <div class="row container">
                                    <div class="col-md-5">
                                        <div class="row text-left">
                                            <div class="col-md-12">
                                                <InputText id="email1" class="form-control" placeholder="Email" @bind-Value="recruiterLogin.Email" />
                                                <span class="text-danger">
                                                    <ValidationMessage For="@(() => recruiterLogin.Email)" class="text-danger" />
                                                </span>
                                            </div>
                                            <div class="col-md-12">
                                                <InputText id="password1" type="password" class="form-control" placeholder="Password" @bind-Value="recruiterLogin.Password" />
                                                <span class="text-danger">
                                                    <ValidationMessage For="@(() => recruiterLogin.Password)" class="text-danger" />
                                                </span>
                                            </div>
                                            <div class="col-md-12">
                                                <button type="submit" class="btn red submit">
                                                    Login
                                                    @if (!isClicked)
                                                    {<i class="fa fa-chevron-right"></i> }
                                                    else
                                                    { <i class="fa fa-spinner" aria-hidden="true"></i>}
                                                </button>
                                            </div>
                                            <div class="col-md-12"> Don't have an account? <NavLink href="recruiterRegistration">Sign Up</NavLink> as a recruiter</div>
                                            <div class="col-md-12"><NavLink href="forgotPassword">Forgot Password!</NavLink></div>
                                        </div>
                                    </div>
                                </div>
                            </EditForm>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*<section class="section-alt1 no-margin">
    <div class="container">
        <div class="row owl-clients">
            <div class="item text-center"> <img src="/theme/assets/images/clients/1.png" class="client" alt=""> </div>
            <div class="item text-center"> <img src="/theme/assets/images/clients/2.png" class="client" alt=""> </div>
            <div class="item text-center"> <img src="/theme/assets/images/clients/3.png" class="client" alt=""> </div>
            <div class="item text-center"> <img src="/theme/assets/images/clients/4.png" class="client" alt=""> </div>
            <div class="item text-center"> <img src="/theme/assets/images/clients/1.png" class="client" alt=""> </div>
            <div class="item text-center"> <img src="/theme/assets/images/clients/2.png" class="client" alt=""> </div>
            <div class="item text-center"> <img src="/theme/assets/images/clients/3.png" class="client" alt=""> </div>
            <div class="item text-center"> <img src="/theme/assets/images/clients/4.png" class="client" alt=""> </div>
        </div>
    </div>
</section>*@

@code
{
    string currentPage = "/login";

    private bool Validate = false;
    public UserLogin jobSeekerLogin { get; set; }
    public UserLogin recruiterLogin { get; set; }
    private dynamic UserDetails;

    private bool isClicked = false;

    protected override async Task OnInitializedAsync()
    {
        jobSeekerLogin = new UserLogin();
        recruiterLogin = new UserLogin();
    }

    private async Task LoginJobSeeker()
    {
        try
        {
            if (!String.IsNullOrEmpty(jobSeekerLogin.Email) && !String.IsNullOrEmpty(jobSeekerLogin.Password))
            {
                //var applicationUser = await userService.GetByEmail(login.Email);

                //var signInResult = await userService.Authenticate(applicationUser.UserName, applicationUser.PasswordHash);
                isClicked = true;

                string Password = UtilityHelper.Encrypt(jobSeekerLogin.Password);

                Validate = jobSeekerService.Validate(jobSeekerLogin.Email, Password);

                if (Validate)
                {
                    Ofwpro.Core.JobSeeker jobSeeker = await jobSeekerService.GetByEmail(jobSeekerLogin.Email);

                    if (jobSeeker.IsActive)
                    {
                        var jobSeekerAttachment = (await jobSeekerAttachmentService.GetByJobSeekerAndDocumentType(jobSeeker.JobSeekerId, "picture"));

                        string profilePictureURL = "";
                        if (jobSeeker.IsPictureApproved && jobSeekerAttachment != null) profilePictureURL = jobSeekerAttachment.FileNameUpdated;

                        await localStorage.SetItemAsync("JobSeekerDetails", jobSeeker);
                        await localStorage.SetItemAsync("EmailAddress", jobSeekerLogin.Email);
                        await localStorage.SetItemAsync("UserType", "Job Seeker");
                        await localStorage.SetItemAsync("ProfilePictureURL", profilePictureURL);

                        await ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkJobSeekerAsAuthenticated(jobSeeker);
                        navigationManager.NavigateTo("/jobSeekerDashboard", true);
                    }
                    else
                    {

                        await Swal.FireAsync("Please activate your account using email we sent you after registeration.");
                    }
                }
                else
                {
                    isClicked = false;
                    await Swal.FireAsync("Invalid Email or Password.");
                }
            }
            else
            {
                isClicked = false;
                await Swal.FireAsync("Please enter Email and Password.");
            }
        }
        catch (Exception ex) { }
    }

    private async Task LoginRecruiter()
    {
        try
        {
            if (!String.IsNullOrEmpty(recruiterLogin.Email) && !String.IsNullOrEmpty(recruiterLogin.Password))
            {
                isClicked = true;

                string Password = UtilityHelper.Encrypt(recruiterLogin.Password);
                Validate = recruiterService.Validate(recruiterLogin.Email, Password);

                if (Validate)
                {
                    Ofwpro.Core.Recruiter recruiter = await recruiterService.GetByEmail(recruiterLogin.Email);

                    if (recruiter.IsActive)
                    {

                        var recruiterCompany = (await recruiterCompanyService.GetByRecruiterId(recruiter.RecruiterId));
                        var recruiterAttachment = (await recruitmentAttachmentService.GetByDocumentType(recruiter.RecruiterId, "company_logo"));

                        string CompanyName = "", CompanyLogoURL = "", CompanyPhoneNo = "";
                        if (recruiterCompany != null)
                        {
                            CompanyName = recruiterCompany.CompanyName;
                            CompanyPhoneNo = recruiterCompany.PhoneNumber;
                        }
                        if (recruiterAttachment != null) CompanyLogoURL = recruiterAttachment.FileNameUpdated;

                        await localStorage.SetItemAsync("RecruiterDetails", recruiter);
                        await localStorage.SetItemAsync("EmailAddress", recruiterLogin.Email);
                        await localStorage.SetItemAsync("UserType", "Recruiter");
                        await localStorage.SetItemAsync("CompanyName", CompanyName);
                        await localStorage.SetItemAsync("CompanyPhoneNumber", CompanyPhoneNo);
                        await localStorage.SetItemAsync("CompanyLogoURL", CompanyLogoURL);

                        await ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkRecruiterAsAuthenticated(recruiter);

                        navigationManager.NavigateTo("/recruiterDashboard", true);
                    }
                    else
                    {
                        await Swal.FireAsync("Please activate your account using email we sent you after registeration.");
                    }
                }
                else
                {
                    isClicked = false;
                    await Swal.FireAsync("Invalid Email or Password.");
                }
            }
            else
            {
                isClicked = false;
                await Swal.FireAsync("Please enter Email and Password.");
            }
        }
        catch (Exception ex) { }
    }
}