﻿@page "/news"

@using Ofwpro.Core
@using System.Text
@using OFWClientPanel.Helpers
@using Ofwpro.Services.Interfaces

@inject INewsService newsService
@inject NavigationManager navigationManager



<section class="job_seker news_list">
    <div class="container">

        @if (!isLoaded)
        {
            @*<div class="spinner"></div>*@
            <div class="lds-ripple-spinner"><div class="lds-ripple"><div></div><div></div></div></div>
        }
        else
        {
            <div class="row">
                <div class="col-md-12">
                    <div id="container">
                        <div class="row">
                            <div class="seekers_list">
                                @foreach (var news in newsList)
                                {
                                    <div class="col-md-3">
                                        <div class="text-center">
                                            <a class="news-date" href="javascript:void(0);">@news.NewsDate.ToString("dddd, dd MMM yyyy")</a>

                                            <h4>@news.NewsTitle</h4>

                                            @if (news.NewsDescription != null && news.NewsDescription.Length > 250)
                                            {
                                                <p class="news-description">@news.NewsDescription.Substring(0, 249).ToString() ..</p>
                                            }
                                            else
                                            {
                                                <p class="news-description">@news.NewsDescription </p>
                                            }

                                            <div class="cont">
                                                <p class="view_p">
                                                    <a href="/news/detail" @onclick="(() => NewsDetails(news.NewsId))">Read More</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    @if (TotalNews > 0)
                    {
                        <nav class="text-center">
                            <ul class="pagination text-center">
                                @if (CurrentPage > 1)
                                {
                                    <li> <a href="javascript:void(0);" @onclick="@(() => GoToPage(CurrentPage - 1))" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
                                }
                                @for (int i = 1; i <= TotalPage; i++)
                                {
                                    int pageNo = i;
                                    string active = CurrentPage == i ? "active" : "";
                                    <li class="@active"><a href="javascript:void(0);" @onclick="@(() => GoToPage(pageNo))">@i</a></li>
                                }
                                @if (CurrentPage < TotalPage)
                                {
                                    <li> <a href="javascript:void(0);" @onclick="@(() => GoToPage(CurrentPage + 1))" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
                                }

                            </ul>
                        </nav>
                    }
                </div>
            </div>
        }
    </div>
</section>
@code{
    List<Ofwpro.Core.News> newsList { get; set; }

    bool isLoaded = true;
    public string encryptedNewsId = "";

    private int TotalNews = 0;
    private int CurrentPage = 1;
    private int TotalPage = 0;
    private int PageSize = 12;

    protected override async Task OnInitializedAsync()
    {
        await GetNews(CurrentPage, PageSize);
    }

    public async Task GetNews(int pageNo, int pageSize)
    {
        isLoaded = false;

        newsList = new List<Ofwpro.Core.News>();

        var newsObjs = await newsService.GetCurrentNews();

        if (newsObjs.Any())
        {
            newsObjs = newsObjs.Where(x=>x.NewsDate<=DateTime.Now).OrderByDescending(x => x.NewsDate).ToList();

            int skip = (pageNo - 1) * pageSize;
            int take = pageSize;

            TotalNews = newsObjs.Count();
            TotalPage = TotalNews / pageSize;
            long modulus = TotalNews % pageSize;
            TotalPage = modulus > 0 ? TotalPage + 1 : TotalPage;

            CurrentPage = pageNo;

            if (TotalPage < 1) TotalPage = 1;

            newsObjs = newsObjs.Skip(skip).Take(take).ToList();

            foreach (var news in newsObjs)
            {
                Ofwpro.Core.News newsObj = new Ofwpro.Core.News();

                newsObj.NewsId = news.NewsId;
                newsObj.NewsTitle = news.NewsTitle;
                newsObj.NewsDescription = news.NewsDescription;
                newsObj.NewsDate = news.NewsDate;
                newsObj.UpdatedOn = news.UpdatedOn > news.CreatedOn ? news.UpdatedOn : news.CreatedOn;

                newsList.Add(newsObj);
            }
        }
        isLoaded = true;
    }

    private async Task GoToPage(int pageNo)
    {
        CurrentPage = pageNo;
        await GetNews(CurrentPage, PageSize);
    }

    private void NewsDetails(long newsId)
    {
        encryptedNewsId = UtilityHelper.ToHexString(newsId.ToString());
        navigationManager.NavigateTo("/news/detail/" + encryptedNewsId, true);
    }
}