﻿@page "/news/detail"
@page "/news/detail/{encryptedNewsId}"


@using OFWClientPanel.Helpers
@using Ofwpro.Services.Interfaces

@inject INewsService newsService

<section class="job_seker news_list">
    <div class="container">
        <div class="row title">
            <NavLink href="news">
                <span class="text-info"><i class="fa fa-chevron-left"></i> News</span>
            </NavLink>
            <h3>@news.NewsTitle</h3>
            <p>@news.NewsDate.ToString("dddd, dd MMM yyyy") </p>
        </div>
        <div class="row">
            <div class="">
                <div class="col-md-12">
                    <div class="text-left">
                        <p class="alt">@news.NewsDescription </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code{
    [Parameter]
    public string EncryptedNewsId { get; set; }

    public long NewsId { get; set; }
    private bool isLoaded = false;

    public Ofwpro.Core.News news { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!String.IsNullOrEmpty(EncryptedNewsId))
        {
            NewsId = Convert.ToInt64(UtilityHelper.FromHexString(EncryptedNewsId));

            if (NewsId > 0)
            {
                news = new Ofwpro.Core.News();

                var newsObj = await newsService.GetById(NewsId);

                if(newsObj != null)
                {
                    news.NewsId = newsObj.NewsId;
                    news.NewsTitle = newsObj.NewsTitle;
                    news.NewsDescription = newsObj.NewsDescription;
                    news.NewsDate = newsObj.NewsDate;
                }
            }
        }
    }
}