﻿@page "/recruiterRegistration"
@*@attribute [Authorize]*@

@using Ofwpro.Services.Interfaces
@using OFWClientPanel.Data.Models
@using OFWClientPanel.Helpers
@using MimeKit;
@using MailKit.Net.Smtp;
@using Microsoft.Extensions.Configuration;
@using System.Text;

@inject Ofwpro.Services.Interfaces.IRecruiterService recruiterService
@inject Ofwpro.Services.Interfaces.IRecruiterCompanyService recruiterCompanyService
@inject Ofwpro.Services.Interfaces.ICountryDetailsService countryDetailsService
@inject NavigationManager navigationManager
@inject IConfiguration config
@inject SweetAlertService Swal
@inject Microsoft.Extensions.Hosting.IHostEnvironment environment
@inject IJSRuntime JSRuntime

@if (isLoading)
{
    <div class="loader-body">
        <div class="loader"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
    </div>
}

<section>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-10  col-sm-offset-1">
                <h3 class="small-margin">Recruiter Registration</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-offset-2 login_wrap">
                <EditForm Model="@registration" OnValidSubmit="RegisterUser">
                    <DataAnnotationsValidator />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nationalNumber">Business Registration/License Number *</label>
                                <InputText id="nationalNumber" @bind-Value="@registration.NationalNumber" class="form-control" placeholder="Business Registration Number" />
                                <span class="text-danger">
                                    <ValidationMessage For="@(() => registration.NationalNumber)" class="text-danger" />
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="companyName">Company Name *</label>
                                <InputText id="companyName" @bind-Value="@registration.CompanyName" class="form-control" placeholder="Company Name" />
                                <span class="text-danger">
                                    <ValidationMessage For="@(() => registration.CompanyName)" class="text-danger" />
                                </span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="firstName">Recruiting Manager First Name *</label>
                                <InputText id="firstName" class="form-control" placeholder="First Name" @bind-Value="@registration.FirstName" />
                                <span class="text-danger">
                                    <ValidationMessage For="@(() => registration.FirstName)" />
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastName">Recruiting Manager Last Name *</label>
                                <InputText id="lastName" class="form-control" placeholder="Last Name" @bind-Value="@registration.LastName"></InputText>
                                <span class="text-danger">
                                    <ValidationMessage For="@(() => registration.LastName)" />
                                </span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Mobile No *</label>
                                <InputText id="mobileNo" class="form-control" placeholder="Mobile No" @bind-Value="registration.Mobile"></InputText>
                                <span class="text-danger">
                                    <ValidationMessage For="@(() => registration.Mobile)" />
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Company Phone No *</label>
                                <InputText id="companyPhoneNo" class="form-control" placeholder="Company Phone No" @bind-Value="registration.CompanyPhone"></InputText>
                                <span class="text-danger">
                                    <ValidationMessage For="@(() => registration.CompanyPhone)" />
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Gender *</label>

                                <InputSelect id="gender" class="form-control" placeholder="Gender" @bind-Value="registration.Gender">
                                    <option value="">Select Gender..</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </InputSelect>
                                <span class="text-danger">
                                    <ValidationMessage For="@(() => registration.Gender)" />
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Company Location</label>
                                <InputSelect id="nationality" class="form-control" placeholder="Country Location" @bind-Value="registration.CountryCode">
                                    <option value="">Select Country..</option>
                                    @if (CountryDetails != null)
                                    {
                                        foreach (var country in CountryDetails)
                                        {
                                            <option value="@country.Code">@country.Name</option>
                                        }
                                    }
                                </InputSelect>
                                <span class="text-danger">
                                    <ValidationMessage For="@(() => registration.CountryCode)" />
                                </span>
                            </div>
                        </div>

                        <hr>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Email *</label>
                                <InputText id="email" class="form-control" placeholder="Email" @bind-Value="registration.Email"></InputText>
                                <span class="text-danger">
                                    <ValidationMessage For="@(() => registration.Email)" />
                                    <span style="@(IsDuplicateEmail ? "display:block" : "display:none")">@Message</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Password *</label>
                                <InputText type="password" id="password" class="form-control" placeholder="Password" @bind-Value="registration.Password"></InputText>
                                <span class="text-danger">
                                    <ValidationMessage For="@(() => registration.Password)" />
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Confirm Password *</label>
                                <InputText type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" @bind-Value="registration.ConfirmPassword"></InputText>
                                <span class="text-danger">
                                    <ValidationMessage For="@(() => registration.ConfirmPassword)" />
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn red submit">Submit<i class="fa fa-chevron-right"></i></button>
                        </div>
                        <div class="col-md-4">
                            <button type="button" @onclick="GoToHome" class="btn red submit">Cancel<i class="fa fa-chevron-right"></i></button>
                        </div>
                        <ValidationSummary />
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</section>
<section class="section-alt1 no-margin" style="@showHideJavascriptDependedHTMLTag">
    <div class="container">
        <div class="row owl-clients">
            <div class="item text-center"> <img src="/theme/assets/images/clients/1.png" class="client" alt=""> </div>
            <div class="item text-center"> <img src="/theme/assets/images/clients/2.png" class="client" alt=""> </div>
            <div class="item text-center"> <img src="/theme/assets/images/clients/3.png" class="client" alt=""> </div>
            <div class="item text-center"> <img src="/theme/assets/images/clients/4.png" class="client" alt=""> </div>
            <div class="item text-center"> <img src="/theme/assets/images/clients/1.png" class="client" alt=""> </div>
            <div class="item text-center"> <img src="/theme/assets/images/clients/2.png" class="client" alt=""> </div>
            <div class="item text-center"> <img src="/theme/assets/images/clients/3.png" class="client" alt=""> </div>
            <div class="item text-center"> <img src="/theme/assets/images/clients/4.png" class="client" alt=""> </div>
        </div>
    </div>
</section>

@code{

    public Data.Models.RecruiterRegistration registration { get; set; }
    Ofwpro.Core.Recruiter recruiter;
    Ofwpro.Core.RecruiterCompany recruiterCompany;
    string Message = "";
    bool IsDuplicateEmail = false;
    public bool isLoading = false;

    private string showHideJavascriptDependedHTMLTag = "visibility: hidden";

    private dynamic CountryDetails { get; set; }

    protected override async Task OnInitializedAsync()
    {
        registration = new Data.Models.RecruiterRegistration();

        CountryDetails = await countryDetailsService.GetAll();

        var countries = CountryDetails;
    }

    private async Task RegisterUser()
    {
        isLoading = true;
        try
        {
            if (registration != null)
            {
                string accActivationToken = UtilityHelper.RandomAlphaNumericString(39);

                string Password = "";
                if (!String.IsNullOrEmpty(registration.Password.ToString())) Password = UtilityHelper.Encrypt(registration.Password);
                if (!String.IsNullOrEmpty(registration.Email.ToString())) IsDuplicateEmail = recruiterService.IsExist(registration.Email, 0);

                if (!IsDuplicateEmail)
                {
                    recruiter = new Ofwpro.Core.Recruiter()
                    {
                        NationalNumber = registration.NationalNumber,
                        //Title = registration.Title,
                        FirstName = registration.FirstName,
                        LastName = registration.LastName,
                        CompanyName = registration.CompanyName,
                        //date = registration.Dob,
                        //FatherName = registration.FatherName,
                        //MotherName = registration.MotherName,
                        Mobile = registration.Mobile,
                        Gender = registration.Gender,
                        Email = registration.Email,
                        Password = Password,
                        AccActivationToken = accActivationToken,
                        IsActive = false,
                        IsDeleted = false
                    };

                    long savedId = recruiterService.Save(recruiter);

                    if (savedId > 0)
                    {
                        recruiterCompany = new Ofwpro.Core.RecruiterCompany()
                        {
                            RecruiterId = savedId,
                            PhoneNumber = registration.CompanyPhone,
                            CompanyName = registration.CompanyName
                        };

                        long savedCompanyId = recruiterCompanyService.Save(recruiterCompany);

                        // Email Code Goes Here
                        string hostUrl = config["Utility:ClientBaseURL"];

                        string activationLink = hostUrl + "activate/" + accActivationToken;

                        var pathToFile = environment.ContentRootPath + Path.DirectorySeparatorChar.ToString()
                                + "wwwroot"
                                + Path.DirectorySeparatorChar.ToString()
                                + "template"
                                + Path.DirectorySeparatorChar.ToString()
                                + "email"
                                + Path.DirectorySeparatorChar.ToString()
                                + "registration.html";

                        var builder = new StringBuilder();
                        using (var reader = System.IO.File.OpenText(pathToFile))
                        {
                            builder.Append(reader.ReadToEnd());
                        }

                        builder.Replace("#ActivationLink", activationLink);
                        builder.Replace("http://ofwpro.com", hostUrl);


                        string projectName = config["Utility:ProjectName"];
                        string emailText = builder.ToString();
                        string emailSubject = "Activate Account at " + projectName;

                        string emailFromName = config["EmailConfig:EmailFromName"];
                        string emailFromEmail = config["EmailConfig:EmailFromEmail"];
                        string emailFromPassword = config["EmailConfig:EmailFromPassword"];
                        string emailToName = recruiter.FirstName + " " + recruiter.LastName;
                        string emailToEmail = recruiter.Email;


                        int port = Convert.ToInt32(config["EmailConfig:EmailPort"]);
                        bool EmailEnableSSL = Convert.ToBoolean(config["EmailConfig:EmailEnableSSL"]);
                        string SMTP = config["EmailConfig:EmailSMTP"];

                        try
                        {
                            MimeMessage message = new MimeKit.MimeMessage();
                            MailboxAddress from = new MailboxAddress(emailFromEmail, emailFromEmail);
                            message.From.Add(from);
                            MailboxAddress to = null;
                            to = new MailboxAddress(emailToName, emailToEmail);
                            message.To.Add(to);
                            message.Subject = emailSubject;

                            BodyBuilder bodyBuilder = new BodyBuilder();

                            bodyBuilder.HtmlBody = emailText;

                            message.Body = bodyBuilder.ToMessageBody();

                            SmtpClient client = new SmtpClient();
                            client.Connect(SMTP, port, EmailEnableSSL);

                            client.Authenticate(emailFromEmail, emailFromPassword);
                            client.Send(message);
                            client.Disconnect(true);
                            client.Dispose();


                            isLoading = false;
                            //await Swal.FireAsync("User registered successfully. Please activate your account by following the link in your email.");
                            SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
                            {
                                Title = "Registration succeeded",
                                Text = "Please activate your account by following the link in your email.",
                                Icon = SweetAlertIcon.Success,
                                ConfirmButtonText = "Ok!"
                            });



                            navigationManager.NavigateTo("/", true);
                        }
                        catch (Exception ex)
                        {
                            isLoading = false;
                            SweetAlertResult failedResult = await Swal.FireAsync(new SweetAlertOptions
                            {
                                Title = "Failed sending email.",
                                Text = "Please contact administration to activate your account.",
                                Icon = SweetAlertIcon.Warning,
                                ConfirmButtonText = "Ok!"
                            });
                        }
                    }
                    else
                    {
                        isLoading = false;
                        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
                        {
                            Title = "Registration Failed",
                            Text = "Please try after some time.",
                            Icon = SweetAlertIcon.Warning,
                            ConfirmButtonText = "Ok!"
                        });
                    }
                }
                else
                {
                    isLoading = false;
                    SweetAlertResult failedResult = await Swal.FireAsync(new SweetAlertOptions
                    {
                        Title = "Email already Registered",
                        Text = "Email already taken, Please use different email.",
                        Icon = SweetAlertIcon.Warning,
                        ConfirmButtonText = "Ok!"
                    });
                    Message = "Email already taken, Please use different email";
                }
            }
        }
        catch (Exception ex)
        {
            isLoading = false;
            SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Registration Failed",
                Text = "Please try after some time.",
                Icon = SweetAlertIcon.Warning,
                ConfirmButtonText = "Ok!"
            });
        }
    }

    private void GoToHome()
    {
        navigationManager.NavigateTo("/", true);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                var lDotNetReference = DotNetObjectReference.Create(this);
                await JSRuntime.InvokeVoidAsync("GLOBAL.SetDotnetReference", lDotNetReference);

                refreshJS();
            }
            catch (Exception ex)
            {
                GoToHome();
            }
        }
    }

    protected async void refreshJS()
    {
        var result = await OFWClientPanel.Helpers.JsInteropHelper.RefreshJSResult(JSRuntime);

        if (result)
        {
            showHideJavascriptDependedHTMLTag = "visibility:visible";
            StateHasChanged();
        }
    }
}
