﻿@page "/recruiterDashboard"


@using OFWClientPanel.Data.Models
@using Ofwpro.Core
@using OFWClientPanel.Helpers
@using OFWClientPanel.Services
@using OFWClientPanel.Data.Models.Recruiter
@using CurrieTechnologies.Razor.SweetAlert2


@inject Ofwpro.Services.Interfaces.IRecruiterService recruiterService
@inject Ofwpro.Services.Interfaces.IRecruiterCompanyService recruiterCompanyService
@inject Ofwpro.Services.Interfaces.IRecruiterPostedJobsService recruiterPostedJobsService
@inject Ofwpro.Services.Interfaces.IFileUploadService fileUploadService
@inject Ofwpro.Services.Interfaces.IRecruiterAttachmentService recruitmentAttachmentService
@inject Ofwpro.Services.Interfaces.IRecruiterPostedJobsAndApplicantsService recruiterPostedJobsAndApplicantsService

@inject Ofwpro.Services.Interfaces.IJobSeekerService jobSeekerService
@inject Ofwpro.Services.Interfaces.IJobSeekerAttachmentService jobSeekerAttachmentService

@inject Ofwpro.Services.Interfaces.IEmployeeTypeService employmentTypeService
@inject Ofwpro.Services.Interfaces.ISalaryRangeService salaryRangeService
@inject Ofwpro.Services.Interfaces.ICompanyTypeService companyTypeService
@inject Ofwpro.Services.Interfaces.ISpecializationService specializationService
@inject Ofwpro.Services.Interfaces.IExperienceLevelService experienceLevelService
@inject Ofwpro.Services.Interfaces.ICountryDetailsService countryDetailsService
@inject Ofwpro.Services.Interfaces.IMessageGeneralService messageGeneralService

@inject NavigationManager navigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IJSRuntime JSRuntime
@inject IFileUpload fileUpload
@inject IConfiguration config
@inject IRecruiterDashboardService recruiterDashboardService

@inject SweetAlertService Swal
@inject IModalService Modal

@inject IJSRuntime jsRuntime

<AuthorizeView>
    <Authorized Context="Recruiter">
        <section>
            <div class="container">
                @if (!isLoaded)
                {
                    <div class="lds-ripple-spinner"><div class="lds-ripple"><div></div><div></div></div></div>
                }
                else
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tabs-container">
                                <div class="tab-nav">
                                    <ul class="nav sp_tab nav-tabs">
                                        <li class="active">
                                            <a data-toggle="tab" href="@currentPage#tab1" id="postedJobsTab">Posted Jobs</a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" href="@currentPage#tab2" id="basicInfoTab">Basic Information</a>
                                        </li>
                                        <li><a data-toggle="tab" href="@currentPage#tab3" id="companyDetailsTab">Employer Details</a></li>
                                        <li>
                                            <a data-toggle="tab" href="@currentPage#tab4" id="messagesTab">
                                                Inbox @if (totalUnreadChat > 0)
                                                {<sup class="pill blue">@totalUnreadChat</sup>}
                                            </a>
                                        </li>
                                        <li class="post_job_btn"><a data-toggle="tab" href="@currentPage#tab5" id="postJobTab">Post a Job </a></li>
                                    </ul>
                                </div>


                                <div class="tab-content tab-holder">
                                    <div class="tab tab-pane fade in active" id="tab1">
                                        <div class="table-responsive">
                                            <div class="col-md-12 description">
                                                <div class="tab-content tab-holder">
                                                    <div class="tab mt-60">
                                                        <h4>Posted Jobs (@TotalJobs)</h4>
                                                        <div class="table-responsive">
                                                            <div class="remove_btn">
                                                                @if (postJobs.Any())
                                                                {
                                                                    <button class="red deleteJob" @onclick="(() => ConfirmDelete())"><i class="fa fa-trash"></i></button>
                                                                }
                                                            </div>
                                                            <table class="table table-striped employee_list">
                                                                <tbody>
                                                                    <tr>
                                                                        <th width="5%"><input id="select_all" type="checkbox" value=""></th>
                                                                        <th>No.</th>
                                                                        <th>Title</th>
                                                                        <th>Country</th>
                                                                        <th>City</th>
                                                                        <th>Salary Range</th>
                                                                        <th>Date Posted</th>
                                                                        <th>Applicants</th>
                                                                        <th align="center" class="text-center">Action</th>
                                                                    </tr>
                                                                    @foreach (var postedJob in postJobs)
                                                                    {
                                                                        <tr>
                                                                            <td><input id="checked" type="checkbox" @bind="postedJob.Checked"></td>
                                                                            <td>1</td>
                                                                            <td> <a href="javascript:;" @onclick="@(() => ShowJobDetails(postedJob.PostedJobId))" class="">@postedJob.Title</a></td>
                                                                            <td>@postedJob.Country</td>
                                                                            <td>@postedJob.City</td>
                                                                            <td>@postedJob.SalaryRange</td>
                                                                            <td>@postedJob.CreatedOn.ToShortDateString()</td>
                                                                            <td>@postedJob.TotalApplicants</td>
                                                                            <td align="center">
                                                                                <NavLink href="javascript:;" @onclick="(() => EditPostedJob(postedJob.PostedJobId))" class="red-color"> <i class="fa fa-pencil"></i></NavLink>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                            @if (TotalJobs > 0)
                                                            {
                                                                <nav class="text-center">
                                                                    <ul class="pagination text-center">
                                                                        @if (CurrentPage > 1)
                                                                        {
                                                                            <li> <a href="javascript:void(0);" @onclick="@(() => GoToPage(CurrentPage - 1))" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
                                                                        }
                                                                        @for (int i = 1; i <= TotalPage; i++)
                                                                        {
                                                                            int pageNo = i;
                                                                            string active = CurrentPage == i ? "active" : "";
                                                                            <li class="@active"><a href="javascript:void(0);" @onclick="@(() => GoToPage(pageNo))">@i</a></li>
                                                                        }
                                                                        @if (CurrentPage < TotalPage)
                                                                        {
                                                                            <li> <a href="javascript:void(0);" @onclick="@(() => GoToPage(CurrentPage + 1))" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
                                                                        }

                                                                    </ul>
                                                                </nav>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab tab-pane fade" id="tab2">
                                        <div class="table-responsive">
                                            <div class="col-md-12  mt-50">
                                                <h4>Basic Information</h4>
                                            </div>
                                            <div class="col-md-12">
                                                <EditForm Model="@registration" OnValidSubmit="RegisterUser">
                                                    <DataAnnotationsValidator />
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="nationalNumber">Business Registration/License Number *</label>
                                                                <InputText id="nationalNumber" @bind-Value="@registration.NationalNumber" class="form-control" placeholder="Business Registration/License Number" />
                                                                <span class="text-danger font-weight-bold">
                                                                    <ValidationMessage For="@(() => registration.NationalNumber)" class="text-danger font-weight-bold" />
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="companyName">Employer Name *</label>
                                                                <InputText id="companyName" @bind-Value="@registration.CompanyName" class="form-control" placeholder="Employer Name" />
                                                                <span class="text-danger">
                                                                    <ValidationMessage For="@(() => registration.CompanyName)" class="text-danger" />
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="firstName">Recruiting Manager First Name *</label>
                                                                <InputText id="firstName" class="form-control" placeholder="First Name" @bind-Value="@registration.FirstName" />
                                                                <span class="text-danger font-weight-bold">
                                                                    <ValidationMessage For="@(() => registration.FirstName)" />
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="lastName">Recruiting Manager Last Name *</label>
                                                                <InputText id="lastName" class="form-control" placeholder="Last Name" @bind-Value="@registration.LastName"></InputText>
                                                                <span class="text-danger font-weight-bold">
                                                                    <ValidationMessage For="@(() => registration.LastName)" />
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Mobile No *</label>
                                                                <InputText id="mobileNo" class="form-control" placeholder="Mobile No" @bind-Value="registration.Mobile"></InputText>
                                                                <span class="text-danger font-weight-bold">
                                                                    <ValidationMessage For="@(() => registration.Mobile)" />
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Employer Phone No *</label>
                                                                <InputText id="companyPhoneNo" class="form-control" placeholder="Employer Phone No" @bind-Value="registration.CompanyPhone"></InputText>
                                                                <span class="text-danger">
                                                                    <ValidationMessage For="@(() => registration.CompanyPhone)" />
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 drop_n">
                                                            <div class="form-group">
                                                                <label>Gender *</label>
                                                                <InputSelect id="gender" class="form-control" placeholder="Gender" @bind-Value="registration.Gender">
                                                                    <option value="">Select Gender..</option>
                                                                    <option value="male">Male</option>
                                                                    <option value="female">Female</option>
                                                                </InputSelect>

                                                                <span class="text-danger font-weight-bold">
                                                                    <ValidationMessage For="@(() => registration.Gender)" />
                                                                </span>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Email *</label>
                                                                <InputText id="email" class="form-control" placeholder="Email" @bind-Value="registration.Email"></InputText>
                                                                <span class="text-danger font-weight-bold">
                                                                    <ValidationMessage For="@(() => registration.Email)" />
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Password *</label>
                                                                <InputText type="password" id="password" class="form-control" placeholder="Password" @bind-Value="registration.Password"></InputText>
                                                                <span class="text-danger font-weight-bold">
                                                                    <ValidationMessage For="@(() => registration.Password)" />
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Confirm Password *</label>
                                                                <InputText type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" @bind-Value="registration.ConfirmPassword"></InputText>
                                                                <span class="text-danger font-weight-bold">
                                                                    <ValidationMessage For="@(() => registration.ConfirmPassword)" />
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <p class="text-left">Note: Password will only change if entered.</p>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <button type="submit" id="next" class="btn red submit">Submit<i class="fa fa-chevron-right"></i></button>
                                                        </div>
                                                    </div>
                                                </EditForm>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab tab-pane fade" id="tab3">
                                        <div class="table-responsive">
                                            <div class="col-md-12 mt-50">
                                                <h4>Employer Details</h4>
                                            </div>
                                            <div class="col-md-12">
                                                <EditForm Model="@company" OnValidSubmit="SaveCompanyDetails">
                                                    <DataAnnotationsValidator />

                                                    <div class="row">
                                                        <div class="col-md-6 drop_n">
                                                            <div class="form-group">
                                                                <label for="companyName">Employer Name *</label>
                                                                <InputText id="companyName" @bind-Value="@company.CompanyName" class="form-control" placeholder="Employer Name" />
                                                                <span class="text-danger font-weight-bold">
                                                                    <ValidationMessage For="@(() => company.CompanyName)" class="text-danger font-weight-bold" />
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="phoneNumber">Employer Phone Number *</label>
                                                                <InputText id="phoneNumber" @bind-Value="@company.PhoneNumber" class="form-control" placeholder="Employer Phone Number" />
                                                                <span class="text-danger font-weight-bold">
                                                                    <ValidationMessage For="@(() => company.PhoneNumber)" class="text-danger font-weight-bold" />
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Field of work</label>
                                                                <InputTextArea class="form-control" placeholder="Job Description" @bind-Value="company.Description"></InputTextArea>
                                                                <span class="text-danger font-weight-bold">
                                                                    <ValidationMessage For="@(() => company.Description)" />
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Employer Location</label>
                                                                <InputTextArea id="address" class="form-control" placeholder="Address" @bind-Value="company.Address"></InputTextArea>
                                                                <span class="text-danger font-weight-bold">
                                                                    <ValidationMessage For="@(() => company.Address)" />
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Other Information</label>
                                                                <InputTextArea id="otherInformation" class="form-control" placeholder="Other Information" @bind-Value="company.OtherInformation"></InputTextArea>
                                                                <span class="text-danger font-weight-bold">
                                                                    <ValidationMessage For="@(() => company.OtherInformation)" />
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6"></div>
                                                        <div class="clearfix"></div>
                                                        <div class="col-md-12 brws_btn">
                                                            <label>Company Logo</label>
                                                            <div class="">
                                                                <div class="custom-user-pic">
                                                                    @if (!String.IsNullOrEmpty(company.CompanyLogoURL))
                                                                    {
                                                                        <img src="@company.CompanyLogoURL" /> 
                                                                    }
                                                                    else
                                                                    {
                                                                        <img src="/theme/assets/images/default-company-logo.png" />
                                                                    }
                                                                </div>
                                                                <div id="userpic" class="userpic-dashboard">
                                                                    <div class="js-preview userpic__preview"></div>
                                                                    <div class="btn btn-success js-fileapi-wrapper">
                                                                        <div class="js-browse">
                                                                            <span class="btn-txt">Choose</span>
                                                                            <input type="file" name="filedata">
                                                                        </div>
                                                                        <div class="js-upload" style="display: none;">
                                                                            <div class="progress progress-success"><div class="js-progress bar"></div></div>
                                                                            <span class="btn-txt">Uploading</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="hidden">
                                                                    <InputFile class="hidden" id="uploadPicture" OnChange="UploadPicture"> </InputFile>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <div class="col-md-4">
                                                            <button type="submit" class="btn red submit">Finish</button>
                                                        </div>
                                                    </div>
                                                </EditForm>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab tab-pane fade" id="tab4">
                                        <div class="table-responsive">
                                            <div class="col-md-12 description">
                                                <div class="tab-content tab-holder">
                                                    <div class="tab mt-60">
                                                        <h4>My Inbox</h4>                                                       
                                                        <div class="row">
                                                            <div class="chat_list">
                                                                @foreach (var message in recruiterMessageList)
                                                                {
                                                                    <div class="col-md-3 chat_cards">
                                                                        <div class="text-center">
                                                                            <div class="chat_delete_btn">
                                                                                <button class="red deleteJob" @onclick="(() => DeleteMessage(message.JobSeekerId, message.RecruiterId))"><i class="fa fa-trash"></i></button>
                                                                            </div>
                                                                            <h4 style="margin-top: 30px;">@message.Firstname  @message.LastName</h4>
                                                                            <div class="chat_propic">
                                                                                @if (!String.IsNullOrEmpty(message.JobSeekerProfile))
                                                                                {<img src="@message.JobSeekerProfile" /> }
                                                                                else
                                                                                {
                                                                                    <img src="/theme/assets/images/place_holder.png" />
                                                                                }
                                                                            </div>
                                                                            <div class="chat_cont">
                                                                                <p class="chatview_p">
                                                                                    <a href="javascript:;" @onclick="@(() => ShowMessageModal("Recruiter", message.JobSeekerId, message.RecruiterId))"><i class="fa fa-comments-o mr-2"></i>Chat</a>
                                                                                </p>
                                                                                @*<p class="total_message"><span class="<%= blink => @message.TotalMessages > 0 %>" title="Total Messages">@message.TotalUnreadMessages</span></p>*@

                                                                                @if (message.TotalMessages > 0)
                                                                                {
                                                                                    <p class="unread_message">
                                                                                        <span class="blink" title="Total Unread Messages">@message.TotalMessages</span>
                                                                                    </p>
                                                                                }
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab tab-pane fade" id="tab5">
                                        <div class="table-responsive">
                                            <div class="col-md-12  mt-50">
                                                <h4>Post a Job</h4>
                                            </div>
                                            <div class="col-md-12">
                                                <p>
                                                    Reference Number:
                                                    <strong>
                                                        @if (isEdit)
                                                        {@postJob.ReferenceNo }
                                                    else
                                                    { @ReferenceNumber}
                                                    </strong>
                                                </p>

                                                <EditForm Model="@postJob" OnValidSubmit="PostJob">
                                                    <DataAnnotationsValidator />

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="jobTitle">Job Title *</label>
                                                                <InputText id="jobTitle" @bind-Value="@postJob.Title" class="form-control" placeholder="Title" />
                                                                <span class="text-danger font-weight-bold">
                                                                    <ValidationMessage For="@(() => postJob.Title)" class="text-danger font-weight-bold" />
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Job Description</label>
                                                                <InputTextArea id="description" class="form-control" placeholder="Job Description" @bind-Value="postJob.Description"></InputTextArea>
                                                                <span class="text-danger font-weight-bold">
                                                                    <ValidationMessage For="@(() => postJob.Description)" />
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <div class="col-md-6 drop_n">
                                                            <div class="form-group">
                                                                <label>Country *</label>
                                                                <InputSelect id="countryId" class="form-control" placeholder="Nationality" @bind-Value="postJob.CountryId">
                                                                    <option value="">Select Country..</option>
                                                                    @if (CountryDetails != null)
                                                                        {
                                                                            foreach (var country in CountryDetails)
                                                                            {
                                                                            <option value="@country.Id">@country.Name</option>
                                                                            }
                                                                        }
                                                                </InputSelect>
                                                                <span class="text-danger font-weight-bold">
                                                                    <ValidationMessage For="@(() => postJob.CountryId)" />
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>City</label>
                                                                <InputText id="city" class="form-control" placeholder="City" @bind-Value="postJob.City"></InputText>
                                                                <span class="text-danger font-weight-bold">
                                                                    <ValidationMessage For="@(() => postJob.City)" />
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>

                                                        <div class="col-md-6 drop_n">
                                                            <div class="form-group">
                                                                <label>Employment Type *</label>
                                                                <InputSelect id="employmentType" class="form-control" placeholder="Employment Type" @bind-Value="postJob.EmploymentType">
                                                                    <option value="">Select Employment..</option>
                                                                    @if (EmploymentTypes != null)
                                                                        {
                                                                            foreach (var type in EmploymentTypes)
                                                                            {
                                                                            <option value="@type.Id">@type.Name</option>
                                                                            }
                                                                        }
                                                                </InputSelect>
                                                                <span class="text-danger font-weight-bold">
                                                                    <ValidationMessage For="@(() => postJob.EmploymentType)" />
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 drop_n">
                                                            <div class="form-group">
                                                                <label>Employer Type *</label>
                                                                <InputSelect id="companyType" class="form-control" placeholder="Employment Type" @bind-Value="postJob.CompanyType">
                                                                    <option value="">Select Employer..</option>
                                                                    @if (CompanyTypes != null)
                                                                        {
                                                                            foreach (var type in CompanyTypes)
                                                                            {
                                                                            <option value="@type.Id">@type.Name</option>
                                                                            }
                                                                        }
                                                                </InputSelect>
                                                                <span class="text-danger font-weight-bold">
                                                                    <ValidationMessage For="@(() => postJob.CompanyType)" />
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>

                                                        <div class="col-md-6 drop_n">
                                                            <div class="form-group">
                                                                <label>Salary Range *</label>
                                                                <InputSelect class="form-control" placeholder="Salary Range" @bind-Value="postJob.SalaryRangeId">
                                                                    <option value="">Select Salary..</option>
                                                                    @if (CompanyTypes != null)
                                                                        {
                                                                            foreach (var range in SalaryRanges)
                                                                            {
                                                                            <option value="@range.Id">@range.Name</option>
                                                                            }
                                                                        }
                                                                </InputSelect>
                                                                <span class="text-danger font-weight-bold">
                                                                    <ValidationMessage For="@(() => postJob.SalaryRangeId)" />
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 drop_n">
                                                            <div class="form-group">
                                                                <label>Preferred Experience Level *</label>
                                                                <InputSelect id="salaryRange" class="form-control" placeholder="Experience Level" @bind-Value="postJob.ExperienceLevel">
                                                                    <option value="">Select Experience..</option>
                                                                    @if (ExperienceLevels != null)
                                                                        {
                                                                            foreach (var level in ExperienceLevels)
                                                                            {
                                                                            <option value="@level.Id">@level.Name</option>
                                                                            }
                                                                        }
                                                                </InputSelect>
                                                                <span class="text-danger font-weight-bold">
                                                                    <ValidationMessage For="@(() => postJob.ExperienceLevel)" />
                                                                </span>
                                                            </div>
                                                        </div>

                                                        <div class="clearfix"></div>
                                                        <div class="col-md-6 drop_n">
                                                            <div class="form-group">
                                                                <label>Field *</label>
                                                                <InputSelect id="specializationId" class="form-control" placeholder="Specialization" @bind-Value="postJob.RolesJobId">
                                                                    <option value="">Select Specialization..</option>
                                                                    @if (Specializations != null)
                                                                        {
                                                                            foreach (var specialization in Specializations)
                                                                            {
                                                                            <option value="@specialization.SpecializationId">@specialization.SpecializationNameEn</option>
                                                                            }
                                                                        }
                                                                </InputSelect>
                                                                <span class="text-danger font-weight-bold">
                                                                    <ValidationMessage For="@(() => postJob.RolesJobId)" />
                                                                </span>
                                                            </div>
                                                        </div>
                                                        @*<div class="col-md-6 drop_n">
                                                    <div class="form-group">
                                                        <label>The ability of providing a training period if it was a job opportunity</label>
                                                        <InputSelect id="isTrainingAvailable" class="form-control" placeholder="Training" @bind-Value="postJob.IsTrainingAvailable">
                                                            <option value="">Select Status..</option>
                                                            <option value="1">Yes</option>
                                                            <option value="0">No</option>
                                                        </InputSelect>
                                                        <span class="text-danger font-weight-bold">
                                                            <ValidationMessage For="@(() => postJob.IsTrainingAvailable)" />
                                                        </span>
                                                    </div>
                                                </div>*@
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Additional information</label>
                                                                <InputTextArea id="otherNotes" class="form-control" placeholder="Other Notes" @bind-Value="postJob.RolesJobOther"></InputTextArea>
                                                                <span class="text-danger font-weight-bold">
                                                                    <ValidationMessage For="@(() => postJob.RolesJobOther)" />
                                                                </span>
                                                            </div>
                                                        </div>

                                                        <div class="clearfix"></div>
                                                        <div class="col-md-4"> <button type="submit" class="btn red submit">Submit<i class="fa fa-chevron-right"></i></button> </div>
                                                    </div>
                                                </EditForm>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div id="popup" class="popup" style="display: none;">
                        <div class="popup__body"><div class="js-img"></div></div>
                        <div style="margin: 0 0 5px; text-align: center;">
                            <div class="js-upload btn btn_browse btn_browse_small">Upload</div>
                        </div>
                    </div>

                }
            </div>
        </section>
    </Authorized>
    <NotAuthorized>
        <p> You're signed Out</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    string currentPage = "/recruiterDashboard";


    private Data.Models.RecruiterRegistration registration { get; set; }
    private PostJob postJob;
    private CompanyDetails company;

    private Recruiter UserDetails;

    private RecruiterPostedJobs recruiterPostedJob;
    private RecruiterCompany recruiterComapny;
    private List<PostJob> postJobs;

    string SuccessMessage = "";
    string ErrorMessage = "";

    string ReferenceNumber = "";
    bool isEdit = false;

    string Message = "";
    bool IsNotPicture = false;

    IFileListEntry file;

    private long totalUnreadChat = 0;


    //Paging
    private int TotalJobs = 0;
    private int CurrentPage = 1;
    private int TotalPage = 0;
    private int PageSize = 10;

    private dynamic CountryDetails { get; set; } = null;
    private dynamic EmploymentTypes { get; set; } = null;
    private dynamic CompanyTypes { get; set; } = null;
    private dynamic SalaryRanges { get; set; } = null;
    private dynamic Specializations { get; set; } = null;
    private dynamic ExperienceLevels { get; set; } = null;

    public List<RecruiterMessage> recruiterMessageList { get; set; }

    private bool isLoaded = false;

    protected override async Task OnInitializedAsync()
    {
        registration = new Data.Models.RecruiterRegistration();
        UserDetails = new Recruiter();
        postJob = new PostJob();
        postJobs = new List<PostJob>();
        company = new CompanyDetails();
        recruiterMessageList = new List<RecruiterMessage>();

        ReferenceNumber = UtilityHelper.RandomCapitalAlphaNumericString(12);

        CountryDetails = await countryDetailsService.GetAll();
        var EmploymentTypesTuple = await employmentTypeService.GetAll(0, 9999);
        EmploymentTypes = EmploymentTypesTuple.Item1;
        CompanyTypes = await companyTypeService.GetAll();
        Specializations = await specializationService.GetAll();

        ExperienceLevels = (await experienceLevelService.GetAll()).OrderBy(x => x.Id).ToList();

        var SalaryRangesTuple = await salaryRangeService.GetAll(0, 9999);
        SalaryRanges = SalaryRangesTuple.Item1.OrderBy(x => x.Id).ToList();

        UserDetails = await localStorage.GetItemAsync<Recruiter>("RecruiterDetails");
        string CompanyPhoneNo = await localStorage.GetItemAsync<string>("CompanyPhoneNumber");

        if (UserDetails != null)
        {
            registration = new Data.Models.RecruiterRegistration()
            {
                NationalNumber = UserDetails.NationalNumber,
                FirstName = UserDetails.FirstName,
                LastName = UserDetails.LastName,
                FatherName = UserDetails.FatherName,
                MotherName = UserDetails.MotherName,
                Mobile = UserDetails.Mobile,
                CompanyName = UserDetails.CompanyName,
                Gender = UserDetails.Gender,
                Email = UserDetails.Email,
                Password = UtilityHelper.Decrypt(UserDetails.Password),
                ConfirmPassword = UtilityHelper.Decrypt(UserDetails.Password),
                CompanyPhone = string.IsNullOrEmpty(CompanyPhoneNo) ? "" : CompanyPhoneNo,

            };

            await GetPostedJobs();


            company = await recruiterDashboardService.GetCompanyDetails(UserDetails.RecruiterId);
            await LoadAllMessages();
        }
        isLoaded = true;
    }

    private async Task GoToPage(int pageNo)
    {
        CurrentPage = pageNo;
        await GetPostedJobs();
    }


    private async Task GetPostedJobs()
    {
        var recruiterPostedJobs = await recruiterPostedJobsService.PostedJobsByRecruiterId(UserDetails.RecruiterId);

        postJobs = new List<PostJob>();

        int skip = (CurrentPage - 1) * PageSize;
        int take = PageSize;

        TotalJobs = recruiterPostedJobs.Count();
        TotalPage = TotalJobs / PageSize;
        long modulus = TotalJobs % PageSize;
        TotalPage = modulus > 0 ? TotalPage + 1 : TotalPage;

        if (TotalPage < 1) TotalPage = 1;


        recruiterPostedJobs = recruiterPostedJobs.Skip(skip).Take(take).OrderByDescending(x => x.RecruiterPostedJobsId);

        if (recruiterPostedJobs.Any())
        {
            foreach (var job in recruiterPostedJobs)
            {
                PostJob postJobObj = new PostJob();
                var Country = ((List<Ofwpro.Core.CountryDetails>)CountryDetails).Where(c => c.Id == job.CountryId).LastOrDefault();
                var SalaryRange = ((List<Ofwpro.Core.SalaryRange>)SalaryRanges).Where(c => c.Id == job.SalaryRangeId).LastOrDefault();
                int totalApplicants = recruiterPostedJobsAndApplicantsService.totalApplicants(job.RecruiterPostedJobsId);

                postJobObj.PostedJobId = job.RecruiterPostedJobsId.ToString();
                postJobObj.Title = job.Title;
                postJobObj.City = job.City;
                postJobObj.CreatedOn = job.CreatedOn;
                postJobObj.Country = Country == null ? "" : Country.Name;
                postJobObj.SalaryRange = SalaryRange == null ? "" : SalaryRange.Name;
                postJobObj.TotalApplicants = totalApplicants;

                postJobs.Add(postJobObj);
            }
        }

    }

    private async Task RegisterUser()
    {
        try
        {
            if (registration != null)
            {
                Recruiter recruiterObj = null;
                RecruiterCompany recruiterCompany = null;
                recruiterObj = await recruiterService.GetById(UserDetails.RecruiterId);

                string Password = "";


                if (recruiterObj != null)
                {
                    recruiterObj.NationalNumber = registration.NationalNumber;
                    recruiterObj.FirstName = registration.FirstName;
                    recruiterObj.LastName = registration.LastName;
                    recruiterObj.CompanyName = registration.CompanyName;
                    recruiterObj.FatherName = registration.FatherName;
                    recruiterObj.MotherName = registration.MotherName;
                    recruiterObj.Mobile = registration.Mobile;
                    recruiterObj.Gender = registration.Gender;
                    recruiterObj.Email = registration.Email;
                    Password = Password == string.Empty ? registration.Password : UtilityHelper.Encrypt(Password);

                    long savedId = recruiterService.Save(recruiterObj);

                    if (savedId > 0)
                    {
                        recruiterCompany = new RecruiterCompany()
                        {
                            RecruiterId = savedId,
                            PhoneNumber = registration.CompanyPhone,
                            CompanyName = registration.CompanyName
                        };

                        long savedCompanyId = recruiterCompanyService.Save(recruiterCompany);

                        if (savedCompanyId > 0)
                        {
                            SuccessMessage = "Recruiter Updated Successfully!";
                            await Swal.FireAsync("Recruiter Updated Successfully!");
                            await JSRuntime.InvokeAsync<string>("moveToNextTab", "companyDetailsTab");
                        }
                        else
                        {
                            await Swal.FireAsync("Failed while updating.");
                        }
                    }
                    else
                    {
                        await Swal.FireAsync("Failed while updating.");
                    }
                }
                else
                {
                    ErrorMessage = "Recruiter Not Found";
                    await Swal.FireAsync("Recruiter Not Found.");
                }

            }
        }
        catch (Exception ex) { }
    }

    private async Task PostJob()
    {

        try
        {
            if (postJob != null && (Convert.ToInt64(postJob.PostedJobId) <= 0))
            {
                recruiterPostedJob = new RecruiterPostedJobs()
                {
                    RecruiterId = UserDetails.RecruiterId,
                    ReferenceNo = ReferenceNumber,
                    Title = postJob.Title,
                    Description = postJob.Description,
                    EmploymentType = Convert.ToInt32(postJob.EmploymentType),
                    CompanyType = Convert.ToInt64(postJob.CompanyType),
                    City = postJob.City,
                    CountryId = Convert.ToInt64(postJob.CountryId),
                    ExperienceLevel = Convert.ToInt64(postJob.ExperienceLevel),
                    RolesJobId = postJob.RolesJobId,
                    RequiredNumber = Convert.ToInt64(postJob.RequiredNumber),
                    IsTrainingAvailable = postJob.IsTrainingAvailable != string.Empty ? (postJob.IsTrainingAvailable == "0" ? false : true) : false,
                    RolesJobOther = postJob.RolesJobOther,
                    SalaryRangeId = Convert.ToInt64(postJob.SalaryRangeId)
                };

                long savedId = recruiterPostedJobsService.Save(recruiterPostedJob);

                if (savedId > 0)
                {
                    SuccessMessage = "Job Posted Successfully!";
                    await Swal.FireAsync("Job Posted Successfully!");
                    await JSRuntime.InvokeAsync<string>("moveToPostedJobsTab", "postedJobsTab");

                    //navigationManager.NavigateTo("/recruiterDashboard");
                }
                else
                {
                    ErrorMessage = "Failed while saving.";
                    await Swal.FireAsync("Failed while Posting Job.");

                }
            }
            else if (postJob != null && (Convert.ToInt64(postJob.PostedJobId) > 0))
            {
                RecruiterPostedJobs recruiterPostedJobObj = null;
                recruiterPostedJobObj = await recruiterPostedJobsService.GetById(Convert.ToInt64(postJob.PostedJobId));

                if (recruiterPostedJobObj != null)
                {
                    recruiterPostedJobObj.RecruiterId = UserDetails.RecruiterId;
                    recruiterPostedJobObj.ReferenceNo = ReferenceNumber;
                    recruiterPostedJobObj.Title = postJob.Title;
                    recruiterPostedJobObj.Description = postJob.Description;
                    recruiterPostedJobObj.EmploymentType = Convert.ToInt32(postJob.EmploymentType);
                    recruiterPostedJobObj.CompanyType = Convert.ToInt64(postJob.CompanyType);
                    recruiterPostedJobObj.City = postJob.City;
                    recruiterPostedJobObj.CountryId = Convert.ToInt64(postJob.CountryId);
                    recruiterPostedJobObj.ExperienceLevel = Convert.ToInt64(postJob.ExperienceLevel);
                    recruiterPostedJobObj.RolesJobId = postJob.RolesJobId;
                    recruiterPostedJobObj.RequiredNumber = Convert.ToInt64(postJob.RequiredNumber);
                    recruiterPostedJobObj.IsTrainingAvailable = postJob.IsTrainingAvailable != string.Empty ? (postJob.IsTrainingAvailable == "0" ? false : true) : false;
                    recruiterPostedJobObj.RolesJobOther = postJob.RolesJobOther;
                    recruiterPostedJobObj.SalaryRangeId = Convert.ToInt64(postJob.SalaryRangeId);

                    long savedId = recruiterPostedJobsService.Save(recruiterPostedJobObj);

                    if (savedId > 0)
                    {
                        await Swal.FireAsync("Posted Job Updated Successfully!");
                        await JSRuntime.InvokeAsync<string>("moveToPostedJobsTab", "postedJobsTab");
                    }
                    else
                    {
                        await Swal.FireAsync("Failed while updating.");
                    }
                }
            }
        }
        catch (Exception ex) { }
    }

    public async void OnPictureButtonClick()
    {
        await JSRuntime.InvokeAsync<string>("wrapInput", "picture");
    }

    private async Task UploadPicture(IFileListEntry[] files)
    {
        string hostUrl = "";
        string uploadFolderName = config["UploadFolders:UploadFolder"];

        file = files.FirstOrDefault();
        if (file != null)
        {
            string fileType = file.Type.Split('/')[0].ToString();
            if (fileType != "image") IsNotPicture = true;

            bool result = await fileUpload.Attachments(file, "Recruiter", "company_logo", UserDetails.RecruiterId);

            if (result)
            {
                var uploadedFile = await recruitmentAttachmentService.GetByDocumentType(UserDetails.RecruiterId, "company_logo");

                if (uploadedFile != null)
                {
                    string UploadedFrom = "";
                    if (uploadedFile.UploadedFrom != null) UploadedFrom = uploadedFile.UploadedFrom;

                    if (UploadedFrom == "Client") hostUrl = config["Utility:ClientBaseURL"].ToString();
                    else if (UploadedFrom == "Admin") hostUrl = config["Utility:APIBaseURL"].ToString();

                    company.CompanyLogoURL = hostUrl + uploadFolderName + "/" + uploadedFile.FileNameUpdated;
                }
            }
        }
    }

    private async Task SaveCompanyDetails()
    {
        try
        {
            if (company != null)
            {
                recruiterComapny = new RecruiterCompany()
                {
                    RecruiterCompanyId = company.RecruiterCompanyId,
                    RecruiterId = UserDetails.RecruiterId,
                    CompanyName = company.CompanyName,
                    Description = company.Description,
                    Address = company.Address,
                    AboutCompany = company.OtherInformation,
                    PhoneNumber = company.PhoneNumber
                };

                long savedId = recruiterCompanyService.Save(recruiterComapny);

                if (savedId > 0)
                {
                    company.RecruiterCompanyId = savedId;
                    SuccessMessage = "Company Details saved Successfully!";
                    await Swal.FireAsync("Company Details saved Successfully!");

                    await jsRuntime.InvokeVoidAsync("eval", "location.reload();");
                }
                else
                {
                    ErrorMessage = "Failed while saving.";
                }
            }
        }
        catch (Exception ex) { }
    }

    private async Task EditPostedJob(string PostedJobId)
    {
        isEdit = true;

        postJob = new PostJob();

        Ofwpro.Core.RecruiterPostedJobs postedJobObj = await recruiterPostedJobsService.GetById(Convert.ToInt64(PostedJobId));
        if (postedJobObj != null)
        {
            postJob.PostedJobId = postedJobObj.RecruiterPostedJobsId.ToString();
            postJob.ReferenceNo = postedJobObj.ReferenceNo;
            postJob.Title = postedJobObj.Title;
            postJob.Description = postedJobObj.Description;
            postJob.CountryId = postedJobObj.CountryId.ToString();
            postJob.City = postedJobObj.City;
            postJob.EmploymentType = postedJobObj.EmploymentType.ToString();
            postJob.CompanyType = postedJobObj.CompanyType.ToString();
            postJob.SalaryRangeId = postedJobObj.SalaryRangeId.ToString();
            postJob.ExperienceLevel = postedJobObj.ExperienceLevel.ToString();
            postJob.RolesJobId = postedJobObj.RolesJobId;
            postJob.RequiredNumber = postedJobObj.RequiredNumber.ToString();
            postJob.IsTrainingAvailable = postedJobObj.IsTrainingAvailable == true ? "1" : "0";
            postJob.RolesJobOther = postedJobObj.RolesJobOther;
        }
        //postJobTab

        await JSRuntime.InvokeAsync<string>("moveToNextTab", "postJobTab");
    }

    private async Task ConfirmDelete()
    {
        try
        {
            List<PostJob> postedJobsList = postJobs;

            List<PostJob> checkedPostedJobsList = postedJobsList.Where(x => x.Checked).ToList();

            if (postedJobsList.Any())
            {
                if (!checkedPostedJobsList.Any())
                {
                    await Swal.FireAsync("Please select one or more Job(s)");
                }
                else
                {
                    bool isDeleted = false;
                    foreach (var job in checkedPostedJobsList)
                    {
                        if (job.Checked)
                        {
                            SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
                            {
                                Title = "Are you sure?",
                                Text = "You will not be able to recover this imaginary file!",
                                Icon = SweetAlertIcon.Warning,
                                ShowCancelButton = true,
                                ConfirmButtonText = "Yes, delete it!",
                                CancelButtonText = "No, keep it"
                            });

                            if (!string.IsNullOrEmpty(result.Value))
                            {
                                isDeleted = recruiterPostedJobsService.Delete(Convert.ToInt64(job.PostedJobId));

                                await Swal.FireAsync(
                                  "Deleted",
                                  "Your imaginary file has been deleted.",
                                  SweetAlertIcon.Success
                                  );
                            }
                            else if (result.Dismiss == DismissReason.Cancel)
                            {
                                await Swal.FireAsync(
                                  "Cancelled",
                                  "Your imaginary file is safe :)",
                                  SweetAlertIcon.Error
                                  );
                            }

                        }
                    }

                    if (isDeleted)
                    {
                        await JSRuntime.InvokeAsync<string>("moveToPostedJobsTab", "postedJobsTab");
                    }
                }
            }
            else
            {
                //No Jobs Found
                await Swal.FireAsync("No Jobs found!");
            }
        }
        catch (Exception ex) { }
    }

    private void ShowJobDetails(string PostedJobId)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(RecruiterDetails.PostedJobId), PostedJobId);

        Modal.Show<RecruiterDetails>("", parameters);
    }

    private async Task LoadAllMessages()
    {
        totalUnreadChat = 0;
        if (UserDetails != null)
        {
            recruiterMessageList = new List<RecruiterMessage>();
            var recruiterChatGroup = messageGeneralService.GetChatGroupsRecruiter(UserDetails.RecruiterId);
            string hostUrl = "";
            string uploadFolderName = config["UploadFolders:UploadFolder"];

            if (recruiterChatGroup.Any())
            {
                foreach (var chat in recruiterChatGroup)
                {
                    long JobSeekerId = 0;
                    JobSeekerId = chat;

                    var jobSeeker = await jobSeekerService.GetById(JobSeekerId);



                    if (jobSeeker != null)
                    {
                        var jobSeekerProfile = await jobSeekerAttachmentService.GetByJobSeekerAndDocumentType(JobSeekerId, "picture");
                        var totalUnreadMessages = messageGeneralService.TotalMessagesUnreadRecruiter(JobSeekerId, UserDetails.RecruiterId);
                        var totalMessages = messageGeneralService.GetAllMessages(JobSeekerId, UserDetails.RecruiterId, 0, 9999).Where(x => !x.IsDeletedRecruiter).ToList(); ;
                        RecruiterMessage message = new RecruiterMessage();

                        message.JobSeekerId = JobSeekerId;
                        message.RecruiterId = UserDetails.RecruiterId;
                        message.Firstname = jobSeeker.FirstName.ToString();
                        message.LastName = jobSeeker.LastName.ToString();
                        message.TotalMessages = totalUnreadMessages;
                        message.TotalUnreadMessages = totalMessages.Count();
                        if (jobSeekerProfile != null)
                        {
                            string UploadedFrom = "";
                            if (jobSeekerProfile.UploadedFrom != null) UploadedFrom = jobSeekerProfile.UploadedFrom;

                            if (UploadedFrom == "Client") hostUrl = config["Utility:ClientBaseURL"].ToString();
                            else if (UploadedFrom == "Admin") hostUrl = config["Utility:APIBaseURL"].ToString();

                            if (jobSeeker.IsPictureApproved && jobSeekerProfile != null)
                            {
                                message.JobSeekerProfile = hostUrl + uploadFolderName + "/" + jobSeekerProfile.FileNameUpdated;
                            }
                        }

                        recruiterMessageList.Add(message);

                        totalUnreadChat += totalUnreadMessages;
                    }
                }
            }
        }
    }

    private void ShowMessageModal(string UserType, long JobSeekerId, long RecruiterId)
    {
        bool markMessageRead = messageGeneralService.MarkMessageReadRecruiter(JobSeekerId, RecruiterId);
        if (markMessageRead) recruiterMessageList.Where(x => x.JobSeekerId == JobSeekerId && x.RecruiterId == RecruiterId && x.TotalMessages > 0).ToList().ForEach(x => { totalUnreadChat -= x.TotalMessages; x.TotalMessages = 0; });

        var parameters = new ModalParameters();
        parameters.Add(nameof(OFWClientPanel.Pages.MessagesModal.JobSeekerId), JobSeekerId);
        parameters.Add(nameof(OFWClientPanel.Pages.MessagesModal.RecruiterId), RecruiterId);
        parameters.Add(nameof(OFWClientPanel.Pages.MessagesModal.UserType), UserType);

        Modal.Show<OFWClientPanel.Pages.MessagesModal>("", parameters);
    }

    private async Task ConfirmMessageDelete()
    {
        try
        {
            List<RecruiterMessage> textedMessagesList = recruiterMessageList;

            List<RecruiterMessage> checkedMessageListList = textedMessagesList.Where(x => x.Checked).ToList();

            if (textedMessagesList.Any())
            {
                if (!checkedMessageListList.Any())
                {
                    await Swal.FireAsync("Please select one or more Message(s)");
                }
                else
                {
                    bool isDeleted = false;
                    foreach (var message in checkedMessageListList)
                    {
                        if (message.Checked)
                        {
                            SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
                            {
                                Title = "Are you sure?",
                                Text = "You will not be able to recover this message!",
                                Icon = SweetAlertIcon.Warning,
                                ShowCancelButton = true,
                                ConfirmButtonText = "Yes, delete it!",
                                CancelButtonText = "No, keep it"
                            });

                            if (!string.IsNullOrEmpty(result.Value))
                            {
                                string UserType = "recruiter";
                                isDeleted = messageGeneralService.DeleteMessagesOfRecruiter(message.JobSeekerId, message.RecruiterId, UserType);

                            }
                            else if (result.Dismiss == DismissReason.Cancel)
                            {
                                await Swal.FireAsync(
                                  "Cancelled",
                                  "Your message is safe :)",
                                  SweetAlertIcon.Error
                                  );
                            }

                        }
                    }

                    if (isDeleted)
                    {
                        //await JSRuntime.InvokeAsync<string>("moveToNextTab", "messagesTab");
                        await Swal.FireAsync("Messages deleted Successfully!");
                        await LoadAllMessages();
                    }
                }
            }
            else
            {
                //No Jobs Found
                await Swal.FireAsync("No Jobs found!");
            }
        }
        catch (Exception ex) { }
    }
    private async Task DeleteMessage(long JobSeekerId, long RecruiterId)
    {
        try
        {
            bool isDeleted = false;
            if (JobSeekerId > 0 && RecruiterId > 0)
            {
                SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
                {
                    Title = "Are you sure?",
                    Text = "You will not be able to recover this message!",
                    Icon = SweetAlertIcon.Warning,
                    ShowCancelButton = true,
                    ConfirmButtonText = "Yes, delete it!",
                    CancelButtonText = "No, keep it"
                });

                if (!string.IsNullOrEmpty(result.Value))
                {
                    string UserType = "recruiter";
                    isDeleted = messageGeneralService.DeleteMessagesOfRecruiter(JobSeekerId, RecruiterId, UserType);

                    if (isDeleted)
                    {
                        await Swal.FireAsync("Messages deleted Successfully!");
                        await LoadAllMessages();
                    }
                }
                else if (result.Dismiss == DismissReason.Cancel)
                {
                    await Swal.FireAsync(
                      "Cancelled",
                      "Your message is safe :)",
                      SweetAlertIcon.Error
                      );
                }
            }
            else
            {
                await Swal.FireAsync("No Message found!");
            }
        }
        catch (Exception ex) { }
    }

    private async void RefreshPage()
    {
        await jsRuntime.InvokeVoidAsync("eval", "location.reload();");
    }

}
