﻿@page "/recruiterDashboard/details"

@using OFWClientPanel.Data.Models.Recruiter
@using Ofwpro.Services.Interfaces
@using Ofwpro.Core
@using OFWClientPanel.Data.Models.JobSeeker

@inject IModalService ModalService
@inject IRecruiterPostedJobsService recruiterPostedJobsService
@inject IRecruiterPostedJobsAndApplicantsService recruiterPostedJobsAndApplicantsService
@inject Ofwpro.Services.Interfaces.ISalaryRangeService salaryRangeService
@inject Ofwpro.Services.Interfaces.ICountryDetailsService countryDetailsService
@inject Ofwpro.Services.Interfaces.IJobSeekerService jobSeekerService
@inject Ofwpro.Services.Interfaces.IJobSeekerAttachmentService jobSeekerAttachmentService
@inject Ofwpro.Services.Interfaces.IJobSeekerWorkExperienceService  jobSeekerWorkExperienceService
@inject Ofwpro.Services.Interfaces.IRecruiterCompanyService recruiterCompanyService
@inject Ofwpro.Services.Interfaces.IRecruiterAttachmentService recruitmentAttachmentService
@inject Ofwpro.Services.Interfaces.ICompanyTypeService companyTypeService
@inject Ofwpro.Services.Interfaces.IEmployeeTypeService employeeTypeService
@inject Ofwpro.Services.Interfaces.IExperienceLevelService experienceLevelService
@inject Ofwpro.Services.Interfaces.IRecruiterAttachmentService recruitmentAttachmentService

@inject Microsoft.Extensions.Configuration.IConfiguration config;
@inject IModalService Modal

<div class="worker-header">
    <div class="container">
        <div class="row">

            <div class="col-sm-3 pro_det">
                <img src="@postJob.CompanyLogoURL" class="com_log_pic" alt="">
                <h3>@postJob.Title</h3>
                <h5>@postJob.CompanyName</h5>
                <p class="m_0">@postJob.City, @postJob.Country</p>
                <p class="m_0">ReferenceNo. @postJob.ReferenceNo</p>
                <p class="m_0">Posted On - @postJob.CreatedOn.ToShortDateString()</p>

            </div>
            <div class="col-md-9">
                <div class="table-responsive">


                    <div class="col-md-12 description">
                        <h4 class="mt-0">Summary</h4>
                        <p>@((MarkupString)postJob.Description)</p>
                    </div>
                    <div class="col-md-12">
                        <h4>Job Details</h4>
                    </div>
                    <div class="col-md-12 detail_fields">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Country</label>
                                <input disabled type="text" class="form-control" @bind="postJob.Country">
                            </div>
                            <div class="col-md-6">
                                <label>City</label>
                                <input disabled type="text" class="form-control" @bind="postJob.City">
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-6">
                                <label>Employment Type</label>
                                <input disabled type="text" class="form-control" @bind="postJob.EmploymentType">
                            </div>
                            <div class="col-md-6">
                                <label>Company Type</label>
                                <input disabled type="text" class="form-control" @bind="postJob.CompanyType">
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-6">
                                <label>Salary Range</label>
                                <input disabled type="text" class="form-control" @bind="postJob.SalaryRange">
                            </div>
                            <div class="col-md-6">
                                <label>Preferred Experience</label>
                                <input disabled type="text" class="form-control" @bind="postJob.ExperienceLevel">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="tabs-container">
                            <div class="tab-holder tab-content">
                                <div class="tab-content tab-holder">
                                    <div class="tab mt-40">
                                        <h4 class="blue-color">@TotalCVs CVs Found</h4>
                                        <div class="table-responsive">
                                            <table class="table table-striped employee_list">
                                                <tbody>
                                                    @foreach (var cv in postCVs)
                                                    {
                                                        <tr @onclick="@(()=>ShowJobSeekerProfile(Convert.ToInt64(cv.JobseekerId)))">
                                                            <td>
                                                                <span class="pro_pic">
                                                                    @if (!String.IsNullOrEmpty(cv.ProfilePictureURL))
                                                                    {
                                                                        <img src="@cv.ProfilePictureURL">
                                                                    }
                                                                    else
                                                                    {
                                                                        <img src="/theme/assets/images/place_holder.png" />
                                                                    }
                                                                </span>
                                                            </td>
                                                            <td>
                                                                <span class="title_n">@cv.JobTitle</span>
                                                                <p class="mb-1"><i class="fa fa-user"></i>@cv.FirstName @cv.LastName</p>
                                                                <p><i class="fa fa-map-marker"></i>@cv.Country</p>
                                                            </td>
                                                            <td class="text-right">
                                                                @if (cv.TotalExperience != null && cv.TotalExperience.Trim() != "")
                                                                {
                                                                    <span class="pill medium blue">@cv.TotalExperience</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="pill medium "></span>
                                                                }
                                                                <p><i class="fa fa-envelope"></i>@cv.Email</p>
                                                                <p><i class="fa fa-calendar"></i>Updated on @cv.LastUpdated.ToString("ddd dd MMM, yyyy")</p>
                                                            </td>
                                                        </tr>

                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        @if (TotalCVs > 0)
                        {
                            <nav class="text-center">
                                <ul class="pagination text-center">
                                    @if (CurrentPage > 1)
                                    {
                                        <li> <a href="javascript:void(0);" @onclick="@(() => GoToPage(CurrentPage - 1))" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
                                    }
                                    @for (int i = 1; i <= TotalPage; i++)
                                    {
                                        int pageNo = i;
                                        string active = CurrentPage == i ? "active" : "";
                                        <li class="@active"><a href="javascript:void(0);" @onclick="@(() => GoToPage(pageNo))">@i</a></li>
                                    }
                                    @if (CurrentPage < TotalPage)
                                    {
                                        <li> <a href="javascript:void(0);" @onclick="@(() => GoToPage(CurrentPage + 1))" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
                                    }

                                </ul>
                            </nav>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code{
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter] public string PostedJobId { get; set; }

    PostJob postJob = new PostJob();
    private List<Profile> postCVs;

    private int TotalCVs = 0;
    private int CurrentPage = 1;
    private int TotalPage = 0;
    private int PageSize = 10;

    private long RecruiterPostedJobId = 0;

    //private dynamic CountryDetails { get; set; } = null;
    //private dynamic SalaryRanges { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        string hostUrl = config["Utility:ClientBaseURL"].ToString();
        string uploadFolderName = config["UploadFolders:UploadFolder"];

        postCVs = new List<Profile>();

        RecruiterPostedJobs postedJobsObj = new RecruiterPostedJobs();

        var CountryDetails = await countryDetailsService.GetAll();
        var SalaryRangesData = await salaryRangeService.GetAll(0, 9999);
        var SalaryRanges = SalaryRangesData.Item1;
        postedJobsObj = await recruiterPostedJobsService.GetById(Convert.ToInt64(PostedJobId));

        if (postedJobsObj != null)
        {
            var country = CountryDetails.Where(c => c.Id == postedJobsObj.CountryId).LastOrDefault();
            var salaryRange = SalaryRanges.Where(c => c.Id == postedJobsObj.SalaryRangeId).LastOrDefault();

            postJob.ReferenceNo = postedJobsObj.ReferenceNo;
            postJob.Title = postedJobsObj.Title;
            postJob.Description = postedJobsObj.Description;
            postJob.CountryId = postedJobsObj.CountryId.ToString();
            postJob.City = postedJobsObj.City;
            //postJob.EmploymentType = postedJobsObj.EmploymentType;
            postJob.CompanyType = postedJobsObj.CompanyType.ToString();
            postJob.SalaryRangeId = postedJobsObj.SalaryRangeId.ToString();
            postJob.ExperienceLevel = postedJobsObj.ExperienceLevel.ToString();
            postJob.RolesJobId = postedJobsObj.RolesJobId;
            if (country != null) postJob.Country = country.Name;
            if (salaryRange != null) postJob.SalaryRange = salaryRange.Name;
            postJob.CreatedOn = postedJobsObj.CreatedOn;

            var recruiterCompany = (await recruiterCompanyService.GetByRecruiterId(postedJobsObj.RecruiterId));
            var recruiterAttachment = (await recruitmentAttachmentService.GetByDocumentType(postedJobsObj.RecruiterId, "company_logo"));
            string UploadedFrom = "";
            if (recruiterAttachment != null && recruiterAttachment.UploadedFrom != null) UploadedFrom = recruiterAttachment.UploadedFrom;

            if (UploadedFrom == "Client") hostUrl = config["Utility:ClientBaseURL"].ToString();
            else if (UploadedFrom == "Admin") hostUrl = config["Utility:APIBaseURL"].ToString();

            postJob.CompanyName = recruiterCompany.CompanyName;
            postJob.CompanyLogoURL = hostUrl + uploadFolderName + "/" + recruiterAttachment.FileNameUpdated;

            RecruiterPostedJobId = postedJobsObj.RecruiterPostedJobsId;

            if (postedJobsObj.CompanyType > 0)
            {
                var companyType = companyTypeService.GetById(postedJobsObj.CompanyType);

                if (companyType != null)
                {
                    postJob.CompanyType = companyType.Name;
                }
            }
            if (postedJobsObj.EmploymentType > 0)
            {
                var employmentType = employeeTypeService.GetById(Convert.ToInt32(postedJobsObj.EmploymentType));

                if (employmentType != null)
                {
                    postJob.EmploymentType = employmentType.Name;
                }
            }
            if (postedJobsObj.ExperienceLevel > 0)
            {
                var experienceLevel = experienceLevelService.GetById(Convert.ToInt32(postedJobsObj.ExperienceLevel));

                if (experienceLevel != null)
                {
                    postJob.ExperienceLevel = experienceLevel.Name;
                }
            }

            await GetApplicant();
        }
    }

    private async Task GoToPage(int pageNo)
    {
        CurrentPage = pageNo;
        await GetApplicant();
    }

    private async Task GetApplicant()
    {
        string hostUrl = config["Utility:ClientBaseURL"].ToString();
        string uploadFolderName = config["UploadFolders:UploadFolder"];

        var jobSeekerCVs = await jobSeekerService.GetByPostedJob(RecruiterPostedJobId);

        int skip = (CurrentPage - 1) * PageSize;
        int take = PageSize;

        TotalCVs = jobSeekerCVs.Count();
        TotalPage = TotalCVs / PageSize;
        long modulus = TotalCVs % PageSize;
        TotalPage = modulus > 0 ? TotalPage + 1 : TotalPage;

        if (TotalPage < 1) TotalPage = 1;

        postCVs = new List<Profile>();

        var countries = await countryDetailsService.GetAll();

        if (jobSeekerCVs.Any())
        {
            TotalCVs = jobSeekerCVs.Count();

            foreach (var job in jobSeekerCVs)
            {
                Profile jobSeeker = new Profile();


                var jobSeekerProfilePicture = (await jobSeekerAttachmentService.GetByJobSeekerAndDocumentType(job.JobSeekerId, "picture"));
                string UploadedFrom = "";
                if (jobSeekerProfilePicture != null && jobSeekerProfilePicture.UploadedFrom != null) UploadedFrom = jobSeekerProfilePicture.UploadedFrom;

                if (UploadedFrom == "Client") hostUrl = config["Utility:ClientBaseURL"].ToString();
                else if (UploadedFrom == "Admin") hostUrl = config["Utility:APIBaseURL"].ToString();

                var jobSeekerCountry = countries.Where(x => x.Code == job.CountryCode).LastOrDefault();

                var jobSeekerExperience = await jobSeekerWorkExperienceService.GetByJobSeekerId(job.JobSeekerId);

                jobSeeker.JobseekerId = job.JobSeekerId;
                jobSeeker.FirstName = job.FirstName;
                jobSeeker.LastName = job.LastName;
                jobSeeker.Email = job.Email;
                jobSeeker.JobTitle = job.Title;

                if (job.IsPictureApproved && jobSeekerProfilePicture != null) jobSeeker.ProfilePictureURL = hostUrl + uploadFolderName + "/" + jobSeekerProfilePicture.FileNameUpdated;
                if (jobSeekerCountry != null) jobSeeker.Country = jobSeekerCountry.Name;
                if (jobSeekerExperience != null) jobSeeker.TotalExperience = jobSeekerExperience.ExperienceLevel;

                jobSeeker.LastUpdated = job.UpdatedOn != null && job.UpdatedOn > job.CreatedOn ? job.UpdatedOn : job.CreatedOn;

                if (jobSeekerExperience != null)
                {
                    if (jobSeeker.LastUpdated < jobSeekerExperience.CreatedOn)
                    {
                        jobSeeker.LastUpdated = jobSeekerExperience.CreatedOn;
                    }
                }

                postCVs.Add(jobSeeker);
            }

            postCVs = postCVs.OrderByDescending(x => x.LastUpdated).Skip(skip).Take(take).ToList();
        }
    }

    private void ShowJobSeekerProfile(long JobSeekerId)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(OFWClientPanel.Pages.JobSeekerProfile.JobSeekerId), JobSeekerId);

        Modal.Show<OFWClientPanel.Pages.JobSeekerProfile>("", parameters);
    }
}