﻿@page "/resetpassword/{forgotPasswordKey}"


@using OFWClientPanel.Data.Models

@inject Ofwpro.Services.Interfaces.IRecruiterService recruiterService
@inject Ofwpro.Services.Interfaces.IJobSeekerService jobSeekerService
@inject Ofwpro.Services.Interfaces.IForgotPasswordService forgotPasswordService


@inject SweetAlertService Swal
@inject NavigationManager navigationManager

<section>
    @if (!isLoaded)
    {
        <div class="text-center" style="margin-top:40px"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
    }
    else
    {
        <div class="content" style="padding-top:0px">
            <div class="container">
                <div class="row">
                    <div class="container">
                        @if (!string.IsNullOrEmpty(message))
                        {
                            <div class="alert alert-primary" role="alert">
                                @message <a href="#" class="alert-link">Click here</a> to login.
                            </div>
                        }

                        @if (showChangePasswordSection)
                        {
                            <EditForm Model="@resetPasswordModel" OnValidSubmit="ChangePassword">
                                <DataAnnotationsValidator />
                                <div class="form-group">
                                    <label for="newpassword">New Password *</label>
                                    <InputText id="newpassword" @bind-Value="@resetPasswordModel.NewPassword" class="form-control" placeholder="Enter new password" type="password" />
                                    <span class="text-danger">
                                        <ValidationMessage For="@(() => resetPasswordModel.NewPassword)" class="text-danger" />
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label for="confirmpassword">Confirm Password *</label>
                                    <InputText id="confirmpassword" @bind-Value="@resetPasswordModel.ConfirmPassword" class="form-control" placeholder="Confirm password" type="password" />
                                    <span class="text-danger">
                                        <ValidationMessage For="@(() => resetPasswordModel.ConfirmPassword)" class="text-danger" />
                                    </span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn red submit">Change Password</button>
                                </div>
                            </EditForm>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

</section>


@code {
    [Parameter] public string forgotPasswordKey { get; set; }

    private bool isLoaded = false;
    private string message = "";
    private bool showChangePasswordSection = false;
    private bool isPasswordUpdated = false;

    ResetPasswordModel resetPasswordModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(forgotPasswordKey))
        {
            var forgotPassword = await forgotPasswordService.GetByUserToken(forgotPasswordKey);

            if (forgotPassword != null)
            {
                isLoaded = true;

                if (!forgotPassword.IsPasswordReset && forgotPassword.TokenGenerationDate > DateTime.Now.AddHours(-2))
                {
                    showChangePasswordSection = true;

                    resetPasswordModel = new ResetPasswordModel()
                    {
                        UserId = forgotPassword.UserId,
                        UserType = forgotPassword.UserType
                    };
                }
                else
                {
                    message = "Token expired.";
                    resetPasswordModel = new ResetPasswordModel();
                }
            }
            else
            {

                message = "Invalid request.";
                isLoaded = true;
                resetPasswordModel = new ResetPasswordModel();
            }
        }
        else
        {
            message = "Invalid request.";
            isLoaded = true;
            resetPasswordModel = new ResetPasswordModel();
        }

    }

    private async void ChangePassword()
    {
        if (resetPasswordModel.ConfirmPassword == resetPasswordModel.NewPassword)
        {
            if (resetPasswordModel.UserType == "jobseeker")
            {
                var jobSeeker = await jobSeekerService.GetById(resetPasswordModel.UserId);

                if (jobSeeker != null)
                {
                    jobSeeker.Password = OFWClientPanel.Helpers.UtilityHelper.Encrypt(resetPasswordModel.NewPassword);

                    long savedId = jobSeekerService.Save(jobSeeker);

                    if (savedId > 0)
                    {
                        isPasswordUpdated = true;

                        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
                        {
                            Title = "Reset Password",
                            Text = "Your password has been updated.",
                            Icon = SweetAlertIcon.Success,
                            ConfirmButtonText = "Ok!"
                        });

                        navigationManager.NavigateTo("/", true);
                    }
                    else
                    {
                        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
                        {
                            Title = "Reset Password",
                            Text = "We are unable to update your password currently. Please try after some time.",
                            Icon = SweetAlertIcon.Warning,
                            ConfirmButtonText = "Ok!"
                        });
                    }
                }
                else
                {
                    message = "User does not axists.";
                }
            }
            else if (resetPasswordModel.UserType == "recruiter")
            {

                var recruiter = await recruiterService.GetById(resetPasswordModel.UserId);

                if (recruiter != null)
                {
                    recruiter.Password = OFWClientPanel.Helpers.UtilityHelper.Encrypt(resetPasswordModel.NewPassword);

                    long savedId = recruiterService.Save(recruiter);

                    if (savedId > 0)
                    {
                        isPasswordUpdated = true;

                        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
                        {
                            Title = "Reset Password",
                            Text = "Your password has been updated.",
                            Icon = SweetAlertIcon.Success,
                            ConfirmButtonText = "Ok!"
                        });

                        navigationManager.NavigateTo("/", true);
                    }
                    else
                    {
                        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
                        {
                            Title = "Reset Password",
                            Text = "We are unable to update your password currently. Please try after some time.",
                            Icon = SweetAlertIcon.Warning,
                            ConfirmButtonText = "Ok!"
                        });
                    }
                }
                else
                {
                    message = "User does not axists.";
                }
            }

            if (isPasswordUpdated)
            {
                var forgotPassword = await forgotPasswordService.GetByUserToken(forgotPasswordKey);

                forgotPassword.IsPasswordReset = true;
                forgotPassword.TokenUseDate = DateTime.Now;
                forgotPassword.UpdatedOn = DateTime.Now;
                forgotPassword.IsActive = false;

                forgotPasswordService.Save(forgotPassword);
            }
        }
        else
        {
            message = "Password do not match.";
        }
    }
}
