﻿@page "/terms&Conditions"

@using System.Web
@inject Ofwpro.Services.Interfaces.IWebSettingsService webSettingsService

    <section>
        <div class="content" style="padding:0px">
            <div class="container">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin:0px; padding:0px">
                    <h1>Terms and Conditions</h1>
                </div>
            </div>
        </div>
        @if (!isLoaded)
        {
            <div class="text-center" style="margin-top:40px"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
        }
        else
        {
            <div class="content" style="padding-top:0px">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="text-align:left">
                            @((MarkupString)TermsnConditions)
                        </div>
                    </div>
                </div>
            </div>
        }

    </section>


@code{
    private string TermsnConditions = "";
    bool isLoaded = false;

    protected override async Task OnInitializedAsync()
    {
        var webSettingsObj = await webSettingsService.GetAll();

        if (webSettingsObj.Any())
        {
            var TermsAndConditionsObj = webSettingsObj.LastOrDefault();

            if (TermsAndConditionsObj != null && TermsAndConditionsObj.TermsAndConditionsHtml != null) TermsnConditions = TermsAndConditionsObj.TermsAndConditionsHtml;
        }
        isLoaded = true;
    }
}
