﻿@page "/en/testimonial"

@inject Ofwpro.Services.Interfaces.ITestimonialService testimonialService
@inject IJSRuntime jsRuntime
<style>
    .name {
        color: #555;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }

    .designation {
        color: #8D8D8D;
        text-align: center;
        padding-bottom: 6px;
    }

    .desc {
        color: #666;
        text-align: justify;
    }

    img {
        /*border-radius: 50%;*/
    }
</style>

<div class="content" style="padding:0px">
    <div class="container">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin:0px; padding:0p">
            <h1>Testimonials</h1>
        </div>
    </div>
</div>



<div class="content" style="padding-top:0px">
    <div class="container">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    @foreach (var testimonial in testimonials)
                    {
                        <div class="col-md-4" onmouseover="this.style.backgroundColor='#F2F2F2'" onmouseout="this.style.backgroundColor='#FFFFFF'">
                            <div style="border-bottom:1px solid #CCC; min-height:200px;padding: 20px;">

                                <div class="name">@testimonial.FullName</div>
                                <div class="designation">@testimonial.Designation</div>
                                @if (testimonial.TestimonialText.Length > 80)
                                {
                                    <div id="div_with_read_more" class="desc" style="text-overflow: ellipsis;">@testimonial.TestimonialText</div>
                                    <div id="div_with_text" class="desc" style="display:none; margin-bottom:50px;">@testimonial.TestimonialText</div>
                                }
                                else
                                {
                                    <div class="desc" style=" margin-bottom:50px;">@testimonial.TestimonialText</div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        @if (TotalTestimonials > 0)
        {
            <nav class="text-center">
                <ul class="pagination text-center">
                    @if (CurrentPage > 1)
                    {
                        <li> <a href="javascript:void(0);" @onclick="@(() => GoToPage(CurrentPage - 1))" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
                    }
                    @for (int i = 1; i <= TotalPage; i++)
                    {
                        int pageNo = i;
                        string active = CurrentPage == i ? "active" : "";
                        <li class="@active"><a href="javascript:void(0);" @onclick="@(() => GoToPage(pageNo))">@i</a></li>
                    }
                    @if (CurrentPage < TotalPage)
                    {
                        <li> <a href="javascript:void(0);" @onclick="@(() => GoToPage(CurrentPage + 1))" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
                    }

                </ul>
            </nav>
        }
    </div>
</div>


@code{
    private List<OFWClientPanel.Data.Models.Testimonial> testimonials { get; set; }

    private int TotalTestimonials = 0;
    private int CurrentPage = 1;
    private int TotalPage = 0;
    private int PageSize = 10;

    protected override async Task OnInitializedAsync()
    {
        testimonials = new List<OFWClientPanel.Data.Models.Testimonial>();

       await LoadTestimonials();
    }

     private async Task LoadTestimonials()
    {
       await LoadTestimonials(CurrentPage, PageSize);
    }

    private async Task GoToPage(int pageNo)
    {
        CurrentPage = pageNo;
        await LoadTestimonials(CurrentPage, PageSize);
    }

    private async Task LoadTestimonials(int pageNo, int pageSize)
    {
        var testimonialsObj = await testimonialService.GetAll();
        testimonialsObj = testimonialsObj.OrderByDescending(x => (x.UpdatedOn.Date > x.CreatedOn.Date ? x.UpdatedOn : x.CreatedOn));

        int skip = (pageNo - 1) * pageSize;
        int take = pageSize;

        TotalTestimonials = testimonialsObj.Count();
        TotalPage = TotalTestimonials / pageSize;
        long modulus = TotalTestimonials % pageSize;
        TotalPage = modulus > 0 ? TotalPage + 1 : TotalPage;

        CurrentPage = pageNo;

        if (TotalPage < 1) TotalPage = 1;

        testimonials = new List<OFWClientPanel.Data.Models.Testimonial>();

        if (testimonialsObj.Any())
        {
            foreach (var testimonialObj in testimonialsObj)
            {
                Data.Models.Testimonial testimonial = new Data.Models.Testimonial();

                testimonial.TestimonialId = testimonialObj.TestimonialId;
                testimonial.FullName = testimonialObj.FullName;
                testimonial.Designation = testimonialObj.Designation;
                testimonial.TestimonialText = testimonialObj.TestimonialText;

                testimonials.Add(testimonial);
            }
            testimonials = testimonials.OrderByDescending(x => x.TestimonialId).Skip(skip).Take(take).ToList();
            //await jsRuntime.InvokeAsync<string>("refreshOwlTestimonial", "owl-testimonials");
        }
    }
    public RenderFragment TruncString(string myStr, int THRESHOLD)
    {
        if (myStr.Length > THRESHOLD)
            return @<p>@myStr.Substring(0, THRESHOLD)<a href='#' onclick="show_hide('div_with_read_more','div_with_text')" style='color:#CC0000'> ...read more</a></p>;  //myStr.Substring(0, THRESHOLD) + " ...read more";

        return @<p>@myStr</p>;
    }

   
}