﻿@inherits LayoutComponentBase

@using Ofwpro.Core
@using OFWClientPanel.Helpers
@using OFWClientPanel.Data

@inject Ofwpro.Services.Interfaces.IEmailSubscriptionService emailSubscriptionService
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject AuthenticationStateProvider AuthenticationStateProvider

@inject NavigationManager navigationManager
@inject SweetAlertService Swal

<NavBar />
<BlazoredModal />
@Body


<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <img src="/theme/assets/images/logo_white.png" class="logo-white" alt="">
                <p>Email Us: <strong><a href="mailTo:Support@ofwpro.com" target="_blank">Support@ofwpro.com</a></strong></p>
            </div>
            <div class="col-md-3 col-sm-6 text-left">
                @*<h4 class="heading no-margin">Address</h4>

                <div class="col-md-12 no-padding">
                    <p>507 City Avenue Diera City Center,<br> P.O.Box 96641</p>
                    <p>Mob: +00971 50 6503800</p>
                    <p>Email: info@timeline.ae</p>
                </div>*@
            </div>
            <div class="col-md-3 col-sm-6 text-left">
                <h4 class="heading no-margin">Sitemap</h4>
                <div class="col-md-6 no-padding">
                    <a href="faq" @onclick="FAQ">Faq</a>
                    <a href="news" @onclick="News">News</a>
                    <a href="aboutUs" @onclick="AboutUs">About us</a>
                </div>
                <div class="col-md-6 no-padding">
                    <a href="privacy&Policy" @onclick="PrivacyAndPolicy">Privacy Policy</a>
                    <a href="terms&Conditions" @onclick="TermsAndConditions">Terms & Conditions</a>
                    <a href="contacts" @onclick="Contacts">Contact Us</a>
                </div>

                <div class="col-md-12 footer_menu navbar-top text-left no-padding footer_social">
                    <div class="social">
                        <a href="https://Facebook.com/ofwpros" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="https://Twitter.com/ofwpro" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="https://Instagram.com/ofwpro?igshid=1iavrhewvcn2x" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-left">
                <h4 class="heading no-margin">Sign up for our newsletter</h4>
                <p>Subscribe to our monthly newsletter by providing your email.</p>
                <form>
                    <input type="email" class="form-control text-white email_subs" placeholder="Enter your email" @bind-value="Email" pattern="^[a-zA-Z0-9._+-]+&#64;[a-zA-Z0-9.-]+\.[a-zA-Z]{2,9}$">
                    <button type="button" class="btn blue no-margin" @onclick="SubscribeEmail">Subscribe now!</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row bottom no-padding no-margin">
        <div class="container">
            <div class="col-md-12 no-padding text-center column-bottom">
                @*<p>Copyright &copy; <span class="blue-color">OFWpro</span> | All right reserved</p>*@
                <p>Copyright &copy; <span class="blue-color">Singapore Registered Company</span> | All right reserved</p>
            </div>
        </div>
    </div>
</footer>

@code{
    private JobSeeker JobSeekerDetails;
    private Recruiter RecruiterDetails;
    private dynamic UserType = "";
    private string Email = "";

    protected override async Task OnInitializedAsync()
    {
        JobSeekerDetails = new JobSeeker();
        RecruiterDetails = new Recruiter();


        UserType = await localStorage.GetItemAsync<string>("UserType");

        if (UserType == "Job Seeker")
        {
            JobSeekerDetails = await localStorage.GetItemAsync<JobSeeker>("JobSeekerDetails");
        }

        if (UserType == "Recruiter")
        {
            RecruiterDetails = await localStorage.GetItemAsync<Recruiter>("RecruiterDetails");
        }
    }
    private async Task SubscribeEmail()
    {
        if (!string.IsNullOrEmpty(Email))
        {
            if (!UtilityHelper.IsValidEmail(Email))
            {
                await Swal.FireAsync("Please provide valid email address.");
            }
            else
            {
                EmailSubscription emailSubscriptionObj = new EmailSubscription();

                emailSubscriptionObj.EmailSubscriptionId = 0;
                emailSubscriptionObj.Email = Email;
                emailSubscriptionObj.IsActive = true;
                emailSubscriptionObj.IsDeleted = false;

                long savedId = emailSubscriptionService.Save(emailSubscriptionObj);

                if (savedId > 0)
                {
                    await Swal.FireAsync("Email Subscribed Successfully.");
                    Email = "";
                }
            }
        }
        else
        {
            await Swal.FireAsync("Please enter Email.");
        }
    }
    private void HandleClick()
    {
        navigationManager.NavigateTo("/", true);
    }

    private void RecruiterDashboard()
    {
        navigationManager.NavigateTo("/recruiterDashboard", true);
    }

    private void JobSeekerDashboard()
    {
        navigationManager.NavigateTo("/jobSeekerDashboard", true);
    }

    private void FindJobs()
    {
        navigationManager.NavigateTo("/jobSearch", true);
    }
    private void FindCvs()
    {
        navigationManager.NavigateTo("/cvSearch", true);
    }
    private void AboutUs()
    {
        navigationManager.NavigateTo("/aboutUs", true);
    }
    private void Contacts()
    {
        navigationManager.NavigateTo("/contacts", true);
    }
    private void News()
    {
        navigationManager.NavigateTo("/news", true);
    }
    private void FAQ()
    {
        navigationManager.NavigateTo("/faq", true);
    }
    private void TermsAndConditions()
    {
        navigationManager.NavigateTo("/terms&Conditions", true);
    }
    private void PrivacyAndPolicy()
    {
        navigationManager.NavigateTo("/privacy&Policy", true);
    }
}



