﻿@using Ofwpro.Core
@using OFWClientPanel.Data


@inject IJSRuntime JSRuntime
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject AuthenticationStateProvider AuthenticationStateProvider


@inject Microsoft.Extensions.Configuration.IConfiguration config
@inject IModalService Modal
@inject NavigationManager navigationManager

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-top text-right">
            <div class="social"></div>
        </div>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <i class="fa fa-ellipsis-v"></i> </button>
            <AuthorizeView>
                <Authorized>
                    @if (UserType == "Job Seeker")
                    {
                        <a class="navbar-brand" href="javascript:void(0);" @onclick='JobSeekerDashboard'><img src="/theme/assets/images/logo.png" alt=""></a>
                    }
                    else if (UserType == "Recruiter")
                    {
                        <a class="navbar-brand" href="javascript:void(0);" @onclick='RecruiterDashboard'><img src="/theme/assets/images/logo.png" alt=""></a>
                    }
                </Authorized>
                <NotAuthorized>
                    <a class="navbar-brand" href="javascript:void(0);" @onclick='HandleClick'><img src="/theme/assets/images/logo.png" alt=""></a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="@activeHome">
                    <AuthorizeView>
                        <Authorized>
                            @if (UserType == "Job Seeker")
                            {
                                <a href="javascript:void(0);" @onclick='JobSeekerDashboard'>Dashboard</a>
                            }
                            else if (UserType == "Recruiter")
                            {
                                <a href="javascript:void(0);" @onclick='RecruiterDashboard'>Dashboard</a>
                            }
                        </Authorized>
                        <NotAuthorized>
                            <a href="javascript:void(0);" @onclick="HandleClick">Home</a>
                        </NotAuthorized>
                    </AuthorizeView>
                </li>
                <li class="@activeJobs">
                    <AuthorizeView>
                        <Authorized>
                            @if (UserType == "Job Seeker")
                            {
                            <a href="jobSearch" @onclick="FindJobs">
                                Search Jobs
                                @if (NoOfJobs > 0)
                                {
                                    if (NoOfJobs < 99)
                                    {
                                        <sup class="pill blue">@NoOfJobs</sup>
                                    }
                                    else
                                    {
                                        <sup class="pill blue">99+</sup>
                                    }

                                }
                            </a>
                            }
                        </Authorized>
                        <NotAuthorized>
                            <a href="jobSearch" @onclick="FindJobs">
                                Search Jobs
                                @if (NoOfJobs > 0)
                                {
                                    if (NoOfJobs < 99)
                                    {
                                        <sup class="pill blue">@NoOfJobs</sup>
                                    }
                                    else
                                    {
                                        <sup class="pill blue">99+</sup>
                                    }

                                }
                            </a>
                        </NotAuthorized>
                    </AuthorizeView>

                </li>
                <li class="@activeCVs">
                    <AuthorizeView>
                        <Authorized>
                            @if (UserType == "Recruiter")
                            {
                            <a href="cvSearch" @onclick="FindCvs" class="dropdown-toggle">
                                Search CVs
                                @if (NoOfCVs > 0)
                                {
                                    if (NoOfCVs < 99)
                                    {
                                        <sup class="pill blue">@NoOfCVs</sup>
                                    }
                                    else
                                    {
                                        <sup class="pill blue">99+</sup>
                                    }

                                }
                            </a>
                            }
                        </Authorized>
                        <NotAuthorized>
                            <a href="cvSearch" @onclick="FindCvs" class="dropdown-toggle">
                                Search CVs
                                @if (NoOfCVs > 0)
                                {
                                    if (NoOfCVs < 99)
                                    {
                                        <sup class="pill blue">@NoOfCVs</sup>
                                    }
                                    else
                                    {
                                        <sup class="pill blue">99+</sup>
                                    }

                                }
                            </a>
                        </NotAuthorized>
                    </AuthorizeView>

                </li>
                <li class="@activeAbout"> <a href="aboutUs" @onclick="AboutUs" class="dropdown-toggle">About us</a> </li>
                <li class="@activeContact"> <a href="contacts" @onclick="Contacts" class="dropdown-toggle">Contacts</a> </li>
                <li>
                    <AuthorizeView>
                        <Authorized>
                            @if (UserType == "Job Seeker")
                            {
                                <NavLink class="profile dropdown-toggle" @onclick="() => expandSubNavSettings = !expandSubNavSettings" id="navbarDropdown">
                                    <img src="@ProfilePictureURL" alt="profile"><span>@JobSeekerDetails.FirstName  @JobSeekerDetails.LastName</span><span class="caret"></span>
                                </NavLink>

                                @if (expandSubNavSettings)
                                {
                                    <ul>
                                        <li class="dropdown-menu show" aria-labelledby="navbarDropdown" @onclick="() => expandSubNavSettings = !expandSubNavSettings">
                                            <ul>
                                                <li class="nav-item">
                                                    <NavLink class="nav-link text-dark" href="javascript:;" @onclick="@(() => ShowJobSeekerProfile(JobSeekerDetails.JobSeekerId))">
                                                        <span class="oi oi-fork" aria-hidden="true"></span> My Profile
                                                    </NavLink>
                                                </li>
                                                <li class="nav-item">
                                                    <NavLink class="nav-link text-dark" href="javascript:;" @onclick="(() => Logout())">
                                                        <span class="oi oi-command" aria-hidden="true"></span> Logout
                                                    </NavLink>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                }
                            }
                            else if (UserType == "Recruiter")
                            {
                                <NavLink class="profile dropdown-toggle" @onclick="() => expandSubNavSettings = !expandSubNavSettings" id="navbarDropdown">
                                    <img src="@CompanyLogoURL" alt="logo"><span>@CompanyName</span><span class="caret"></span>
                                </NavLink>

                                @if (expandSubNavSettings)
                                {
                                    <ul>
                                        <li class="dropdown-menu show" aria-labelledby="navbarDropdown" @onclick="() => expandSubNavSettings = !expandSubNavSettings">
                                            <ul>
                                                <li class="nav-item">
                                                    <NavLink class="nav-link text-dark" href="javascript:;" @onclick="@(() => ShowRecruiterProfile(RecruiterDetails.RecruiterId))">
                                                        <span class="oi oi-fork" aria-hidden="true"></span> My Dashboard
                                                    </NavLink>
                                                </li>
                                                <li class="nav-item">
                                                    <NavLink class="nav-link text-dark" href="/" @onclick="(() => Logout())">
                                                        <span class="oi oi-command" aria-hidden="true"></span> Logout
                                                    </NavLink>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                }
                            }

                        </Authorized>
                    </AuthorizeView>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

@code{
    private JobSeeker JobSeekerDetails;
    private Recruiter RecruiterDetails;
    private dynamic UserType = "";
    private ApplicationUser applicationUser;

    private bool expandSubNavSettings;

    private long NoOfCVs = 0;
    private long NoOfJobs = 0;
    private string ProfilePictureURL = "";
    private string CompanyLogoURL = "";
    private string CompanyName = "";

    private string activeHome = "";
    private string activeJobs = "";
    private string activeCVs = "";
    private string activeAbout = "";
    private string activeContact = "";

    protected override async Task OnInitializedAsync()
    {
        applicationUser = new ApplicationUser();
        JobSeekerDetails = new JobSeeker();
        RecruiterDetails = new Recruiter();

        string BaseURI = navigationManager.BaseUri;
        if (navigationManager.Uri == navigationManager.BaseUri)
        {
            await ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsLoggedOut();
        }

        await LoadLoggedInUserDetails();
        await LoadNavCounts();
        //ActivateMenu();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // await LoadNavCounts();
        }
    }
    private async Task LoadLoggedInUserDetails()
    {
        string hostUrl = config["Utility:ClientBaseURL"].ToString();
        string uploadFolderName = config["UploadFolders:UploadFolder"];

        UserType = await localStorage.GetItemAsync<string>("UserType");

        if (UserType == "Job Seeker")
        {
            JobSeekerDetails = await localStorage.GetItemAsync<JobSeeker>("JobSeekerDetails");

            ProfilePictureURL = await localStorage.GetItemAsync<string>("ProfilePictureURL");

            if (!string.IsNullOrEmpty(ProfilePictureURL))
            {
                ProfilePictureURL = hostUrl + uploadFolderName + "/" + ProfilePictureURL;
            }
            else
            {
                ProfilePictureURL = hostUrl + "/theme/assets/images/default-profile-picture.png";
            }
        }

        if (UserType == "Recruiter")
        {
            RecruiterDetails = await localStorage.GetItemAsync<Recruiter>("RecruiterDetails");

            CompanyName = await localStorage.GetItemAsync<string>("CompanyName");
            CompanyLogoURL = await localStorage.GetItemAsync<string>("CompanyLogoURL");

            if (!string.IsNullOrEmpty(CompanyLogoURL))
            {
                CompanyLogoURL = hostUrl + uploadFolderName + "/" + CompanyLogoURL;
            }
            else
            {
                CompanyLogoURL = hostUrl + "/theme/assets/images/default-company-logo.png";
            }
        }
    }
    private async Task LoadNavCounts()
    {
        long seenNoOfCVs = Convert.ToInt64(await localStorage.GetItemAsync<long>("SeenNoOfCVs"));
        long seenNoOfJobs = Convert.ToInt64(await localStorage.GetItemAsync<long>("SeenNoOfJobs"));

        NoOfCVs = Convert.ToInt64(await localStorage.GetItemAsync<long>("NoOfCVs"));
        NoOfJobs = Convert.ToInt64(await localStorage.GetItemAsync<long>("NoOfJobs"));

        //await localStorage.SetItemAsync("SeenNoOfCVs", NoOfCVs);
        //await localStorage.SetItemAsync("SeenNoOfJobs", NoOfJobs);

        NoOfCVs = NoOfCVs - seenNoOfCVs;
        NoOfJobs = NoOfJobs - seenNoOfJobs;
    }
    public async Task Logout()
    {
        await ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsLoggedOut();
        navigationManager.NavigateTo("/", true);
    }

    private void ShowJobSeekerProfile(long JobSeekerId)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(OFWClientPanel.Pages.JobSeekerProfile.JobSeekerId), JobSeekerId);

        Modal.Show<OFWClientPanel.Pages.JobSeekerProfile>("", parameters);
    }

    private void ShowRecruiterProfile(long RecruiterId)
    {
        navigationManager.NavigateTo("/recruiterDashboard", true);
    }

    private void ActivateMenu()
    {
        string URL = navigationManager.Uri;

        ClearActive();

        if (URL.Contains("/jobSearch"))
        {
            activeJobs = "active";
        }
        else if (URL.Contains("/cvSearch"))
        {
            activeCVs = "active";

        }
        else if (URL.Contains("/aboutUs"))
        {
            activeAbout = "active";

        }
        else if (URL.Contains("/contacts"))
        {
            activeContact = "active";

        }
        else
        {
            activeHome = "active";

        }
    }

    private void HandleClick()
    {
        navigationManager.NavigateTo("/",false);
    }

    private void RecruiterDashboard()
    {
        navigationManager.NavigateTo("/recruiterDashboard", false);
    }

    private void JobSeekerDashboard()
    {
        navigationManager.NavigateTo("/jobSeekerDashboard", false);
    }

    private void FindJobs()
    {
        navigationManager.NavigateTo("/jobSearch", false);
    }
    private void FindCvs()
    {
        navigationManager.NavigateTo("/cvSearch", false);
    }
    private void AboutUs()
    {
        navigationManager.NavigateTo("/aboutUs", false);
    }
    private void Contacts()
    {
        navigationManager.NavigateTo("/contacts", false);
    }


    private void ClearActive()
    {
        activeHome = "";
        activeJobs = "";
        activeCVs = "";
        activeAbout = "";
        activeContact = "";
    }
}