/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel {
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
	
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	position: relative;
	float: left;
	z-index:900;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

.owl-blog .owl-item img {
	width:100%;
}

/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

#owl-testimonials .owl-controls{
	position: relative;
	margin-top: 10px;
	text-align: center;
	z-index:1000;
}

.owl-theme .owl-controls{
	position: relative;
	text-align: center;
	z-index:1000;
}

/* Styling Next and Prev buttons */

.owl-header .owl-controls {
	position: relative;
	top:-50px;
	margin-bottom:-40px;
}

.owl-header .owl-controls .owl-buttons {
	position: relative;
	left:calc(50% - 50px);
}

.owl-theme .owl-controls .owl-buttons div{
	color: #10bcfa;
	display: inline-block;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: white;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
.owl-theme .owl-controls .owl-buttons div{
	color: #f65280;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	width:30px;
	height:30px;
	line-height: 27px;
	text-align: center;
	font-size: 11px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: white;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
.owl-fullscreen .owl-controls .owl-buttons div{
	color: white;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	font-size: 10px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #f65280;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
.owl-fullscreen .owl-controls .owl-buttons {
	position: relative;
	bottom:60px;
	right:-30%;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-carousel .owl-controls {
	position: relative;
}

#owl-demo.owl-carousel .owl-controls {
	position: absolute;
	top:50%;
	right:20px;
}

.owl-blog .owl-controls {
	position: absolute;
	width:100%;
	top:50%;
}

.owl-blog .owl-controls .owl-prev {
	position: absolute;
	left:30px;
	width:50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: rgba(0,0,0 ,.8) !important;
	color:white !important;
}

.owl-blog .owl-controls .owl-next {
	position: absolute;
	right:30px;
	width:50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: rgba(0,0,0 ,.8) !important;
	color:white !important;
}

.owl-theme .owl-controls .owl-page {
	display: inline-block;
	zoom: 1;
	position: relative;
	right:5px;
	padding:3px;
	margin: 5px;
}

#owl-demo .owl-controls .owl-page{
	display: block !important;
}

.owl-theme .owl-controls .owl-page.active{
	border-radius:50%;
}

.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	border:1px solid #f65280;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: white;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	background: #f65280;
	border:1px solid #f65280;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}